<h3>Site Statistics <small>{{::statsDataSource.statsData.date}}</small></h3>
<!-- Number of entries -->
<div class="panel panel-default">
	<div class="panel-body">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Number of entries</h3>
			</div>
			<div class="panel-body">
				{{::statsDataSource.statsData.totalEntries}}
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Content growth</h3>
			</div>
			<div class="panel-body">
				<div class="spinner" ng-if="statsDataSource.isLoadingTotalEntriesData" style="text-align:center;">
					<i class="fa fa-spinner fa-3x fa-spin icon-cog" style="margin:40px; display:inline-block;"></i>
				</div>
				<canvas ng-if="!statsDataSource.isLoadingTotalEntriesData" id="content_growth" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick">
				</canvas> 
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Total annotations</h3>
			</div>
			<div class="panel-body">
				<div class="spinner" ng-if="statsDataSource.isLoadingTotalAnnotationsStats" style="text-align:center;">
					<i class="fa fa-spinner fa-3x fa-spin icon-cog" style="margin:40px; display:inline-block;"></i>
				</div>
				<canvas ng-if="!statsDataSource.isLoadingTotalAnnotationsStats" id="total_annotations1" class="chart chart-line" chart-data="dataTotalAnnotation" chart-labels="labels" chart-series="seriesTotalAnnotation" chart-options="totalAnnotationOptions" chart-dataset-override="datasetOverride" chart-click="onClick">
				</canvas> 
				<canvas ng-if="!statsDataSource.isLoadingTotalAnnotationsStats" id="total_annotations2" class="chart chart-line" chart-data="dataTotalAnnotationDetail" chart-labels="labels" chart-series="seriesTotalAnnotationDetail" chart-options="totalAnnotationOptions" chart-dataset-override="datasetOverride" chart-click="onClick">
				</canvas> 
			</div>
			<table class="table">
				<tr>
					<th>Annotation type</th>
					<th width="30%">Number of entries</th> 
				</tr>
				<tr>
					<td>Name</td>
					<td>{{::statsDataSource.statsData.totalAnnotationCount.nameAnnotationCount}}</td>
				</tr>
				<tr>
					<td>Description</td>
					<td>{{::statsDataSource.statsData.totalAnnotationCount.descriptionAnnotationCount}}</td>
				</tr>
				<tr>
					<td>Homepage</td>
					<td>{{::statsDataSource.statsData.totalAnnotationCount.homepageAnnotationCount}}</td>
				</tr>
				<tr>
					<td>Tool Type</td>
					<td>{{::statsDataSource.statsData.totalAnnotationCount.toolTypeAnnotationCount}}</td>
				</tr>
				<tr>
					<td>Unique ID</td>
					<td>{{::statsDataSource.statsData.totalAnnotationCount.uniqueIDAnnotationCount}}</td>
				</tr>
				<tr>
					<td>Topic</td>
					<td>{{::statsDataSource.statsData.totalAnnotationCount.topicAnnotationCount}}</td>
				</tr>
				<tr>
					<td>Publication</td>
					<td>{{::statsDataSource.statsData.totalAnnotationCount.publicationAnnotationCount}}</td>
				</tr>
				<tr>
					<td>Contact</td>
					<td>{{::statsDataSource.statsData.totalAnnotationCount.contactAnnotationCount}}</td>
				</tr>
				<tr>
					<td>Operation</td>
					<td>{{::statsDataSource.statsData.totalAnnotationCount.operationAnnotationCount}}</td>
				</tr>
				<tr>
					<td>Documentation</td>
					<td>{{::statsDataSource.statsData.totalAnnotationCount.documentationAnnotationCount}}</td>
				</tr>
				<tr>
					<td>Operating System</td>
					<td>{{::statsDataSource.statsData.totalAnnotationCount.operatingSystemAnnotationCount}}</td>
				</tr>
				<tr>
					<td>Input Output</td>
					<td>{{::statsDataSource.statsData.totalAnnotationCount.inputOutputAnnotationCount}}</td>
				</tr>
				<tr>
					<td>Code availability</td>
					<td>{{::statsDataSource.statsData.totalAnnotationCount.codeAvailabilityAnnotationCount}}</td>
				</tr>
				<tr>
					<td>Accessibility</td>
					<td>{{::statsDataSource.statsData.totalAnnotationCount.accessibilityAnnotationCount}}</td>
				</tr>
				<tr>
					<td>Data format</td>
					<td>{{::statsDataSource.statsData.totalAnnotationCount.dataFormatsAnnotationCount}}</td>
				</tr>
				<tr>
					<td>Community</td>
					<td>{{::statsDataSource.statsData.totalAnnotationCount.communityAnnotationCount}}</td>
				</tr>
				<tr>
					<td>Downloads</td>
					<td>{{::statsDataSource.statsData.totalAnnotationCount.downloadsAnnotationCount}}</td>
				</tr>
				<tr>
					<td><b>Total</b></td>
					<td>{{::statsDataSource.totalAnnotationsCount()}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<!-- Number of users -->
<div class="panel panel-default">
	<div class="panel-body">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Number of contributors</h3>
			</div>
			<div class="panel-body">
				{{::statsDataSource.statsData.totalUsers}}
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Contributor growth over time</h3>
			</div>
			<div class="panel-body">
				<div class="spinner" ng-if="statsDataSource.isLoadingUserStatsData" style="text-align:center;">
					<i class="fa fa-spinner fa-3x fa-spin icon-cog" style="margin:40px; display:inline-block;"></i>
				</div>
				<canvas ng-if="!statsDataSource.isLoadingUserStatsData" id="users_growth" class="chart chart-line" chart-data="dataUsers" chart-labels="labelsUsers" chart-series="seriesUsers" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick">
				</canvas> 
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Top contributors by top level domain</h3>
			</div>
			<div class="panel-body">
				<div class="spinner" ng-if="statsDataSource.isLoadingUserStatsData" style="text-align:center;">
					<i class="fa fa-spinner fa-3x fa-spin icon-cog" style="margin:40px; display:inline-block;"></i>
				</div>
				<canvas id="doughnut" class="chart chart-pie" chart-data="topContributorsData" chart-labels="topContributorsLabels" chart-options="topContributorsOptions"></canvas> 
		</div>
	</div>
</div>
</div>
<!-- EDAM stats -->
<div class="panel panel-default">
	<div class="panel-body">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Number of EDAM annotations</h3>
			</div>
			<div class="panel-body">
				{{::statsDataSource.statsData.edamAnnotationsCount}}
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">EDAM annotations (total)</h3>
			</div>
			<div class="panel-body">
				<div class="spinner" ng-if="statsDataSource.isLoadingTotalEntriesData" style="text-align:center;">
					<i class="fa fa-spinner fa-3x fa-spin icon-cog" style="margin:40px; display:inline-block;"></i>
				</div>
				<canvas ng-if="!statsDataSource.isLoadingTotalEntriesData" id="edam_growth" class="chart chart-line" chart-data="dataEDAM" chart-labels="labels" chart-series="seriesEDAM" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick">
				</canvas> 
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">EDAM annotations (breakdown)</h3>
			</div>
			<div class="panel-body">
				<div class="spinner" ng-if="statsDataSource.isLoadingTotalEntriesData" style="text-align:center;">
					<i class="fa fa-spinner fa-3x fa-spin icon-cog" style="margin:40px; display:inline-block;"></i>
				</div>
				<canvas ng-if="!statsDataSource.isLoadingTotalEntriesData" id="edam_growth_breakdown" class="chart chart-line" chart-data="dataEDAMBreakdown" chart-labels="labels" chart-series="seriesEDAMBreakdown" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick">
				</canvas> 
			</div>
			<table class="table">
				<tr>
					<th>EDAM annotation type</th>
					<th width="30%">Number of entries</th> 
				</tr>
				<tr>
					<td>Topic</td>
					<td>{{::statsDataSource.statsData.topicAnnotationsCount}}</td>
				</tr>
				<tr>
					<td>Function</td>
					<td>{{::statsDataSource.statsData.functionAnnotationsCount}}</td>
				</tr>
				<tr>
					<td>Data Type</td>
					<td>{{::statsDataSource.statsData.dataTypeAnnotationsCount}}</td>
				</tr>
				<tr>
					<td>Data Format</td>
					<td>{{::statsDataSource.statsData.formatAnnotationsCount}}</td>
				</tr>
			</table>
		</div>
<!-- 		<div class="panel panel-default">
			<table class="table">
				<tr>
					<th>Resource Type</th>
					<th width="30%">Number of entries</th> 
				</tr>
				<tr ng-repeat="resourceInfo in ::statsDataSource.statsData.entriesByResourceType">
					<td>{{::resourceInfo.resourceType}}</td>
					<td>{{::resourceInfo.count}}</td>
				</tr>
			</table>
		</div>
		<div class="panel panel-default">
			<table class="table">
				<tr>
					<th>Interface Type</th>
					<th width="30%">Number of entries</th> 
				</tr>
				<tr ng-repeat="interfaceInfo in ::statsDataSource.statsData.entriesByInterfaceType">
					<td>{{::interfaceInfo.interfaceType}}</td>
					<td>{{::interfaceInfo.count}}</td>
				</tr>
			</table>
		</div> -->
	</div>
</div>
<div class="panel panel-default">
	<!-- Create a table for Terms and number of EDAM annotations for top topics -->
	<div class="panel-heading">
		<h3 class="panel-title">Terms and number of EDAM annotations for top 10 topics, functions, data and formats</h3>
	</div>
	<div class="panel-body">
		<div class="panel panel-default">
			<!-- Create a table for Terms and number of EDAM annotations for top topics -->
			<table class="table">
				<tr>
					<th>Topic</th>
					<th width="30%">Number of entries</th> 
				</tr>
				<tr ng-repeat="topicInfo in ::statsDataSource.statsData.topTopics">
					<td>{{::topicInfo.topic}}</td>
					<td>{{::topicInfo.count}}</td>
				</tr>
			</table>
		</div>
		<div class="panel panel-default">
			<!-- Create a table for Terms and number of EDAM annotations for top functions -->
			<table class="table">
				<tr>
					<th>Function</th>
					<th width="30%">Number of entries</th> 
				</tr>
				<tr ng-repeat="functionInfo in ::statsDataSource.statsData.topFunctions">
					<td>{{::functionInfo.function}}</td>
					<td>{{::functionInfo.count}}</td>
				</tr>
			</table>
		</div>
		<div class="panel panel-default">
			<!-- Create a table for Terms and number of EDAM annotations for top data type -->
			<table class="table">
				<tr>
					<th>Data type</th>
					<th width="30%">Number of entries</th> 
				</tr>
				<tr ng-repeat="dataTypeInfo in ::statsDataSource.statsData.topDataTypes">
					<td>{{::dataTypeInfo.dataType}}</td>
					<td>{{::dataTypeInfo.count}}</td>
				</tr>
			</table>
		</div>
		<div class="panel panel-default">
			<!-- Create a table for Terms and number of EDAM annotations for top data formats -->
			<table class="table">
				<tr>
					<th>Format</th>
					<th width="30%">Number of entries</th> 
				</tr>
				<tr ng-repeat="dataFormatInfo in ::statsDataSource.statsData.topDataFormats">
					<td>{{::dataFormatInfo.dataFormat}}</td>
					<td>{{::dataFormatInfo.count}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<!-- Number of affiliations -->
<!-- <div class="panel panel-default">
	<div class="panel-body">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Number of affiliations</h3>
			</div>
			<div class="panel-body">
				{{::statsDataSource.statsData.creditAffiliationCount}}
			</div>
		</div>
		<div class="panel panel-default">
			Create a table for affiliations
			<table class="table">
				<tr>
					<th>Affiliation</th>
					<th width="30%">Number of entries</th> 
				</tr>
				<tr ng-repeat="affiliationInfo in ::statsDataSource.statsData.entriesByAffiliation">
					<td>{{::affiliationInfo.affiliation}}</td>
					<td>{{::affiliationInfo.count}}</td>
				</tr>
			</table>
		</div>
	</div>
</div> -->
<!-- Create a table for top searches -->
<!-- <p><strong>Top search queries </strong></p>
<table>
	<tr>
		<th>Term</th>
		<th>Type</th>
		<th># entries</th> 
	</tr>
	<tr ng-repeat="searchQueryInfo in ::statsDataSource.statsData.topSearchStats">
		<th>{{::searchQueryInfo.term}}</th>
		<th>{{::searchQueryInfo.type}}</th>
		<th>{{::searchQueryInfo.count}}</th>
	</tr>
</table>
<br> -->
