<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<!-- No data is loaded yet - display spinner -->
			<div class="spinner" ng-if="statsDataSource.isLoadingData" style="text-align:center;">
				<i class="fa fa-spinner fa-5x fa-spin icon-cog" style="margin:40px; display:inline-block;"></i>
			</div>
			<!-- Data is loaded - handle content -->
			<div ng-if="!statsDataSource.isLoadingData" class="stats">
				<div ng-include="'/components/stats/stats_page.html'"></div>
			</div>
		</div>
	</div>
</div>
