# Environment variables. Copy this file to .env and edit/comment out the values as needed.

BIOTOOLS_DEBUG=True

BIOTOOLS_DEPLOYMENT=dev
BIOTOOLS_URL_FRONT=http://localhost/

BIOTOOLS_ELASTIC_SEARCH_URLS=http://elasticsearch:9200
BIOTOOLS_GITHUB_ECOSYSTEM_ON=False

# Required in production
BIOTOOLS_SECRET_KEY=your-secret-key

BIOTOOLS_MYSQL_PORT=3306
BIOTOOLS_MYSQL_DB=elixir
BIOTOOLS_MYSQL_HOST=biotools-mysql
BIOTOOLS_MYSQL_USER=elixir
BIOTOOLS_MYSQL_PASSWORD=123

# EMAIL SETTINGS
BIOTOOLS_EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
BIOTOOLS_EMAIL_HOST=smtp.zoho.com
BIOTOOLS_EMAIL_HOST_USER=support@bio.tools
BIOTOOLS_EMAIL_USE_SSL=True
BIOTOOLS_EMAIL_PORT=465
BIOTOOLS_DEFAULT_FROM_EMAIL=support@bio.tools

# ORCID SETTINGS
BIOTOOLS_ORCID_BASE_DOMAIN=https://orcid.org
BIOTOOLS_ORCID_CLIENT_ID=your-client-id
BIOTOOLS_ORCID_CLIENT_SECRET=your-client-secret
BIOTOOLS_ORCID_CALLBACK_URL=http://localhost/orcid/callback/
