backend/elixirapp/deployment_settings.py
backend/elixir/blacklisted_domains.py
backend/data/edam/json/*
!backend/data/edam/json/.gitkeep
backend/data/edam/owl/*
!backend/data/edam/owl/.gitkeep
backend/elixir/ecosystem/__secret_settings__.py

frontend/bower_components/
frontend/node_modules/
frontend/dist/

node_modules/
deployment/
prerender/

*.log
/logs
/logs/*
*.DS_Store
*.pyc
.idea
*.sh
.venv/
.vscode/
