frontend/bower_components/
frontend/node_modules/
frontend/dist/
*.pyc
backend/elixirapp/deployment_settings.py
backend/elixir/blacklisted_domains.py
*.DS_Store
deployment/
prerender/
backend/data/edam/json/*
!backend/data/edam/json/.gitkeep
backend/data/edam/owl/*
!backend/data/edam/owl/.gitkeep 
*.log
/logs
/logs/*
*__secret_settings__.py*
backend/elixir/ecosystem/__secret_settings__.py
.idea
