frontend/bower_components/
frontend/node_modules/
*.pyc
backend/elixirapp/deployment_settings.py
*.DS_Store
deployment/
backend/data/edam/json/*
!backend/data/edam/json/.gitkeep
backend/data/edam/owl/*
!backend/data/edam/owl/.gitkeep 
*.log
*__secret_settings__.py*
