defusedxml==0.6.0
Django==5.2.4
django-allauth==65.3.1
django-background-tasks==1.2.8
django-compat==1.0.15
django-extensions==3.2.3
djangorestframework==3.15.2
djangorestframework-xml==2.0.0
djangorestframework-yaml==2.0.0
djangorestframework-simplejwt==5.4.0
dj-rest-auth==7.0.1
elasticsearch==7.12.1
jsonfield==3.1.0
lxml==5.3.0
mysqlclient==2.0.1
oauthlib==3.3.1
Pillow==11.3.0
pyparsing==3.2.3
python-dateutil==2.9.0
python3-openid==3.2.0
pytz==2025.2
PyYAML==6.0.2
requests==2.32.4
requests-oauthlib==2.0.0
six==1.17.0
urllib3==1.26.20
PyGithub==1.54.1
rstr==3.2.2
