
.bs-callout {
    padding: 40px;
    border: 1px solid #eee;
    border-left-width: 4px;
    border-radius: 4px;
}

.bs-callout-sm {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 15px;
    border: 1px solid #eee;
    border-left-width: 4px;
    border-radius: 4px;
    padding-left: 15px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 4px;
}

.bs-callout-md {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 14px;
    border: 1px solid #eee;
    border-left-width: 4px;
    border-radius: 4px;
    padding-left: 20px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 4px;
}

.bs-callout-outline-md {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 14px;
    border: 1px solid #eee;
    border-left-width: 1px;
    border-radius: 4px;
    padding-left: 20px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 4px;
}


*.bs-callout:empty {
   padding: 20px;
   margin: 0px;
   border: none;   
}


.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}

.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

.bs-callout-default {
    border-left-color: #ED7520;
}

.bs-callout-default h4 {
    color: #ED7520;
}
