
.reorder-icons {
    display: inline-flex;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 4px;
    gap: 8px;
    margin-bottom: 8px;
    font-size: 12px;
  }

.radio input[type="radio"] {
    width: auto !important;
  }
