<div class="ui-grid-cell-contents " bindonce ng-controller="ToolGridCellController" ng-init="init(col.colDef.name, grid.renderContainers.body.visibleRowCache.indexOf(row))">
	<div ng-if="RowHeight() > DefaultRowHeight()">
		<div class="ui-grid-read-more-button" ng-style="CellStyle()"><a ui-sref="tool({id: row.entity.biotoolsID, version: row.entity.versionId})">Read More ›</a></div>
	</div>
	<div ng-if="COL_FIELD.length == 0" id="{{::RowIdentifier()}}">-</div>
	<div ng-if="COL_FIELD.length != 0" id="{{::RowIdentifier()}}">
		<ul style="list-style-type:circle">
			<li ng-repeat="credit in COL_FIELD">	
				<div class="list-group-item-text" ng-show="credit.name"><strong>{{ credit.name }}</strong></div>
				<div class="list-group-item-text" ng-show="credit.email">
					<a href="mailto:{{ credit.email }}"><i class="fa fa-envelope-o" aria-hidden="true"></i></a> <span>{{ credit.email.replace('@', ' at ') | highlight:grid.appScope.Highlighting.terms }}</span>
				</div>
				<div class="list-group-item-text" ng-show="credit.url"><a ng-href="{{credit.url}}" target="_blank">{{credit.url}}</a></div>
				
				<div class="list-group-item-text">
					<small ng-show ="credit.typeEntity">{{credit.typeEntity}}</small><br>
					<small ng-repeat="role in credit.typeRole">{{role}}{{$last ? "" : ", "}}</small>
					<i class="fa fa-info-circle hidden-xs hidden-sm" ng-show="credit.note" tooltips tooltip-side="top" tooltip-content="{{ credit.note }}"></i>
				</div>
				<div class="list-group-item-text" ng-show="credit.orcidid">
					<a ng-href="{{credit.orcidid}}" target="_blank">ORCID iD</a></div>
				</div>
			</li>

		</ul>
	</div>
</div>
