<div class="ui-grid-cell-contents" ng-controller="ToolGridCellController" ng-init="init(col.colDef.name, grid.renderContainers.body.visibleRowCache.indexOf(row))">
	<div ng-if="RowHeight() > DefaultRowHeight()">
		<div class="ui-grid-read-more-button" ng-style="CellStyle()"><a ui-sref="tool({id: row.entity.biotoolsID, version: row.entity.versionId})">Read More ›</a></div>
	</div>
	<div ng-if="COL_FIELD === null">-</div>
	<div ng-if="COL_FIELD !== null" id="{{::RowIdentifier()}}">
		<span bindonce bo-html="COL_FIELD | highlight:grid.appScope.Highlighting.terms"></span>
	</div
</div>
