<div ng-form name="inner_form">
<div ng-repeat="toolAttribute in toolAttributeModel" ng-if="!toolAttribute.hidden">
	<div class="form-group" ng-if="(toolInstance[toolAttribute.attrName] != undefined && toolInstance[toolAttribute.attrName].length > 0) || (toolAttribute.multipleVal != 'true' && toolAttribute.type != 'complex') || (toolAttribute.type == 'complex' && toolInstance[toolAttribute.attrName] != undefined)">
		<label>
			<span popover-placement="top" popover="{{ toolAttribute.description }}" popover-popup-delay="0" popover-trigger="mouseenter">{{ toolAttribute.text }}</span> 
			<span style="color:#ff0000;" ng-show="{{ toolAttribute.required }}"><b>*</b></span>
		</label>
		<div ng-switch on="toolAttribute.type">
			<!-- Text input -->
			<div ng-switch-when="text">
				<div ng-switch on="toolAttribute.multipleVal">
					<!-- Multiple values -->
					<div ng-switch-when="true">
						<div class="panel panel-default">
							<div class="panel-body">
								<div ng-repeat="entry in toolInstance[toolAttribute.attrName] track by $index">
									<div class="row">
										<!-- Element -->
										<div elx-input-text tool-attribute-model="toolAttribute" tool-instance="toolInstance[toolAttribute.attrName][$index]" form="inner_form[toolInstance[toolAttribute.attrName]]" class="pull-left col-md-10 col-sm-10 col-xs-10"></div>
										<!-- Remove button -->
										<div elx-remove-tool-attribute-button tool-attribute-model="toolAttribute" on-click="removeAttribute(toolInstance[toolAttribute.attrName], toolAttribute.attrName, $index, $event)" class="pull-right col-md-2 col-sm-2 col-xs-2" style="margin-top:6px;"></div>
										</div>
									</div>
								<!-- Add button -->
								<div elx-add-tool-attribute-button last="true" tool-attribute-model="toolAttribute" tool-instance="toolInstance" on-click="addAttribute( toolAttribute )"></div>
							</div>
						</div>
					</div>
					<!-- Single value -->
					<div ng-switch-default>
						<!-- Element -->
						<div elx-input-text tool-attribute-model="toolAttribute" tool-instance="toolInstance[toolAttribute.attrName]" form="inner_form"></div>
					</div>
				</div>
			</div>
			<!-- Enum input -->
			<div ng-switch-when="enum">
				<div ng-switch on="toolAttribute.multipleVal">
					<!-- Multiple values -->
					<div ng-switch-when="true">
						<div class="panel panel-default">
							<div class="panel-body">
								<div ng-repeat="entry in toolInstance[toolAttribute.attrName] track by $index">
									<div class="row">
										<!-- Element -->
										<div elx-input-select tool-attribute-model="toolAttribute" tool-instance="toolInstance[toolAttribute.attrName][$index]" form="inner_form[toolInstance[toolAttribute.attrName]]" class="pull-left col-md-11 col-sm-11 col-xs-11"></div>
										<!-- Remove button -->
										<div elx-remove-tool-attribute-button tool-attribute-model="toolAttribute" on-click="removeAttribute(toolInstance[toolAttribute.attrName], toolAttribute.attrName, $index, $event)" class="pull-right col-md-1 col-sm-1 col-xs-1" style="margin-top:6px;"></div>
									</div>
								</div>
								<!-- Add button -->
								<div elx-add-tool-attribute-button last="true" tool-attribute-model="toolAttribute" tool-instance="toolInstance" on-click="addAttribute( toolAttribute )"></div>
							</div>
						</div>
					</div>
					<!-- Single value -->
					<div ng-switch-default>
						<!-- Element -->
						<div elx-input-select tool-attribute-model="toolAttribute" tool-instance="toolInstance[toolAttribute.attrName]" form="inner_form"></div>
					</div>
				</div>
			</div>
			<!-- URL input -->
			<div ng-switch-when="url">
				<div ng-switch on="toolAttribute.multipleVal">
					<!-- Multiple values -->
					<div ng-switch-when="true">
						<div class="panel panel-default">
							<div class="panel-body">
								<div ng-repeat="entry in toolInstance[toolAttribute.attrName] track by $index">
									<div class="row">
										<!-- Element -->
										<div elx-input-url tool-attribute-model="toolAttribute" tool-instance="toolInstance[toolAttribute.attrName][$index]" form="inner_form" class="pull-left col-md-12 col-sm-12 col-xs-12"></div>
										<!-- Remove button -->
										<div elx-remove-tool-attribute-button tool-attribute-model="toolAttribute" on-click="removeAttribute(toolInstance[toolAttribute.attrName], toolAttribute.attrName, $index, $event)"></div>
									</div>
								</div>
								<!-- Add button -->
								<div elx-add-tool-attribute-button last="true" tool-attribute-model="toolAttribute" tool-instance="toolInstance" on-click="addAttribute( toolAttribute )"></div>
							</div>
						</div>
					</div>
					<!-- Single value -->
					<div ng-switch-default>
						<!-- Element -->
						<div elx-input-url tool-attribute-model="toolAttribute" tool-instance="toolInstance[toolAttribute.attrName]" form="inner_form"></div>
					</div>
				</div>
			</div>
			<!-- Email input -->
			<div ng-switch-when="email">
				<div ng-switch on="toolAttribute.multipleVal">
					<!-- Multiple values -->
					<div ng-switch-when="true">
						<div class="panel panel-default">
							<div class="panel-body">
								<div ng-repeat="entry in toolInstance[toolAttribute.attrName] track by $index">
									<div class="row">
										<!-- Element -->
										<div elx-input-email tool-attribute-model="toolAttribute" tool-instance="toolInstance[toolAttribute.attrName][$index]" form="inner_form" class="pull-left col-md-12 col-sm-12 col-xs-12"></div>
										<!-- Remove button -->
										<div elx-remove-tool-attribute-button tool-attribute-model="toolAttribute" on-click="removeAttribute(toolInstance[toolAttribute.attrName], toolAttribute.attrName, $index, $event)"></div>
									</div>
								</div>
								<!-- Add button -->
								<div elx-add-tool-attribute-button last="true" tool-attribute-model="toolAttribute" tool-instance="toolInstance" on-click="addAttribute( toolAttribute )"></div>
							</div>
						</div>
					</div>
					<!-- Single value -->
					<div ng-switch-default>
						<!-- Element -->
						<div elx-input-email tool-attribute-model="toolAttribute" tool-instance="toolInstance[toolAttribute.attrName]" form="inner_form"></div>
					</div>
				</div>
			</div>
			<!-- Phone input -->
			<div ng-switch-when="number">
				<div ng-switch on="toolAttribute.multipleVal">
					<!-- Multiple values -->
					<div ng-switch-when="true">
						<div class="panel panel-default">
							<div class="panel-body">
								<div ng-repeat="entry in toolInstance[toolAttribute.attrName] track by $index">
									<div class="row">
										<!-- Element -->
										<div elx-input-phone tool-attribute-model="toolAttribute" tool-instance="toolInstance[toolAttribute.attrName][$index]" form="inner_form" class="pull-left col-md-12 col-sm-12 col-xs-12"></div>
										<!-- Remove button -->
										<div elx-remove-tool-attribute-button tool-attribute-model="toolAttribute" on-click="removeAttribute(toolInstance[toolAttribute.attrName], toolAttribute.attrName, $index, $event)"></div>
									</div>
								</div>
								<!-- Add button -->
								<div elx-add-tool-attribute-button last="true" tool-attribute-model="toolAttribute" tool-instance="toolInstance" on-click="addAttribute( toolAttribute )"></div>
							</div>
						</div>
					</div>
					<!-- Single value -->
					<div ng-switch-default>
						<!-- Element -->
						<div elx-input-phone tool-attribute-model="toolAttribute" tool-instance="toolInstance[toolAttribute.attrName]" form="inner_form"></div>
					</div>
				</div>
			</div>
			<!-- Ontology input -->
			<div ng-switch-when="ontology">
				<div ng-switch on="toolAttribute.multipleVal">
					<!-- Multiple values -->
					<div ng-switch-when="true">
						<div class="panel panel-default">
							<div class="panel-body">
								<div ng-repeat="entry in toolInstance[toolAttribute.attrName] track by $index">
									<div class="row">
										<!-- Element -->
										<div elx-input-ontology tool-attribute-model="toolAttribute" tool-instance="toolInstance[toolAttribute.attrName][$index]" form="inner_form" class="pull-left col-md-10 col-sm-10 col-xs-10"></div>
										<!-- Remove button -->
										<div elx-remove-tool-attribute-button tool-attribute-model="toolAttribute" on-click="removeAttribute(toolInstance[toolAttribute.attrName], toolAttribute.attrName, $index, $event)" ng-if="$index == toolInstance[toolAttribute.attrName].length-1" class="pull-right col-md-2 col-sm-2 col-xs-2" style="margin-top:6px;"></div>
									</div>
								</div>
								<!-- Add button -->
								<div elx-add-tool-attribute-button last="true" tool-attribute-model="toolAttribute" tool-instance="toolInstance" on-click="addAttribute( toolAttribute )"></div>
							</div>
						</div>
					</div>
					<!-- Single value -->
					<div ng-switch-default>
						<!-- Element -->
						<div elx-input-ontology tool-attribute-model="toolAttribute" tool-instance="toolInstance[toolAttribute.attrName]" form="inner_form"></div>
						<div style="clear:both"></div>
					</div>
				</div>
			</div>
			<!-- Complex input -->
			<div ng-switch-when="complex">
				<div ng-switch on="toolAttribute.multipleVal">
					<!-- Multiple values -->
					<div ng-switch-when="true">
						<div class="panel panel-default">
							<div class="panel-body">
								<div ng-repeat="entry in toolInstance[toolAttribute.attrName] track by $index">
									<div class="panel panel-default">
										<div class="panel-body">
											<!-- Remove button -->
											<div elx-remove-tool-attribute-button tool-attribute-model="toolAttribute" on-click="removeAttribute(toolInstance[toolAttribute.attrName], toolAttribute.attrName, $index, $event)"></div>
											<!-- Element -->
											<div elx-complex-attr-compiler tool-attribute-model="toolAttribute.fields" tool-instance="toolInstance[toolAttribute.attrName][$index]" form="inner_form"></div>
											<hr ng-show="toolAttribute.multipleVal == true">
										</div>
									</div>
								</div>
								<!-- Add button -->
								<div elx-add-tool-attribute-button last="true" tool-attribute-model="toolAttribute" tool-instance="toolInstance" on-click="addAttribute( toolAttribute )"></div>
							</div>
							<div style="clear:both"></div>
						</div>
					</div>
					<!-- Single value -->
					<div ng-switch-default>
						<!-- Remove button -->
						<div elx-remove-tool-attribute-button tool-attribute-model="toolAttribute" on-click="removeAttributeSingle(toolAttribute.attrName)" class="pull-right col-md-1 col-sm-1 col-xs-1" style="margin-top:6px;"></div>
						<!-- Element -->
						<div class="panel panel-default">
							<div class="panel-body">
								<div elx-complex-attr-compiler tool-attribute-model="toolAttribute.fields" tool-instance="toolInstance[toolAttribute.attrName]" form="inner_form"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-if="(toolInstance[toolAttribute.attrName] == undefined || toolInstance[toolAttribute.attrName].length == 0) && (toolAttribute.multipleVal == 'true' || toolAttribute.type == 'complex')">
		<div class="form-group">
			<label>
				<span popover-placement="top" popover="{{ toolAttribute.description }}" popover-popup-delay="0" popover-trigger="mouseenter">{{ toolAttribute.text }}</span> 
				<span style="color:#ff0000;" ng-show="{{ toolAttribute.required }}"><b>*</b></span>
			</label>
			<div class="form-group">
				<button class="btn btn-default btn-xs" type="button" ng-click="addAttribute( toolAttribute )">Add</button>
			</div>
		</div>
	</div>
</div>
</div>