<div ng-form name="inner_form">
<div ng-repeat="toolAttribute in toolAttributeModel" ng-if="!toolAttribute.hidden">
	<div class="form-group">
		<label>
			<span popover-placement="top" popover="{{ toolAttribute.description }}" popover-popup-delay="0" popover-trigger="mouseenter">{{ toolAttribute.text }}</span>&nbsp;
			<a ng-if="toolAttribute.type == 'complex' && toolInstance[toolAttribute.attrName] != undefined && toolInstance[toolAttribute.attrName].length > 0" style="cursor: pointer; cursor: hand;" ng-click="toolAttribute.expanded = !toolAttribute.expanded"><span ng-if="toolAttribute.expanded" class="glyphicon glyphicon-chevron-up pull-right"></span><span ng-if="!toolAttribute.expanded" class="glyphicon glyphicon-chevron-down pull-right"></span></a>
		</label>
		<div ng-if="((toolAttribute.multipleVal=='true' && toolInstance[toolAttribute.attrName] == undefined || toolInstance[toolAttribute.attrName].length == 0) || (toolAttribute.multipleVal!='true' && toolInstance[toolAttribute.attrName] == undefined)) && !(toolAttribute.type == 'complex' && toolAttribute.multipleVal != 'true')">
			<span>&lt;No information&gt;</span>
		</div>
		<div ng-if="((toolAttribute.multipleVal=='true' && toolInstance[toolAttribute.attrName] != undefined && toolInstance[toolAttribute.attrName].length > 0) || (toolAttribute.multipleVal!='true' && toolInstance[toolAttribute.attrName] != undefined))">
			<div ng-switch on="toolAttribute.type" ng-if="toolAttribute.attrName != 'tag'">
				<!-- Text input -->
				<div ng-switch-when="text">
					<div ng-switch on="toolAttribute.multipleVal">
						<!-- Multiple values -->
						<div ng-switch-when="true">
							<div ng-repeat="entry in toolInstance[toolAttribute.attrName] track by $index">
								<!-- Element -->
								- {{toolInstance[toolAttribute.attrName][$index]}}
							</div>
						</div>
						<!-- Single value -->
						<div ng-switch-default>
							<!-- Element -->
							{{toolInstance[toolAttribute.attrName]}}
						</div>
					</div>
				</div>
				<!-- Enum input -->
				<div ng-switch-when="enum">
					<div ng-switch on="toolAttribute.multipleVal">
						<!-- Multiple values -->
						<div ng-switch-when="true">
							<div class="panel panel-default">
								<div class="panel-body">
									<div ng-repeat="entry in toolInstance[toolAttribute.attrName] track by $index">
										<div class="row">
											<!-- Element -->
											- {{toolInstance[toolAttribute.attrName][$index]}}
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Single value -->
						<div ng-switch-default>
							<!-- Element -->
							{{toolInstance[toolAttribute.attrName]}}
						</div>
					</div>
				</div>
				<!-- URL input -->
				<div ng-switch-when="url">
					<div ng-switch on="toolAttribute.multipleVal">
						<!-- Multiple values -->
						<div ng-switch-when="true">
							<div class="panel panel-default">
								<div class="panel-body">
									<div ng-repeat="entry in toolInstance[toolAttribute.attrName] track by $index">
										<div class="row">
											<!-- Element -->
											<a href="{{toolInstance[toolAttribute.attrName][$index]}}">{{toolInstance[toolAttribute.attrName][$index]}}</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Single value -->
						<div ng-switch-default>
							<!-- Element -->
							<a href="{{toolInstance[toolAttribute.attrName]}}">{{toolInstance[toolAttribute.attrName]}}</a>
						</div>
					</div>
				</div>
				<!-- Email input -->
				<div ng-switch-when="email">
					<div ng-switch on="toolAttribute.multipleVal">
						<!-- Multiple values -->
						<div ng-switch-when="true">
							<div class="panel panel-default">
								<div class="panel-body">
									<div ng-repeat="entry in toolInstance[toolAttribute.attrName] track by $index">
										<div class="row">
											<!-- Element -->
											{{toolInstance[toolAttribute.attrName][$index]}}
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Single value -->
						<div ng-switch-default>
							<!-- Element -->
							{{toolInstance[toolAttribute.attrName]}}
						</div>
					</div>
				</div>
				<!-- Phone input -->
				<div ng-switch-when="number">
					<div ng-switch on="toolAttribute.multipleVal">
						<!-- Multiple values -->
						<div ng-switch-when="true">
							<div class="panel panel-default">
								<div class="panel-body">
									<div ng-repeat="entry in toolInstance[toolAttribute.attrName] track by $index">
										<div class="row">
											<!-- Element -->
											{{toolInstance[toolAttribute.attrName][$index]}}
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Single value -->
						<div ng-switch-default>
							<!-- Element -->
							{{toolInstance[toolAttribute.attrName]}}
						</div>
					</div>
				</div>
				<!-- Ontology input -->
				<div ng-switch-when="ontology">
					<div ng-switch on="toolAttribute.multipleVal">
						<!-- Multiple values -->
						<div ng-switch-when="true">
							<div class="panel panel-default">
								<div class="panel-body" style="padding-bottom:0px;">
									<div ng-repeat="entry in toolInstance[toolAttribute.attrName] track by $index">
										<div class="row">
											<span class="col-md-10 col-sm-10 col-xs-10"><u>{{toolInstance[toolAttribute.attrName][$index].term}}</u></span>
											<!-- Element -->
											<div elx-input-ontology-read-only tool-attribute-model="toolAttribute" tool-instance="toolInstance[toolAttribute.attrName][$index]" class="pull-left col-md-10 col-sm-10 col-xs-10"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Single value -->
						<div ng-switch-default>
							<!-- Element -->
							<span class="col-md-10 col-sm-10 col-xs-10"><u>{{toolInstance[toolAttribute.attrName].term}}</u></span>
							<div class="row">
								<div elx-input-ontology-read-only tool-attribute-model="toolAttribute" tool-instance="toolInstance[toolAttribute.attrName]" class="pull-left col-md-10 col-sm-10 col-xs-10"></div>
							</div>
							<div style="clear:both"></div>
						</div>
					</div>
				</div>
				<!-- Complex input -->
				<div ng-switch-when="complex">
					<div ng-switch on="toolAttribute.multipleVal">
						<!-- Multiple values -->
						<div ng-switch-when="true">
							<div class="panel panel-default" uib-collapse="toolAttribute.expanded">
								<div class="panel-body" style="padding-bottom:0px;">
									<div ng-repeat="entry in toolInstance[toolAttribute.attrName] track by $index">
										<div class="panel panel-default">
											<div class="panel-body">
												<!-- Element -->
												<div elx-complex-attr-read-only-compiler tool-attribute-model="toolAttribute.fields" tool-instance="toolInstance[toolAttribute.attrName][$index]"></div>
												<hr ng-show="toolAttribute.multipleVal == true">
											</div>
										</div>
									</div>
								</div>
								<div style="clear:both"></div>
							</div>
						</div>
						<!-- Single value -->
						<div ng-switch-default>
							<!-- Element -->
							<div class="panel panel-default">
								<div class="panel-body" style="padding-bottom:0px;">
									<div elx-complex-attr-read-only-compiler tool-attribute-model="toolAttribute.fields" tool-instance="toolInstance[toolAttribute.attrName]"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div ng-if="toolAttribute.attrName == 'tag'" uib-collapse="toolAttribute.expanded">
				<div ng-repeat="tag in toolInstance[toolAttribute.attrName]">
					- {{ tag.term }}
				</div>
			</div>
		</div>
	</div>
</div>
</div>