<div class="panel panel-default">
	<a style="cursor: pointer; cursor: hand;text-decoration: none;" ng-click="collapse_column_module = !collapse_column_module"><div class="panel-heading panel-link">
		<h3 class="panel-title">Select attributes to display <i ng-if="!collapse_column_module" class="fa fa-chevron-down pull-right"></i><i ng-if="collapse_column_module" class="fa fa-chevron-up pull-right"></i></h3>
	</div></a>
	<div uib-collapse="!collapse_column_module">
		<div class="panel-body">
			<div style="text-align:center;" ng-show="loading.attributeModel">
				<i class="fa fa-spinner fa-5x fa-spin icon-cog" style="margin:40px;display:inline-block;"></i>
			</div>
			<div ng-show="chosen_view == 'pill'" ng-show="!loading.attributeModel">
				<form class="form-inline" role="form">
					<button type="button" class="btn btn-xs btn-default" ng-class="{'btn-primary':column.visible}" ng-show="!column.hidden" ng-model="column.visible" ng-repeat="(attrName,column) in visibility" uib-btn-checkbox style="margin:3px;" tooltips tooltip-side="top" tooltip-content="{{ resourceModel[column.attrName].description }}">{{ resourceModel[column.attrName].label }}</button>
				</form>
			</div>
			<div ng-show="chosen_view == 'grid'" ng-show="!loading.attributeModel">
				<div class="btn-group" style="margin-bottom:10px;">
					<button type="button" class="btn btn-sm btn-default" ng-model="chosen_visibility" uib-btn-radio="'compact'" value="compact">Compact view</button>
					<button type="button" class="btn btn-sm btn-default" ng-model="chosen_visibility" uib-btn-radio="'bio'" value="bio">Scientific view</button>
					<button type="button" class="btn btn-sm btn-default" ng-model="chosen_visibility" uib-btn-radio="'dev'" value="bio">Technical view</button>
					<button type="button" class="btn btn-sm btn-default" ng-model="chosen_visibility" uib-btn-radio="'adm'" value="bio">Administrative view</button>
				</div>
				<form class="form-inline" role="form">
					<button type="button" class="btn btn-xs btn-default" ng-class="{'btn-primary':column.visible}" ng-show="!column.hidden" ng-model="column.visible" ng-repeat="column in model" uib-btn-checkbox style="margin:3px;" tooltips tooltip-side="top" tooltip-content="{{ column.description }}" popover-popup-delay="400" popover-trigger="mouseenter">{{ column.text }}</button>
				</form>
			</div>
		</div>
	</div>
</div>