<div ng-repeat="column in columns track by $index">
	<div ng-if="column.attrName != 'function' && column.attrName != 'contact' && column.attrName != 'interface' && column.attrName != 'docs' && column.attrName != 'publications' && column.attrName != 'tag' && column.attrName != 'credits' && column.attrName != 'topic'">
		<div ng-if="inner == true && tool[column.attrName] != null"><strong><span ng-bind-html=" column.text | highlight:termsToHighlight"></span></strong><br></div>
		<!-- Text, email, phone -->
		<div ng-if="column.type == 'text' || column.type == 'email' || column.type == 'phone' || column.type == 'enum'">
			<!-- Multiple values -->
			<div ng-if="column.multipleVal == 'true'">
				<ul class="list-unstyled" style="margin-bottom:0px;">
					<li ng-repeat="entry in tool[column.attrName] track by $index">&ndash; <span ng-bind-html=" entry | highlight:termsToHighlight"></span></li>
				</ul>
			</div>
			<!-- Single value -->
			<div ng-if="column.multipleVal != 'true'"><span ng-bind-html="tool[column.attrName]| highlight:termsToHighlight"></span></div>
		</div>
		<!-- URL -->
		<div ng-if="column.type == 'url'">
			<!-- Multiple values -->
			<div ng-if="column.multipleVal == 'true'">
				<ul class="list-unstyled" style="margin-bottom:0px;">
					<li ng-repeat="entry in tool[column.attrName]"><a href="{{entry}}"><i class="fa fa-external-link-square"></i></a><hr ng-if="!$last" style="margin:5px;"></li>
				</ul>
			</div>
			<!-- Single value -->
			<div ng-if="column.multipleVal != 'true'"><a href="{{tool[column.attrName]}}"><i class="fa fa-external-link-square"></i></a></div>
		</div>
		<!-- Complex -->
		<div ng-if="column.type == 'complex'">
			<div ng-repeat="entry in tool[column.attrName] track by $index">
				<div elx-complex-attr-table-render-compiler tool="tool[column.attrName][$index]" columns="column.fields"></div>
				<hr ng-if="!$last">
			</div>
		</div>
	</div>
	<!-- topic -->
	<div ng-if="column.attrName == 'topic'">
		<ul class="list-unstyled" style="margin-bottom:0px;">
			<li ng-repeat="topic in tool[column.attrName]"><a href="{{ topic.uri }}" ><span ng-bind-html=" topic.term | highlight:termsToHighlight"></span></a></li>
		</ul>
	</div>
	<!-- docs -->
	<div ng-if="column.attrName == 'docs'">
		<span ng-if="tool[column.attrName].docsHome != null">Main: <a href="{{ tool[column.attrName].docsHome }}"><i class="fa fa-external-link-square"></i></a>
		<br></span>
		<span ng-if="tool[column.attrName].docsTermsOfUse != null">TOS: <a href="{{ tool[column.attrName].docsTermsOfUse }}"><i class="fa fa-external-link-square"></i></a>
		<br></span>
		<span ng-if="tool[column.attrName].docsDownload != null">Download: <a href="{{ tool[column.attrName].docsDownload }}"><i class="fa fa-external-link-square"></i></a>
		<br></span>
		<span ng-if="tool[column.attrName].docsCitationInstructions != null">Cite: <a href="{{ tool[column.attrName].docsCitationInstructions }}"><i class="fa fa-external-link-square"></i></a></span>
		<span ng-if="tool[column.attrName].docsDownloadSource != null">Source: <a href="{{ tool[column.attrName].docsDownloadSource }}"><i class="fa fa-external-link-square"></i></a></span>
		<span ng-if="tool[column.attrName].docsDownloadBinaries != null">Binaries: <a href="{{ tool[column.attrName].docsDownloadBinaries }}"><i class="fa fa-external-link-square"></i></a></span>
		<span ng-if="tool[column.attrName].docsGithub != null">Github: <a href="{{ tool[column.attrName].docsGithub }}"><i class="fa fa-external-link-square"></i></a></span>
	</div>
	<!-- interface -->
	<div ng-if="column.attrName == 'interface'">
		<div ng-repeat="interface in tool[column.attrName]">
			<a href="{{ interface.interfaceDocs }}" ng-show="interface.interfaceDocs"><span><span ng-bind-html=" interface.interfaceType | highlight:termsToHighlight"></span></span></a>
			<span ng-show="!interface.interfaceDocs"><span ng-bind-html=" interface.interfaceType | highlight:termsToHighlight"></span></span>
		</div>
	</div>
	<!-- publications -->
	<div ng-if="column.attrName == 'publications'">
		<span ng-if="tool[column.attrName].publicationsPrimaryID != null"><div insert-publication-link publication="tool[column.attrName].publicationsPrimaryID"></div></li><br></span>
		<span ng-if="tool[column.attrName].publicationsOtherID != null && tool[column.attrName].publicationsOtherID.length>0"><span ng-repeat="publication in tool[column.attrName].publicationsOtherID track by $index"><div insert-publication-link publication="publication"></div></li><span ng-if="!$last">, </span></span></span>
	</div>
	<!-- credits -->
	<div ng-if="column.attrName == 'credits'">
		<span ng-if="tool[column.attrName].creditsDeveloper != null && tool[column.attrName].creditsDeveloper.length>0">Developer: <span ng-repeat="entry in tool[column.attrName].creditsDeveloper track by $index"><span ng-bind-html=" entry | highlight:termsToHighlight"></span><span ng-if="!$last">, </span></span><br></span>
		
		<span ng-if="tool[column.attrName].creditsContributor != null && tool[column.attrName].creditsContributor.length>0">Contributor: <span ng-repeat="entry in tool[column.attrName].creditsContributor track by $index"><span ng-bind-html=" entry | highlight:termsToHighlight"></span><span ng-if="!$last">, </span></span><br></span>
		
		<span ng-if="tool[column.attrName].creditsInstitution != null && tool[column.attrName].creditsInstitution.length>0">Institution: <span ng-repeat="entry in tool[column.attrName].creditsInstitution track by $index"><span ng-bind-html=" entry | highlight:termsToHighlight"></span><span ng-if="!$last">, </span></span><br></span>
		
		<span ng-if="tool[column.attrName].creditsInfrastructure != null && tool[column.attrName].creditsInfrastructure.length>0">Infrastructure: <span ng-repeat="entry in tool[column.attrName].creditsInfrastructure track by $index"><span ng-bind-html=" entry | highlight:termsToHighlight"></span><span ng-if="!$last">, </span></span><br></span>
		
		<span ng-if="tool[column.attrName].creditsFunding != null && tool[column.attrName].creditsFunding.length>0">Funding: <span ng-repeat="entry in tool[column.attrName].creditsFunding track by $index"><span ng-bind-html=" entry | highlight:termsToHighlight"></span><span ng-if="!$last">, </span></span><br></span>

	</div>
	<!-- contact -->
	<div ng-if="column.attrName == 'contact'">
		<div ng-repeat="person in tool[column.attrName]">
			<a href="mailto:{{ person.contactEmail }}"><span ng-show="!person.contactName && !person.contactRole">Email</span><span ng-bind-html=" person.contactName | highlight:termsToHighlight"></span></a><span ng-if="person.contactTel != null">, </span><span ng-bind-html=" person.contactTel | highlight:termsToHighlight"></span><span ng-if="person.contactURL != null && (person.contactName || person.contactEmail)">, </span><a href="{{ person.contactURL }}"><span ng-bind-html=" person.contactURL | highlight:termsToHighlight"></span></a>
			<span ng-if="person.contactRole != null && person.contactRole.length > 0"><a ng-show="!person.contactName && person.contactEmail" href="mailto:{{ person.contactEmail }}"><span ng-repeat="role in person.contactRole track by $index"><span ng-bind-html=" role | highlight:termsToHighlight"></span><span ng-if="!$last">, </span></span></a><span ng-show="person.contactName || !person.contactEmail" ng-repeat="role in person.contactRole track by $index"><span ng-bind-html=" role | highlight:termsToHighlight"></span><span ng-if="!$last">, </span></span></span>
		</div>
	</div>
	<!-- function -->
	<div ng-if="column.attrName == 'function'">
		<div ng-repeat="function in tool[column.attrName]" ng-show="$index < 2 || tool[column.attrName].collapse">
			<span ng-repeat="name in function.functionName">
				<a href="{{name.uri}}"><strong><span ng-bind-html=" name.term | highlight:termsToHighlight"></span></strong></a>
				<span ng-if="!$last">, </span>
			</span><span ng-show="function.functionDescription"> &ndash; <span ng-bind-html=" function.functionDescription | highlight:termsToHighlight"></span></span>
			<div ng-if="function.input"><span >Input:</span><span style="font-weight: 500;" ng-repeat="input in function.input">
					<a href="{{input.dataType.uri}}"><span ng-bind-html=" input.dataType.term | highlight:termsToHighlight"></span></a>
					<span ng-if="input.dataFormat">(<span ng-repeat="type in input.dataFormat">
						<a href="{{type.uri}}"><span ng-bind-html=" type.term | highlight:termsToHighlight"></span></a>
						<span ng-if="!$last">, </span>
					</span>)</span> <span ng-bind-html=" input.dataHandle | highlight:termsToHighlight"></span>
					<span ng-if="!$last">, </span>
				</span>
			</div>
			<div ng-if="function.output"><span>Output:</span><span style="font-weight: 500;" ng-repeat="output in function.output">
					<a href="{{output.dataType.uri}}"><span ng-bind-html=" output.dataType.term | highlight:termsToHighlight"></span></a>
					<span ng-if="output.dataFormat">(<span ng-repeat="type in output.dataFormat">
						<a href="{{type.uri}}"><span ng-bind-html=" type.term | highlight:termsToHighlight"></span></a>
						<span ng-if="!$last">, </span>
					</span>)</span> <span ng-bind-html=" output.dataHandle | highlight:termsToHighlight"></span>
					<span ng-if="!$last">, </span>
				</span>
			</div>
			<div ng-if="!$last" style="margin-bottom: 10px;"></div>
		</div>
		<button type="button" class="btn btn-default btn-xs btn-block" ng-show="tool[column.attrName].length > 2" ng-click="tool[column.attrName].collapse = !tool[column.attrName].collapse"><i class="fa" ng-class="{'fa-chevron-up':tool[column.attrName].collapse, 'fa-chevron-down':!tool[column.attrName].collapse}"></i></button>
	</div>
</div>