<div class="panel panel-default">
	<a style="cursor: pointer; cursor: hand;text-decoration: none;" ng-click="collapse_filter_module = !collapse_filter_module"><div class="panel-heading panel-link">
		<h3 class="panel-title">Filter by attribute <i class="fa fa-filter" style="color:#F07603;" title="Filters enabled" ng-show="user_filters.length > 0"></i><i ng-if="!collapse_filter_module" class="fa fa-chevron-down pull-right"></i><i ng-if="collapse_filter_module" class="fa fa-chevron-up pull-right"></i></h3>
	</div></a>
	<div uib-collapse="!collapse_filter_module">
		<div style="text-align:center;" ng-show="loading.attributeModel">
			<i class="fa fa-spinner fa-5x fa-spin icon-cog" style="margin:40px;display:inline-block;"></i>
		</div>
		<div class="panel-body" ng-show="!loading.attributeModel" style="padding-left:0px;padding-right:0px;">
			<div ng-repeat="filter in user_filters">
				<div class="col-sm-6 col-md-6 col-lg-4">
					<div class="form-group" style="margin-bottom: 0px;text-align: center;">
						<label class="control-label" ng-show="!filter.meta">Choose filter</label>
						<label class="control-label" ng-show="filter.meta">Filtering on <strong>{{resourceModel[filter.meta.name].label}}</strong></label>
					</div>
					<button type="button" class="btn btn-default btn-xs btn-block btn-filter" ng-class="{'btn-filter-closed':filter.collapse}" ng-click="filter.collapse = !filter.collapse">
					<i class="fa" ng-class="{'fa-chevron-up':!filter.collapse, 'fa-chevron-down':filter.collapse}"></i></button>
					<div class="form-group">
						<div style="background:whitesmoke;border:1px solid lightgray;border-radius:5px;border-top-left-radius: 0px;	border-top-right-radius: 0px;" uib-collapse="filter.collapse">
							<abn-tree tree-data="available_filters[$index]" tree-control="my_tree" on-select="onSelect(branch, filter)" icon-leaf="" expand-level="1" resource-model="resourceModel"></abn-tree>
						</div>
					</div>
					<div class="form-group has-feedback" ng-show="filter.meta">
						<input ng-show="!filter.meta.enum && !filter.meta.ontology" ignore-enter type="text" class="form-control" ng-model="filter.value" ng-model-options="{ updateOn: 'default', debounce: {default: 200}}" placeholder="Enter filter criteria">
						<input ignore-enter ng-show="filter.meta.ontology" type="text" class="form-control" ng-model="filter.value" ng-model-options="{ updateOn: 'default', debounce: {default: 200}}" placeholder="Enter filter criteria" uib-typeahed="entry for entry in used_terms[filter.meta.ontology] | filter:$viewValue | limitTo:8" typeahead-min-length="3" typeahead-wait-ms="100">
						<span ng-show="!filter.meta.enum" class="glyphicon glyphicon-filter form-control-feedback"></span>
						<select ng-show="filter.meta.enum" class="form-control" ng-options="item for item in filter.meta.options" ng-model="filter.value"></select>
					</div>
					<div class="form-group" style="margin-bottom:10px;">
						<button class="btn btn-default btn-xs btn-block" ng-click="removeFilter($index)">Remove</button>
					</div>
				</div>
				<div ng-show="!$last && $index % 2 == 1" class="clearfix visible-sm"></div>
				<div ng-show="!$last && $index % 2 == 1" class="clearfix visible-md"></div>
				<div ng-show="!$last && $index % 3 == 2" class="clearfix visible-lg"></div>
				<hr ng-show="!$last" class="visible-xs" style="margin-top:5px;">
				<hr ng-show="!$last && $index % 2 == 1" class="visible-sm" style="margin-top:5px;">
				<hr ng-show="!$last && $index % 2 == 1" class="visible-md" style="margin-top:5px;">
				<hr ng-show="!$last && $index % 3 == 2" class="visible-lg" style="margin-top:5px;">
			</div>
			<div style="clear:both"></div>
			<hr style="margin-top:5px;margin-bottom:15px;" ng-show="user_filters.length > 0">
			<button type="button" class="btn btn-default btn-flat" ng-click="addFilter(1)" style="margin-left:15px;">Add filter</button>
			<button type="button" class="btn btn-default btn-flat" ng-click="clearFilters()" ng-disabled="user_filters.length == 0" style="margin-left:15px;">Remove all filters</button>
		</div>
	</div>
</div>