<div ng-form name="inner_form" role="form">
    <div class="form-group has-feedback" ng-class="{'has-error': inner_form.input_name.$dirty && inner_form.input_name.$invalid, 'has-success': inner_form.input_name.$dirty && inner_form.input_name.$valid}">
        	<input class="form-control" type="text" name="input_name" ng-model="toolInstance" placeholder="{{ toolAttributeModel.text }}" ng-minlength="2" ng-maxlength="20" ng-required="{{ toolAttributeModel.required }}" ng-pattern="/^[+]?(\d+-? ?)+$/">
        	<span class="glyphicon glyphicon-ok form-control-feedback form-control-feedback-no-label" ng-show="inner_form.input_name.$dirty && inner_form.input_name.$valid"></span>
        	<span class="glyphicon glyphicon-remove form-control-feedback form-control-feedback-no-label" ng-show="(inner_form.input_name.$dirty && inner_form.input_name.$invalid) || (inner_form.input_name.$pristine && inner_form.input_name.$invalid && validation.submitted)"></span>
            <span class="help-block" ng-show="(inner_form.input_name.$dirty && inner_form.input_name.$error.required) || (inner_form.input_name.$pristine && inner_form.input_name.$error.required && validation.submitted)">This field is required.</span>
            <span class="help-block" ng-show="inner_form.input_name.$dirty && inner_form.input_name.$error.minlength">This field is required to be at least 2 characters</span>
            <span class="help-block" ng-show="inner_form.input_name.$dirty && inner_form.input_name.$error.maxlength">This field cannot be longer than 20 characters</span>
            <span class="help-block" ng-show="inner_form.input_name.$dirty && inner_form.input_name.$error.pattern">The telephone number is invalid.</span>
    </div>
</div>