<div ng-form name="inner_form">
	<div class="form-group has-feedback" ng-class="{'has-error': inner_form.input_name.$dirty && inner_form.input_name.$invalid, 'has-success': inner_form.input_name.$dirty && inner_form.input_name.$valid}">
		<input type="text" name="input_name" ng-model="toolInstance.term" placeholder="{{ toolAttributeModel.text }}" uib-typeahed="entry as entry.name for entry in ontology_flat | filter:{name:$viewValue} | limitTo:8" typeahead-min-length="3" typeahead-wait-ms="100" typeahead-on-select='onSelect($item, $model, $label)' class="form-control">
		<span class="glyphicon glyphicon-ok form-control-feedback form-control-feedback-no-label" ng-show="inner_form.input_name.$dirty && inner_form.input_name.$valid"></span>
		<span class="glyphicon glyphicon-remove form-control-feedback form-control-feedback-no-label" ng-show="(inner_form.input_name.$dirty && inner_form.input_name.$invalid) || (inner_form.input_name.$pristine && inner_form.input_name.$invalid && validation.submitted)"></span>
		<span class="help-block" ng-show="(inner_form.input_name.$dirty && inner_form.input_name.$error.required) || (inner_form.input_name.$pristine && inner_form.input_name.$error.required && validation.submitted)">This field is required.</span>
		<span class="help-block" ng-show="inner_form.input_name.$dirty && inner_form.input_name.$error.minlength">This field is required to be at least 3 characters</span>
		<span class="help-block" ng-show="inner_form.input_name.$dirty && inner_form.input_name.$error.maxlength">This field cannot be longer than 20 characters</span>
		<a class="btn btn-primary btn-xs" ng-click="clear()" style="position:absolute;top:39px;right:4px;">Clear</a>
	</div>
</div>