<form class="form-horizontal" role="form">
	<div class="form-group has-feedback">
		<input type="text" focus class="form-control" ng-model="query" ng-model-options="{ updateOn: 'default', debounce: {default: 500}}" placeholder="Search">
		<span class="glyphicon glyphicon-search form-control-feedback"></span>
		<span class="help-block">Enter search query, e.g. "<a href="" ng-click="query = 'Proteomics'">Proteomics</a>", "<a href="" ng-click="query = 'Sequence alignment'">Sequence alignment</a>", "<a href="" ng-click="query = 'BAM'">BAM</a>".</span>
		</div>
	</div>
</form>