<div class="module" style="margin-bottom:20px;">
	<div class="module-head"><h3>Tools</h3></div>
	<div class="module-body">
		<div id="loading_animation" ng-if="loading.tools || loading.attributeModel"> asd</div>
	</div>
</div>

<script type="text/javascript">
			var square = new Sonic({
				width: 100,
				height: 38,
				padding: 10,

				stepsPerFrame: 4,
				trailLength: 1,
				pointDistance: .03,

				strokeColor: '#0088cc',//'#FF7B24',
				
				step: 'fader',

				multiplier: 2,

				setup: function() {
					this._.lineWidth = 5;
				},

				path: [
				
					['arc', 10, 10, 10, -270, -90],
					['bezier', 10, 0, 40, 20, 20, 0, 30, 20],
					['arc', 40, 10, 10, 90, -90],
					['bezier', 40, 0, 10, 20, 30, 0, 20, 20]
				]
			});
			square.play();
			div = document.getElementById('loading_animation');
			div.appendChild(square.canvas);
		</script>