<div class="row" ng-show="!ToolList.loading && ToolList.count == 0" ng-cloak>
	<div class="col-sm-12 col-md-12 col-lg-12">
		<p class="lead">No results matching the search criteria.</p>
	</div>
</div>
<div class="row" ng-show="!ToolList.loading && ToolList.count != 0" ng-cloak>
<!-- 	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		<h3 style="margin-top:0px;">{{ filtered.length ? filtered.length : 0 }} <span ng-show="filtered.length != 1">entries</span><span ng-show="filtered.length == 1">entry</span> found</h3>
	</div> -->
	<!-- PAGINATION -->
	<div class="col-sm-6 col-md-6 col-lg-6 hidden-xs">
		<uib-pagination total-items="ToolList.count" ng-model="currentPage" items-per-page="pageSize" max-size="maxSize" class="pagination-sm pagination-top"></uib-pagination>
	</div>
	<!-- SORT AND DISPLAY -->
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		<form class="form-inline pull-right" role="form">
			<div class="form-group">
				<label>Sort by</label>
				<div class="input-group input-group-sm">
					<select class="form-control select-btn-group" ng-model="sorter" ng-options="a as a.text for a in list_of_sortable_attributes">
					</select>
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="reverse_sort = !reverse_sort">
							<span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true" ng-show="!reverse_sort" ></span>
							<span class="glyphicon glyphicon-sort-by-alphabet-alt" aria-hidden="true" ng-show="reverse_sort"></span>
						</button>
					</span>
				</div>
			</div>
			<div class="form-group hidden-xs" style="margin-left:10px;">
				<label>Display as</label>
				<select class="form-control input-sm" ng-model="chosen_view">
					<option value="pill">Cards</option>
					<option value="grid">Grid</option>
				</select>
			</div>
		</form>
	</div>
</div>
<div class="row" style="margin-top:15px;">
	<div style="text-align:center;" ng-show="ToolList.loading">
		<i class="fa fa-spinner fa-5x fa-spin icon-cog" style="margin:40px;display:inline-block;"></i>
	</div>
	<div ng-show="!ToolList.loading && ToolList.count != 0" class="col-sm-12 col-md-12 col-lg-12">
			<!-- PILLS -->
			<!-- <div ng-if="chosen_view == 'pill'" class="panel panel-default resource-panel" ng-repeat="tool in filtered = (tools | filter:query | filterByObject:advanced_filter) | orderBy:sorter.attrName:reverse_sort | startFrom:(currentPage-1)*pageSize | limitTo:pageSize"> -->
			<div class="panel panel-default resource-panel" ng-repeat="tool in ToolList.list">
				<div class="panel-body">
					<div class="row" style="">
						<div class="col-md-6 col-sm-6">
							<h4><a ui-sref="tool({id: tool.id})"><span ng-bind-html=" tool.name | highlight:termsToHighlight"></span></a> <small ng-show="tool.version != '1'">v.<span ng-bind-html=" tool.version | highlight:termsToHighlight">{{ tool.version }}</span></small> <a ng-if="user_service.get_affiliation() == tool.affiliation" ui-sref="edit.affiliation.name.version({affiliation: tool.affiliation, name: tool.name, version: tool.version})"><button class="btn btn-primary btn-xs btn-slim">Edit</button></a></h4>
							<p ng-show="visibility.homepage.visible && tool.homepage"><a href="{{ tool.homepage }}" target="_blank"><span ng-bind-html=" tool.homepage | highlight:termsToHighlight">{{ tool.homepage }}</span></a></p>
							<p style="margin-bottom:0px;" ng-show="visibility.description.visible && tool.description"><span ng-bind-html=" tool.description | highlight:termsToHighlight">{{ tool.description }}</span></p>
							<hr style="margin-top:5px; margin-bottom:5px;">
							<div class="row" ng-show="visibility.function.visible">
								<div class="col-md-12">
									<p ng-if="!tool.function">No information</p>
									<ul ng-if="tool.function" class="list-unstyled">
										<li ng-repeat="function in tool.function" ng-show="$index < 2 || tool.function.collapse">
											<h5><span ng-repeat="functionName in function.functionName"><a href="{{ functionName.uri }}"><span ng-bind-html=" functionName.term | highlight:termsToHighlight">{{ functionName.term }}</span></a><span ng-show="!$last">, </span></span></h5>
											<p ng-show="function.functionDescription"><span ng-bind-html=" function.functionDescription | highlight:termsToHighlight">{{ function.functionDescription }}</span></p>
											<div class="row">
												<div class="col-md-6">
													<p ng-if="function.input">Inputs: <span ng-repeat="input in function.input"><a href="{{ input.dataType.uri }}"><span ng-bind-html=" input.dataType.term | highlight:termsToHighlight">{{ input.dataType.term }}</span></a><span ng-show="input.dataFormat.length > 0"> (<span ng-repeat="dataFormat in input.dataFormat"><a href="{{ dataFormat.uri }}"><span ng-bind-html=" dataFormat.term | highlight:termsToHighlight">{{ dataFormat.term }}</span></a><span ng-show="!$last">, </span></span>)</span> <span ng-show="input.dataDescription" tooltips tooltip-side="top" tooltip-content="{{ input.dataDescription }}"> <i class="fa fa-info-circle"></i> </span><span ng-show="!$last">, </span></span></p>
												</div>
												<div class="col-md-6">
													<p ng-if="function.output">Outputs: <span ng-repeat="output in function.output"><a href="{{ output.dataType.uri }}"><span ng-bind-html=" output.dataType.term | highlight:termsToHighlight">{{ output.dataType.term }}</span></a><span ng-show="output.dataFormat.length > 0"> (<span ng-repeat="dataFormat in output.dataFormat"><a href="{{ dataFormat.uri }}"><span ng-bind-html=" dataFormat.term | highlight:termsToHighlight">{{ dataFormat.term }}</span></a><span ng-show="!$last">, </span></span>)</span> <span ng-show="output.dataDescription" tooltips tooltip-side="top" tooltip-content="{{ output.dataDescription }}"> <i class="fa fa-info-circle"></i> </span><span ng-show="!$last">, </span></span></p>
												</div>
											</div>
										</li>
									</ul>
									<button type="button" class="btn btn-default btn-xs btn-block" ng-show="tool.function.length > 2" ng-click="tool.function.collapse = !tool.function.collapse"><i class="fa" ng-class="{'fa-chevron-up':tool.function.collapse, 'fa-chevron-down':!tool.function.collapse}"></i></button>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6" style="border-left: 1px solid #eee;">
							<div class="row">
								<div class="col-md-12">
									<dl class="dl-horizontal">
										<dt>Addition date</dt>
										<dd><span title="{{ tool.additionDate | date:'hh:mm, dd MMM yyyy' }}">{{ tool.additionDate | timeAgo:'hh:mm, dd MMM yyyy' }}</span></dd>
										<dt ng-show="visibility.affiliation.visible && tool.affiliation">Affiliation</dt>
										<dd ng-show="visibility.affiliation.visible && tool.affiliation"><span ng-bind-html=" tool.affiliation | highlight:termsToHighlight">{{ tool.affiliation }}</span></dd>
										<dt ng-show="visibility.topic.visible && tool.topic.length > 0">Topic</dt>
										<dd ng-show="visibility.topic.visible && tool.topic.length > 0"><span ng-repeat="topic in tool.topic"><span ng-bind-html=" topic.term | highlight:termsToHighlight">{{ topic.term }}</span><span ng-show="!$last">, </span></span></dd>
										<dt ng-show="visibility.resourceType.visible && tool.resourceType.length > 0">Resource Type</dt>
										<dd ng-show="visibility.resourceType.visible && tool.resourceType.length > 0"><span ng-repeat="resourceType in tool.resourceType track by $index"><span ng-bind-html=" resourceType | highlight:termsToHighlight">{{ resourceType }}</span><span ng-show="!$last">, </span></span></dd>
										<dt ng-show="visibility.interface.visible && tool.interface.length > 0">Interface</dt>
										<dd ng-show="visibility.interface.visible && tool.interface.length > 0"><span ng-repeat="interface in tool.interface"><span ng-bind-html=" interface.interfaceType | highlight:termsToHighlight">{{ interface.interfaceType }}</span><span ng-show="!$last">, </span></span></dd>
										<dt ng-show="visibility.platform.visible && tool.platform.length > 0">Platform</dt>
										<dd ng-show="visibility.platform.visible && tool.platform.length > 0"><span ng-repeat="platform in tool.platform track by $index"><span ng-bind-html=" platform | highlight:termsToHighlight">{{ platform }}</span><span ng-show="!$last">, </span></span></dd>
										<dt ng-show="visibility.maturity.visible && tool.maturity">Maturity</dt>
										<dd ng-show="visibility.maturity.visible && tool.maturity"><span ng-bind-html=" tool.maturity | highlight:termsToHighlight">{{ tool.maturity }}</span></dd>
<!-- 										<dt ng-show="visibility.license.visible && tool.license">License</dt>
										<dd ng-show="visibility.license.visible && tool.license"><span ng-bind-html=" tool.license | highlight:termsToHighlight">{{ tool.license }}</span></dd> -->
										<dt ng-show="visibility.sourceRegistry.visible && tool.sourceRegistry">Source Registry</dt>
										<dd ng-show="visibility.sourceRegistry.visible && tool.sourceRegistry"><span ng-bind-html=" tool.sourceRegistry | highlight:termsToHighlight">{{ tool.sourceRegistry }}</span></dd>
										<dt ng-show="visibility.canonicalID.visible && tool.canonicalID">Canonical ID</dt>
										<dd ng-show="visibility.canonicalID.visible && tool.canonicalID"><span ng-bind-html=" tool.canonicalID | highlight:termsToHighlight">{{ tool.canonicalID }}</span></dd>
										<dt ng-show="visibility.mirror.visible && tool.mirror.length > 0">Mirror</dt>
										<dd ng-show="visibility.mirror.visible && tool.mirror.length > 0"><span ng-repeat="mirror in tool.mirror"><span ng-bind-html=" mirror | highlight:termsToHighlight">{{ mirror }}</span><span ng-show="!$last">, </span></span></dd>
										<dt ng-show="visibility.cost.visible && tool.cost">Cost</dt>
										<dd ng-show="visibility.cost.visible && tool.cost"><span ng-bind-html=" tool.cost | highlight:termsToHighlight">{{ tool.cost }}</span></dd>
										<dt ng-show="visibility.accesibility.visible && tool.accesibility">Accesibility</dt>
										<dd ng-show="visibility.accesibility.visible && tool.accesibility"><span ng-bind-html=" tool.accesibility | highlight:termsToHighlight">{{ tool.accesibility }}</span></dd>
<!-- 										<dt ng-show="visibility.elixirInfo.visible && tool.elixirInfo">ELIXIR Info</dt>
										<dd ng-show="visibility.elixirInfo.visible && tool.elixirInfo"><span ng-bind-html=" tool.elixirInfo.elixirStatus | highlight:termsToHighlight">{{ tool.elixirInfo.elixirStatus }}</span><br>Node: <span ng-bind-html=" tool.elixirInfo.elixirNode | highlight:termsToHighlight">{{ tool.elixirInfo.elixirNode }}</span></dd> -->
<!-- 										<dt ng-show="visibility.language.visible && tool.language.length > 0">Language</dt>
										<dd ng-show="visibility.language.visible && tool.language.length > 0"><span ng-repeat="language in tool.language"><span ng-bind-html=" language | highlight:termsToHighlight">{{ language }}</span><span ng-show="!$last">, </span></span></dd> -->
										<dt ng-show="visibility.collectionID.visible && tool.collectionID.length > 0">Collection</dt>
										<dd ng-show="visibility.collectionID.visible && tool.collectionID.length > 0"><span ng-repeat="collectionID in tool.collectionID track by $index"><span ng-bind-html=" collectionID | highlight:termsToHighlight">{{ collectionID }}</span><span ng-show="!$last">, </span></span></dd>
<!-- 										<dt ng-show="visibility.uses.visible && tool.uses.length > 0">Uses</dt>
										<dd ng-show="visibility.uses.visible && tool.uses.length > 0"><span ng-repeat="uses in tool.uses"><span ng-bind-html=" uses.usesName | highlight:termsToHighlight">{{ uses.usesName }}</span> <small ng-show="uses.usesVersion">v.<span ng-bind-html=" uses.usesVersion | highlight:termsToHighlight">{{ uses.usesVersion }}</span></small><br><span ng-bind-html=" uses.usesHomepage | highlight:termsToHighlight">{{ uses.usesHomepage }}</span><span ng-show="!$last"><br></span></span></dd> -->
									</dl>
								</div>
							</div>
							<div class="row" ng-show="visibility.docs.visible || visibility.publications.visible">
								<div class="col-md-6" ng-show="visibility.docs.visible">
									<h5>Documentation</h5>
									<p ng-if="!tool.docs.docsHome && !tool.docs.docsTermsOfUse && !tool.docs.docsDownload && !tool.docs.docsCitationInstructions">No information</p>
									<p ng-if="tool.docs.docsHome"><a href="{{ tool.docs.docsHome }}">Read the docs</a></p>
									<p ng-if="tool.docs.docsTermsOfUse"><a href="{{ tool.docs.docsTermsOfUse }}">Terms of use</a></p>
									<p ng-if="tool.docs.docsDownload"><a href="{{ tool.docs.docsDownload }}">Download</a></p>
									<p ng-if="tool.docs.docsCitationInstructions"><a href="{{ tool.docs.docsCitationInstructions }}">Citation instructions</a></p>
									<p ng-if="tool.docs.docsDownloadSource"><a href="{{ tool.docs.docsDownloadSource }}">Download source</a></p>
									<p ng-if="tool.docs.docsDownloadBinaries"><a href="{{ tool.docs.docsDownloadBinaries }}">Download binaries</a></p>
									<p ng-if="tool.docs.docsGithub"><a href="{{ tool.docs.docsGithub }}">Github page</a></p>
								</div>
								<div class="col-md-6" ng-show="visibility.publications.visible">
									<h5>Publications</h5>
									<p ng-if="!tool.publications || tool.publications.publicationsPrimaryID == 'None'">No information</p>
									<ul ng-if="tool.publications && tool.publications.publicationsPrimaryID != 'None'">
										<li><div insert-publication-link publication="tool.publications.publicationsPrimaryID"></div></li>
										<li ng-repeat="publication in tool.publications.publicationsOtherID"><div insert-publication-link publication="publication"></div></li>
									</ul>
								</div>
							</div>
<!-- 							<div class="row" ng-show="visibility.publications.visible">
								<div class="col-md-12">
									<h5>Publications</h5>
									<p ng-if="!tool.publications || tool.publications.publicationsPrimaryID == 'None'">No information</p>
									<ul ng-if="tool.publications && tool.publications.publicationsPrimaryID != 'None'">
										<li><div insert-publication-link publication="tool.publications.publicationsPrimaryID"></div></li>
										<li ng-repeat="publication in tool.publications.publicationsOtherID"><div insert-publication-link publication="publication"></div></li>
									</ul>
								</div>
							</div> -->
							<div class="row" ng-show="visibility.contact.visible">
								<div class="col-md-12">
									<h5>Contact</h5>
									<p ng-if="!tool.contact">No information</p>
									<div ng-if="tool.contact">
										<ul  ng-repeat="contact in tool.contact">
											<li>
												<p class="list-group-item-heading" ng-show="contact.contactName || (contact.contactEmail && !contact.contactRole)"><a href="mailto:{{ contact.contactEmail }}"><span ng-show="!contact.contactName">Email</span><span ng-bind-html=" contact.contactName | highlight:termsToHighlight">{{ contact.contactName }}</span></a></p>
												<p class="list-group-item-text" ng-show="contact.contactURL"><a href="{{ contact.contactURL }}"><span ng-bind-html=" contact.contactURL | highlight:termsToHighlight">{{ contact.contactURL }}</span></a></p>
												<p class="list-group-item-text" ng-show="contact.contactTel"><span ng-bind-html=" contact.contactTel | highlight:termsToHighlight">{{ contact.contactTel }}</span></p>
												<p class="list-group-item-text" ng-show="contact.contactRole"><a href="mailto:{{ contact.contactEmail }}" ng-show="!contact.contactName && contact.contactEmail"><i><span ng-repeat="role in contact.contactRole"><span ng-bind-html=" role | highlight:termsToHighlight">{{ role }}</span><span ng-show="!$last">, </span></span></i></a><i ng-show="contact.contactName || !contact.contactEmail"><span ng-repeat="role in contact.contactRole"><span ng-bind-html=" role | highlight:termsToHighlight">{{ role }}</span><span ng-show="!$last">, </span></span></i></p>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="row" ng-show="visibility.credits.visible">
								<div class="col-md-12">
									<h5>Credits</h5>
									<p ng-if="!tool.credits">No information</p>
									<p ng-show="tool.credits.creditsDeveloper">Developer: <span ng-repeat="credit in tool.credits.creditsDeveloper"><span ng-bind-html=" credit | highlight:termsToHighlight">{{ credit }}</span><span ng-show="!$last">, </span></span></p>
									<p ng-show="tool.credits.creditsContributor">Contributor: <span ng-repeat="credit in tool.credits.creditsContributor"><span ng-bind-html=" credit | highlight:termsToHighlight">{{ credit }}</span><span ng-show="!$last">, </span></span></p>
									<p ng-show="tool.credits.creditsInstitution">Institution: <span ng-repeat="credit in tool.credits.creditsInstitution"><span ng-bind-html=" credit | highlight:termsToHighlight">{{ credit }}</span><span ng-show="!$last">, </span></span></p>
									<p ng-show="tool.credits.creditsInfrastructure">Infrastructure: <span ng-repeat="credit in tool.credits.creditsInfrastructure"><span ng-bind-html=" credit | highlight:termsToHighlight">{{ credit }}</span><span ng-show="!$last">, </span></span></p>
									<p ng-show="tool.credits.creditsFunding">Funding: <span ng-repeat="credit in tool.credits.creditsFunding"><span ng-bind-html=" credit | highlight:termsToHighlight">{{ credit }}</span><span ng-show="!$last">, </span></span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- GRID -->
	<!-- 		<div ng-if="chosen_view == 'grid'" class="table-responsive">
				<table class="table table-condensed table-bordered table-hover table-striped" style="margin-bottom:0px;" width="100%">
					<thead style="vertical-align:middle;">
						<tr>
							<th resizeable-header ng-repeat="column in model" ng-class="selectedCls(column.value)" ng-click="changeSorting(column.value)" ng-if="column.visible" style="position:relative;">{{ column.text }}<div class="table_resize_handle"></div></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="tool in filtered = (tools | filter:query | filterByObject:advanced_filter) | orderBy:sorter.attrName:reverse_sort | startFrom:(currentPage-1)*pageSize | limitTo:pageSize">
							<td resizeable-header ng-repeat="column in model" ng-if="column.visible">
								<div ng-if="column.attrName == 'name'"><a ui-sref="tool.affiliation.name.version({affiliation: tool.affiliation, name: tool.name, version: tool.version})" target="_blank"><span ng-bind-html="tool[column.attrName] | highlight:termsToHighlight"></span></a></div>
								<div ng-if="column.attrName != 'name'" elx-complex-attr-table-render tool="tool" columns="column"></div>
							</td>
						</tr>
					</tbody>
				</table>
			</div> -->
			<!-- PAGINATION -->
				<!-- PAGINATION -->
		<uib-pagination total-items="ToolList.count" ng-model="currentPage" items-per-page="pageSize" max-size="maxSize" class="pagination-sm pagination-top"></uib-pagination>
</div>