<div class="modal-content">
	<div class="modal-body">
		<div class="row">
			<div class="col-xs-6">
				<div class="well">
					<form id="loginForm" novalidate="novalidate">
						<div class="form-group" ng-class="{'has-error': vm.error.username}">
							<label for="username" class="control-label">Username</label>
							<input ng-model="credentials.username" type="text" class="form-control" id="username" name="username" value="" required="" title="Please enter you username" placeholder="Your Username">
							<span class="help-block"></span>
						</div>
						<div class="form-group" ng-class="{'has-error': vm.error.password}">
							<label for="password" class="control-label">Password</label>
							<input ng-model="credentials.password" type="password" class="form-control" id="password" name="password" value="" required="" title="Please enter your password" placeholder="Your Password">
							<span class="help-block"></span>
						</div>
						<div class="form-group">
							<span class="help-block">Forgot the password? <a href="" ng-click="vm.forgotButtonPressed()">Reset it</a>.</span>	
						</div>
						<br>
						<button type="submit" class="btn btn-success btn-block" ng-click="vm.loginButtonPressed(credentials.username, credentials.password)">Login</button>
					</form>
				</div>
			</div>
			<div class="col-xs-6">
				<button type="button" class="close" data-dismiss="modal" ng-click="$close()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
				<p class="lead">Sign-up now for <span class="text-success">free</span></p>
				<ul class="list-unstyled" style="line-height: 2">
					<li><span class="fa fa-check text-success"></span> Add new tools</li>
					<li><span class="fa fa-check text-success"></span> Improve existing entries</li>
					<li><span class="fa fa-check text-success"></span> Request entry ownership</li>
					<li><span class="fa fa-check text-success"></span> Request editing rights</li>
				</ul>
				<br>
				<button type="submit" class="btn btn-info btn-block" ng-click="vm.registerButtonPressed()">Sign-up now</button>
			</div>
			<div class="col-xs-12">
				<div ng-repeat="error in vm.error.general" uib-alert type="danger">{{error}}</div>
			</div>
		</div>
	</div>
</div>