<div class="domain-container">
    <div  class="domains-summary">
        <h3>bio.tools domains list</h3>
        <p><em>bio.tools</em> domains provide a way to "slice" the bio.tools content into subsets of tools.</p>
        <p>Scroll through the list of available bio.tools domains below or search for a specific domain. You can also find a domain by searching for tools.</p>
        <p>See the <a href="https://biotools.readthedocs.io/en/latest/biotools_domains.html" target="_blank">domains documentation</a> for more information.</p>
        
    </div>

    <div class="domain-search-container">
        <div class="form-group">
            <label for="domain-search">Search for bio.tools domains</label>
            <input 
                type="text" 
                class="form-control" 
                id="domain-search" 
                placeholder="Search for domains"
                ng-change="domainSearch()"
                ng-model="domainSearchText"
            >
        </div>
        <label class="domain-search-option">Search domains by: </label>&nbsp;
        <label class="checkbox-inline domain-search-option">
            <input type="checkbox" disabled checked>Name
          </label>
          <label class="checkbox-inline domain-search-option">
            <input type="checkbox" ng-model="search_title">Title
          </label>
          <label class="checkbox-inline domain-search-option">
            <input type="checkbox" ng-model="search_subtitle">Subtitle
          </label>
          <label class="checkbox-inline domain-search-option">
            <input type="checkbox" ng-model="search_collection">Collection
          </label>
          <label class="checkbox-inline domain-search-option">
            <input type="checkbox" ng-model="search_tags">Tags
          </label>
          <label class="checkbox-inline domain-search-option">
            <input type="checkbox" ng-model="search_description">Description
          </label>
          <label class="checkbox-inline domain-search-option">
            <input type="checkbox"  ng-model="search_tools">Tools
          </label>
      
    </div>

    <hr style="border-top: 2px solid rgb(0, 84, 114);">

    <div class="domain-entries">
        <div ng-repeat="entry in filteredDomains track by $index" class="domain-entry">
            <span class="domain-head">
                <a ng-href="/t?domain={{entry.domain}}">{{entry.domain}}</a> <span class="domain-tool-count">( {{entry.resources.length}} tools )</span>
            </span>
            <h5>{{entry.title}}</h5>
            <p>{{entry.sub_title}}</p>
            <a 
                ng-repeat="c in entry.collection" class="pill-tag-third-background"
                tooltips
                tooltip-content="Domain collection"
                href
                ng-click="collectionNameClicked(c)"
                >{{c}}
            </a>
            <a
                ng-repeat="t in entry.tag"
                tooltips
                tooltip-content="Domain tag"
                class="pill-tag-primary-background">{{t}}
            </a>
        </div>
    </div>
    
</div>
