<div class="modal-header">
    <h3 class="modal-title">Change Password</h3>
  </div>
  <div class="modal-body">
    <form name="passwordForm" ng-submit="submitPassword()">
      <div class="form-group">
        <label for="currentPassword">Current Password</label>
        <input type="password" class="form-control" id="oldPassword" ng-model="oldPassword" required>
      </div>
      <div class="form-group">
        <label for="newPassword">New Password</label>
        <input type="password" class="form-control" id="newPassword" ng-model="newPassword" required>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm New Password</label>
        <input type="password" class="form-control" id="confirmPassword" ng-model="confirmPassword" required>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-default" ng-click="$dismiss()">Cancel</button>
    </form>
  </div>