<div ui-view>
	<div ng-if="!User.isLoggedIn()" ng-controller="LoginMangerController as loginCtrl" ng-init="loginCtrl.openLoginModal()"class="col-md-12 info-dialog-background info-dialog info-dialog-text">
		You need to be logged in to see the user profile
	</div>
	<div class="container" ng-if="User.isLoggedIn()">
		<div class="row">
			<div class="col-xs-12 col-md-11 col-md-offset-0,5">
				<div class="page-header">
					<h3>My profile</h3>
				</div>
				<div class="clearfix"></div>
				<div ng-if="loading" style="text-align:center;">
					<i class="fa fa-spinner fa-5x fa-spin icon-cog" style="margin:40px;display:inline-block;"></i>
				</div>
				<div ng-if="!loading">
					<!-- User Information -->
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">User Information</h3>
						</div>
						<table class="table table-condensed table-hover">
							<tbody>
								<tr>
									<th>Username</th>
									<td>{{profile.username}}</td>
								</tr>
								<tr>
									<th>Email</th>
									<td>{{profile.email}}</td>
								</tr>
							</tbody>
						</table>
						<div class="panel-footer">
							<button class="btn btn-primary" ng-click="openChangePasswordModal()">Change Password</button>
						</div>
					</div>
					<!-- My resources -->
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">My resources</h3>
						</div>
						<div ng-show="!profile.resources.length" class="panel-body">
							<p>No resources registered</p>
						</div>
						<table class="table table-condensed table-hover table-striped" ng-show="profile.resources.length">
							<thead>
								<tr>
									<th>Name</th>
									<th>Version</th>
									<th>Added</th>
									<th>Last updated</th>
									<th>Sharing</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="entry in profile.resources">
									<td><a ui-sref="tool({id: entry.id})">{{ entry.name }} ›</a></td>
									<td>{{ entry.version }}</td>
									<td><span ng-bind="entry.additionDate | timeAgo:'hh:mm, dd MMM yyyy'"></span></td>
									<td><span ng-show="entry.lastUpdate != entry.additionDate" ng-bind="entry.lastUpdate | timeAgo:'hh:mm, dd MMM yyyy'"></span><span ng-show="entry.lastUpdate == entry.additionDate">&ndash;</span></td>
									<td>{{ entry.editPermission.type }}</td>
									<td style="width: 80px;"><button class="btn btn-default btn-xs tool-page-button" ng-click="disownEntry(entry)">Disown ›</button></td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- Resources shared with me -->
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Resources shared with me</h3>
						</div>
						<div ng-show="!profile.sharedResources.length" class="panel-body">
							<p>No shared resources</p>
						</div>
						<table class="table table-condensed table-hover table-striped" ng-show="profile.sharedResources.length">
							<thead>
								<tr>
									<th>Name</th>
									<th>Version</th>
									<th>Added</th>
									<th>Last updated</th>
									<th>Sharing</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="entry in profile.sharedResources">
									<td><a ui-sref="tool({id: entry.id})">{{ entry.name }} ›</a></td>
									<td>{{ entry.version }}</td>
									<td><span ng-bind="entry.additionDate | timeAgo:'hh:mm, dd MMM yyyy'"></span></td>
									<td><span ng-show="entry.lastUpdate != entry.additionDate" ng-bind="entry.lastUpdate | timeAgo:'hh:mm, dd MMM yyyy'"></span><span ng-show="entry.lastUpdate == entry.additionDate">&ndash;</span></td>
									<td>{{ entry.editPermission.type }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
