{% load account %}
{% user_display user as user_display %}
{% load i18n %}{% autoescape off %}
    {% blocktrans %}Dear {{ user_display }},<br><br>{% endblocktrans %}

    {% blocktrans %}Welcome to {{ site_name }}. To activate your account click the following link: {% endblocktrans %} <br>
    {% block activate_link %}
        {{ domain }}signup/verify-email/{{ key }}
    {% endblock %}
    <br><br>

    {% trans "Thanks for using our site," %}<br>
    {% blocktrans %}The {{ site_name }} team{% endblocktrans %}
{% endautoescape %}
