<div class="col-md-12 page-footer-default">
	<div class="container-fluid">
		
		<div class="row footer-container">

			
			<div class="footer-section">
				<div class="footer-head">
					<h3>Docs</h3>
				</div>
				<div class="footer-links">
					<div>
						<a href="https://biotools.readthedocs.io/en/latest/" target="_blank">bio.tools</a>
					</div>
					
					<div>
						<a href="https://biotools.readthedocs.io/en/latest/quickstart_guide.html" target="_blank">Quickstart Guide</a>
					</div>
					
					<div>
						<a href="https://biotools.readthedocs.io/en/latest/api_usage_guide.html" target="_blank">API Usage Guide</a>
					</div>
					
					<div>
						<a href="https://biotools.readthedocs.io/en/latest/api_reference.html" target="_blank">API Reference</a>
					</div>
					
					<div>
						<a href="https://biotools.readthedocs.io/en/latest/curators_guide.html" target="_blank">Curators Guide</a>
					</div>

					<div>
						<a href="https://biotoolsschema.readthedocs.io/en/latest/" target="_blank">biotoolsSchema</a>
					</div>

					<div>
						<a href="https://edamontologydocs.readthedocs.io/en/latest/" target="_blank">EDAM Ontology</a>
					</div>
				</div>
			</div>
			

			
			<div class="footer-section">
				<div class="footer-head">
					<h3>Support</h3>
				</div>
				<div class="footer-links">
					<div>
						<a href="mailto:registry-support@elixirmail.cbs.dtu.dk">Email Us</a>
					</div>

					<div>
						<a href="https://github.com/bio-tools/biotoolsRegistry/issues" target="_blank">Issues</a>
					</div>

					<div>
						<a href="https://biotools.readthedocs.io/en/latest/what_is_biotools.html#getting-involved-a-quick-start-guide" target="_blank">Getting Involved</a>
					</div>

					<div>
						<a href="https://biotools.readthedocs.io/en/latest/contributors_guide.html?highlight=mailing%20list#mailing-list" target="_blank">Mailing Lists</a>
					</div>

					<div>
						<a href="https://biotools.readthedocs.io/en/latest/license.html" target="_blank">Licensing</a>
					</div>
					
				</div>
			</div>
			

			
			<div class="footer-section">
				<div class="footer-head">
					<h3>About</h3>
				</div>
				<div class="footer-links">
					<div>
						<a href="" ng-href="/about">About bio.tools</a>
					</div>

					<div>
						<a href="/stats" target="_blank">bio.tools Stats</a>
					</div>

					<div>
						<a href="https://biotools.readthedocs.io/en/latest/contributors.html" target="_blank">Contributors</a>
					</div>

				</div>
			</div>
			

			<div class="footer-section">
				<div class="footer-head">
					<h3>GitHub</h3>
				</div>
				<div class="footer-links">
					<div>
						<a href="https://github.com/bio-tools/biotoolsregistry/" target="_blank">bio.tools</a>
					</div>

					<div>
						<a href="https://github.com/bio-tools" target="_blank">bio.tools Organisation</a>
					</div>

					<div>
						<a href="http://github.com/bio-tools/biotoolsschema" target="_blank">biotoolsSchema</a>
					</div>

					<div>
						<a href="http://github.com/edamontology/edamontology/" target="_blank">EDAM Ontology</a>
					</div>
				</div>
			</div>

		</div>



	</div>
</div>