.navbar-default {
  background-color: rgb(0, 84, 114);
  border-bottom: 3px solid rgb(0, 84, 114) !important;
  height: 62px; 
  box-shadow: 0px 2px 4px 0px rgba(74,74,74,0.25)
}
.navbar-default-background {
  background-color: rgb(0, 84, 114);
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #d8e9f3;
}
.navbar-default .navbar-text {
  color: #FFF;
}
.navbar-default .navbar-nav > li > a {
  color: #FFF;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ababab;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ababab;
  background-color: rgb(0, 84, 114);
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: white;
  background-color: rgba(74,74,74,0.22);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.navbar-default .navbar-toggle {
  border-color:  rgb(0, 84, 114);
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color:  rgb(0, 84, 114);
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #d8e9f3;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #d8e9f3;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #d8e9f3;
    background-color:  rgb(0, 84, 114);
  }
}

.navbar-button
{
	text-align: center;
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 400;
	text-shadow: 0px 2px 5px rgba(150, 150, 150, 0.15);
	margin-top: 4px;
}


.navbar-button-bold
{
  text-align: center;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 600;
  text-shadow: 0px 2px 5px rgba(150, 150, 150, 0.15);
  margin-top: 4px;
}

.navbar-form {
  overflow: auto;
}
.navbar-form .form-control {
  display: inline-block;
  width: 100%; 
  vertical-align: middle;
}
.navbar-form .form-group {
  display: inline;
}

.navbar-toggle-options {
  margin-top: 12px;
}

.label-navbar, .label-navbar:hover, .label-navbar:focus {
  text-shadow: 0px 2px 5px rgba(150, 150, 150, 0.15);
  background-color:  rgb(0, 84, 114);
  color: white;
  margin-bottom: 2px;
  width: 30px;
  margin-left: 1px;
  margin-right: 1px;
  box-shadow: 0px 2px 4px 0px rgba(74,74,74,0.12);
}

.dropdown-menu-navbar {
  border: 0px solid white;
  border-radius: 8px;
  border-top-left-radius: 0px;
}

.dropdown-menu-navbar>li>a:focus, .dropdown-menu-navbar>li>a:hover {
/*  background-color: #d8e9f3;
  color: white;*/
}

.dropdown-menu-navbar>.active>a, .dropdown-menu-navbar>.active>a:focus, .dropdown-menu-navbar>.active>a:hover {
    background-color: #b2d2e1;
    color: #575757;
}
