<div class="jumbotron container home-text" style="max-width: 1800px;"> 
  <h2>Cookies Policy</h2>
  <p class="description-text">bio.tools uses technical cookies that do not gather any data that may identify the user, as well as third-party and persistent cookies. The third-party cookies are those used by the service provided by Google Analytics, which is a web statistics service offered by Google, Inc. Google Analytics gathers information on the user's device to obtain report on the application's activity, and stores the information gathered in servers in the United States.</p>

  <p class="description-text">In any case, you may withdraw your consent or exercise your rights of access, rectification, erasure, restriction of processing or objection to processing, as well as your right to data portability. These requests can be sent to support-bio-tools@sdu.dk</p>

  <p class="description-text">The user is hereby informed that Google may transfer this information to third parties when so required by the law or when third parties process information on behalf of Google. Google shall not associate the user's IP address to any other data they have, and shall therefore be transferred in a fully anonymized form. To reject or remove this “cookie” you can check the following address: <a href="http://www.google.com/intl/en/privacypolicy.html" target="_blank">http://www.google.com/intl/en/privacypolicy.html</a></p>

  <p class="description-text">In any case, the user can enable an option in its own browser to prevent the installation of cookies. The bio.tools team assumes no liability for any malfunction of this website due to the disabling of cookies. For more information on cookies and how to disable them depending on your web browser, you may check the following link: <a href="www.aboutcookies.org" target="_blank">aboutcookies.org</a></p>

  <p class="description-text">You can also disable the cookies from the browser you are using on your device; the steps to follow in the most widely used browsers are:</p>
  <ul>
    <li> Microsoft Edge: Settings → Advanced settings → Cookies.</li>
    <li> Microsoft Internet Explorer: Tools → Internet Options → Privacy → Settings.</li>
    <li> Firefox: Tools → Options → Privacy → Cookies.</li>
    <li> Chrome: Settings → Show advanced settings → Privacy → Content settings.</li>
    <li> Safari: Preferences → Security.</li>
  </ul>

  <p class="description-text">Otherwise, as bio.tools has informed the user on their use of cookies, not disabling them implies the user's consent to Google's data processing as provided in this notice and for the purposes described herein.</p>
  <br>
  <p class="description-text">For any doubts or remarks, you can address the bio.tools team through any of its public contact channels.</p>
  <br>
  <p class="description-text">This Cookies Policy may be updated from time to time. We recommend you to review this page periodically for the latest information on our cookies policy. Last updated: April 2025.</p>
</div>