<div class="container-fluid">
	<div class="row">
		<div class="col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
			<div class="page-header">
				<h1>Here you may download the following resources:</h1>
			</div>
			<ul>
				<li><a href="resources/biotools-1.0/biotools-1.0.xsd">the XML Schema</a></li>
				<li><a href="resources/biotools-1.0/biotools-1.0.html">schema documentation</a></li>
				<li><a href="resources/biotools-1.0/biotools-1.0.xml">sample XML file</a></li>
				<li><a href="resources/biotools-1.0/biotools-1.0.json">sample JSON file</a></li>
				<li><a href="resources/biotools-1.0/biotools-1.0_mandatoryFieldsOnly.xml">sample XML file (mandatory fields only)</a></li>
				<li><a href="resources/biotools-1.0/biotools-1.0_mandatoryFieldsOnly.json">sample JSON file (mandatory fields only)</a></li>
			</ul>
		</div>
	</div>
</div>