<div ui-view>
	<div class="container">
		<div ng-show="notFound" class="jumbotron col-md-offset-2 col-md-8">
			<h1>Error 404</h1>
			<p>Tool not found.</p>
		</div>
		<div class="spinner" ng-if="!software.id && !notFound" style="text-align:center;"><i class="fa fa-spinner fa-5x fa-spin icon-cog" style="margin:40px;display:inline-block;"></i></div>
		<div ng-if="software.id">
			<div class="panel panel-danger">
				<div class="panel-heading">This tool description is in beta. The information has not been manually validated: information including tool URL is subject to change.</div>
				<div class="panel-body">
					<div class="col-xs-12 col-sm-12 col-md-12 col-md-offset-0" style="margin-bottom:10px;">
						<div id="summary">
							<div class="row">
								<div class="col-xs-12 col-sm-8 col-md-9">

									<div class="row">
										<h1>{{ software.name }}
											<!-- Versions dropdown menu -->
											<span class="btn-group" uib-dropdown is-open="status.isopen">
												<button id="versionMenu" type="button" class="btn btn-default btn-sm" style="color: #575757;" uib-dropdown-toggle ng-disabled="disabled">
													version {{ software.version }}
													<span class="caret"></span>
												</button>
												<ul class="dropdown-menu" uib-dropdown role="menu" aria-labelledby="versionMenu">
													<li role="dropdown-item" ng-repeat="ver in versions"><a ng-click="versionSelected(ver.versionId)"><span ng-show="ver.version">{{ver.version}}</span><span ng-show="!ver.version">None</span><span ng-show="ver.latest"> (Latest)</span></a></li>
												</ul>
											</span>
											<a ng-if="CheckUserEditingRights.canEdit(software)" ui-sref="tool.edit({id:software.id, version:software.versionId})"><button class="btn btn-primary btn-xs btn-slim">Update this record</button></a> <a ng-if="CheckUserEditingRights.canEdit(User.current,software)" ui-sref="register({newVersionOf:software.id})"><button class="btn btn-primary btn-xs btn-slim">Create a new version</button></a></h1>
										</a>
									</h1>
									<p ng-show="software.homepage"><a href="{{ software.homepage }}" target="_blank">{{ software.homepage }}</a></p>
									<p style="margin-bottom:0px;" ng-show="software.description">{{ software.description }}</p>
									<p><ul class="list-inline">
										<li ng-repeat="topic in software.topic" style="margin-right:5px;"><a class="badge" href="{{ topic.uri }}" target="_blank">{{ topic.term }}</a></li>
									</ul></p>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-3 align-xs" style="text-align:right;margin-top:20px;">
								<div class="row">
									<div class="form-group" style="margin-bottom: 3px;">
										<span class="label label-primary-orange">{{ software.cost }}</span>
									</div>
									<div class="form-group" style="margin-bottom: 3px;">
										<span class="label label-primary">{{ software.license }}</span>
									</div>
									<div class="form-group" style="margin-bottom: 3px;">
										<span class="label label-default">{{ software.maturity }}</span>
									</div>
									<div style="color:#5cb85c;">
										<span ng-if="software.toolType.length > 0">
											<span ng-repeat="toolType in software.toolType" class="pull-right pull-left-xs" style="margin-left:10px; margin-bottom: 3px;">
												<span class="label label-primary-orange" style="margin-bottom: 3px;">{{ toolType }}</span>
											</span>
										</span>
										<span style="color:#337ab7;" ng-if="software.operatingSystem.length > 0">
											<span ng-repeat="operatingSystem in software.operatingSystem track by $index" class="pull-right pull-left-xs" style="margin-left:10px; margin-top: 3px;">
												<i style="font-size:150%;" class="fa fa-3x fa-apple" ng-show="operatingSystem == 'Mac'" tooltips tooltip-side="top" tooltip-content="Platform: {{ operatingSystem }}"></i>
												<i style="font-size:150%;" class="fa fa-3x fa-linux" ng-show="operatingSystem == 'Linux'" tooltips tooltip-side="top" tooltip-content="Platform: {{ operatingSystem }}"></i>
												<i style="font-size:150%;" class="fa fa-3x fa-windows" ng-show="operatingSystem == 'Windows'" tooltips tooltip-side="top" tooltip-content="Platform: {{ operatingSystem }}"></i>
											</span>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="function" class="attribute-info-panel">
						<p ng-if="!software.function">No information</p>
						<!-- DESKTOP -->
						<div style="margin-bottom:30px;" class="row hidden-xs" ng-repeat="function in software.function">
							<div class="col-md-12">
								<div class="row flex-vertical">
									<div class="col-sm-4 col-md-4 col-lg-4">
										<div class="row flex-vertical" ng-repeat="input in function.input" style="margin:0px;">
											<div class="col-sm-10 col-md-10 text-center">
												<h5 class="function-image-element" style="padding-top:5px;padding-bottom:5px;margin:0px;"><a href="{{ input.data.uri }}">{{ input.data.term }}</a><span ng-show="input.format.length > 0"><br>(<span ng-repeat="format in input.format"><a href="{{ format.uri }}">{{ format.term }}</a><span ng-show="!$last">, </span></span>)</span> </h5>
												<div style="margin-bottom:5px;" ng-show="!$last"></div>
											</div>
											<div class="col-sm-2 col-md-2 text-center">
												<div class="row">
													<i class="fa fa-2x fa-long-arrow-right"></i>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4 col-md-4 col-lg-4 text-center function-image-element" style="align-self:stretch;display:flex;justify-content: center;flex-direction: column;text-align: center;">
										<ul class="list-unstyled" style="margin-bottom:0px;">
											<li ng-repeat="functionName in function.operation"><h5><a href="{{ functionName.uri }}">{{ functionName.term }}</a> </h5></li>
										</ul>
									</div>
									<div class="col-sm-4 col-md-4 col-lg-4 text-center">
										<div class="row flex-vertical" ng-repeat="output in function.output" style="margin:0px;">
											<div class="col-sm-2 col-md-2">
												<div class="row">
													<i class="fa fa-2x fa-long-arrow-right"></i>
												</div>
											</div>
											<div class="col-sm-10 col-md-10">
												<h5 class="function-image-element" style="padding-top:5px;padding-bottom:5px;margin:0px;"><a href="{{ output.data.uri }}">{{ output.data.term }}</a><span ng-show="output.format.length > 0"><br>(<span ng-repeat="format in output.format"><a href="{{ format.uri }}">{{ format.term }}</a><span ng-show="!$last">, </span></span>)</span> </h5>
												<div style="margin-bottom:5px;" ng-show="!$last"></div>
											</div>
										</div>
									</div>
								</div>
								<label style="text-align:center;width:100%;margin-top:20px;">
									<span ng-show="function.comment">Comment: {{ function.comment }}</span> 
								</label>
							</div>
						</div>
						<!-- MOBILE -->
						<div style="margin-bottom:30px;" class="row visible-xs-block" ng-repeat="function in software.function">
							<div class="col-xs-12 col-sm-4 col-md-4 text-left vcenter" style="margin-bottom:10px;">
								<div class="row" ng-repeat="input in function.input">
									<div class="col-xs-8 col-md-11 vcenter text-center">
										<h5 class="function-image-element" style="padding:5px 10px 5px 10px;margin:0px;"><a href="{{ input.data.uri }}">{{ input.data.term }}</a><span ng-show="input.format.length > 0"><br>(<span ng-repeat="format in input.format"><a href="{{ format.uri }}">{{ format.term }}</a><span ng-show="!$last">, </span></span>)</span></h5>
										<div style="margin-bottom:5px;" ng-show="!$last"></div>
									</div>
									<div class="col-xs-2 col-md-1 vcenter">
										<div class="row">
											<i class="fa fa-2x fa-long-arrow-right" ></i>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4 text-center vcenter function-image-element" style="margin-bottom:10px;">
								<ul class="list-unstyled">
									<li ng-repeat="functionName in function.operation"><h5><a href="{{ functionName.uri }}">{{ functionName.term }}</a></h5></li>
								</ul>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4 text-right vcenter">
								<div class="row" ng-repeat="output in function.output">
									<div class="col-xs-2 col-md-1 vcenter">
										<div class="row">
											<i class="fa fa-2x fa-long-arrow-right" ></i>
										</div>
									</div>
									<div class="col-xs-8 col-md-11 vcenter text-center">
										<h5 class="function-image-element" style="padding:5px 10px 5px 10px;margin:0px;"><a href="{{ output.data.uri }}">{{ output.data.term }}</a><span ng-show="output.format.length > 0"><br>(<span ng-repeat="format in output.format"><a href="{{ format.uri }}">{{ format.term }}</a><span ng-show="!$last">, </span></span>)</span></h5>
										<div style="margin-bottom:5px;" ng-show="!$last"></div>
									</div>
								</div>
							</div>
							<hr ng-show="!$last">
							<label style="text-align:center;width:100%;margin-top:20px;">
								<span ng-show="function.comment">Comment:</span> {{ function.comment }}
							</label>
						</div>

					</div>
					<div class="row">
						<div class="col-md-6">
							<div id="documentation" class="attribute-info-panel">
								<h4>DOCUMENTATION</h4>
								<p ng-if="!software.documentation.length > 0">No information</p>
								<ul ng-if="software.documentation.length > 0">
									<li ng-repeat="documentation in software.documentation">
										<a href="{{ documentation.url }}" tooltips tooltip-side="top" tooltip-content="{{ documentation.url }}">{{ documentation.type }}</a>
										<i class="fa fa-info-circle hidden-xs hidden-sm" ng-show="documentation.comment" tooltips tooltip-side="top" tooltip-content="{{ documentation.comment }}"></i>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-md-6">
							<div id="publications" class="attribute-info-panel">
								<h4>PUBLICATIONS</h4>
								<p ng-if="!software.publication.length > 0">No information</p>
								<ul ng-if="software.publication.length > 0">
									<li ng-repeat="publication in software.publication">
										<div ng-if="publication.pmcid" insert-publication-link publication="publication.pmcid"></div>
										<div ng-if="publication.pmid" insert-publication-link publication="publication.pmid"></div>
										<div ng-if="publication.doi" insert-publication-link publication="publication.doi"></div>
										<i class="fa fa-info-circle hidden-xs hidden-sm" ng-show="publication.type" tooltips tooltip-side="top" tooltip-content="{{ publication.type }}"></i>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-md-6">
							<div id="links" class="attribute-info-panel">
								<h4>LINKS</h4>
								<p ng-if="!software.link.length > 0">No information</p>
								<ul ng-if="software.link.length > 0">
									<li ng-repeat="link in software.link">
										<a href="{{ link.url }}" tooltips tooltip-side="top" tooltip-content="{{ link.url }}">{{ link.type }}</a>
										<i class="fa fa-info-circle hidden-xs hidden-sm" ng-show="link.comment" tooltips tooltip-side="top" tooltip-content="{{ link.comment }}"></i>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-md-6">
							<div id="downloads" class="attribute-info-panel">
								<h4>DOWNLOADS</h4>
								<p ng-if="!software.download.length > 0">No information</p>
								<ul ng-if="software.download.length > 0">
									<li ng-repeat="download in software.download">
										<a href="{{ download.url }}" tooltips tooltip-side="top" tooltip-content="{{ download.url }}">{{ download.type }}</a>
										<i class="fa fa-info-circle hidden-xs hidden-sm" ng-show="download.comment" tooltips tooltip-side="top" tooltip-content="{{ download.comment }}"></i>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div id="contact" class="attribute-info-panel">
								<h4>CONTACT</h4>
								<p ng-if="!software.contact">No information</p>
								<div  ng-if="software.contact">
									<ul  ng-repeat="contact in software.contact">
										<li>
											<p class="list-group-item-heading" ng-show="contact.name || (contact.email && !contact.role)"><a href="mailto:{{ contact.email }}"><span ng-show="!contact.name">Email</span>{{ contact.name }}</a></p>
											<p class="list-group-item-text" ng-show="contact.url"><a href="{{ contact.url }}">{{ contact.url }}</a></p>
											<p class="list-group-item-text" ng-show="contact.tel">{{ contact.tel }}</p>
											<p class="list-group-item-text" ng-show="contact.role"><a href="mailto:{{ contact.email }}" ng-show="!contact.name && contact.email"><i><span ng-repeat="role in contact.role">{{ role }}<span ng-show="!$last">, </span></span></i></a><i ng-show="contact.name || !contact.email"><span ng-repeat="role in contact.role">{{ role }}<span ng-show="!$last">, </span></span></i></p>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div id="credits" class="attribute-info-panel">
								<h4>CREDITS</h4>
								<p ng-if="!software.credit">No information</p>
								<div  ng-if="software.credit">
									<ul  ng-repeat="credit in software.credit">
										<li>	
											<p class="list-group-item-text" ng-show="credit.email">
												<a href="mailto:{{ credit.email }}" tooltips tooltip-side="top" tooltip-content="{{ credit.email }}">{{ credit.email }}</a> 
												<small>{{ credit.typeRole }}</small> 
												<i class="fa fa-info-circle hidden-xs hidden-sm" ng-show="credit.comment" tooltips tooltip-side="top" tooltip-content="{{ credit.comment }}"></i>
											</p>	
											<p class="list-group-item-text" ng-show="!credit.email">{{ credit.name }}</p>
											<p class="list-group-item-text" ng-show="credit.url"><a href="{{ credit.url }}">{{ credit.url }}</a></p>
											<p class="list-group-item-text" ng-show="credit.gridid">Grid Id: {{ credit.gridid }}</p>
											<p class="list-group-item-text" ng-show="credit.orcidid">Orcid Id: {{ credit.orcidid }}</p>
											<p class="list-group-item-text" ng-show="credit.typeEntity">{{ credit.typeEntity }}</p>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div id="supplementary" class="attribute-info-panel">
						<h4>SUPPLEMENTARY</h4>
						<div class="row">
							<div class="col-md-12" ng-if="!software.sourceRegistry && !software.canonicalID && !software.mirror && !software.elixirInfo && !software.uses && !software.collection">
								<p>No information</p>
							</div>
							<div class="col-md-3" ng-show="software.mirror.length > 0">
								<h5>Mirror<span ng-show="software.mirror.length > 1">(s)</span>:</h5>
								<ul>
									<li ng-repeat="mirror in software.mirror"><a href="{{ mirror }}">{{ mirror }}</a></li>
								</ul>
							</div>
							<div class="col-md-3" ng-show="software.elixirInfo">
								<h5>ELIXIR Info:</h5>
								<p>{{ software.elixirInfo.elixirStatus }}</p>
								<p>Node: {{ software.elixirInfo.elixirNode }}</p>
							</div>
							<div class="col-md-3" ng-show="software.language.length > 0">
								<h5>Language<span ng-show="software.language.length > 1">(s)</span>:</h5>
								<ul>
									<li ng-repeat="language in software.language">{{ language }}</li>
								</ul>
							</div>
							<div class="col-md-3" ng-show="software.accessibility.length > 0">
								<h5>Accessibility<span ng-show="software.accessibility.length > 1"></span>:</h5>
								<ul>
									<li ng-repeat="accessibility in software.accessibility">{{ accessibility }}</li>
								</ul>
							</div>
							<div class="col-md-3" ng-show="software.collection.length > 0">
								<h5>Collection<span ng-show="software.collection.length > 1">(s)</span>:</h5>
								<ul>
									<li ng-repeat="collection in software.collection">{{ collection }}</li>
								</ul>
							</div>
							<div class="col-md-6" ng-show="software.uses.length > 0">
								<h5>Uses:</h5>
								<ul>
									<li ng-repeat="uses in software.uses">{{ uses.name }} <small ng-show="uses.usesVersion">v.{{ uses.version }}</small><br>{{ uses.homepage }}</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
