<div class="container">
	<div class="row">
		<div class="col-md-offset-2 col-md-8" ng-if="$state.includes('edit') && user_service.get_affiliation() != software.affiliation">
			<div class="jumbotron">
				<h1>Error</h1>
				<p>You do not have permissions to edit this resource.</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1" ng-if="!$state.includes('edit') || user_service.get_affiliation() == software.affiliation">
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-md-8">
					<h1>Resource registration</h1>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="form-group text-right align-xs" style="margin-top:20px;">
						<button ng-disabled="registering" ng-show="$state.includes('edit')" class="btn btn-sm btn-danger" ng-click="removeTool()">Remove resource</button>
						<button ng-disabled="registering" class="btn btn-sm btn-primary" ng-click="registerTool()">Save resource</button>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group has-success text-right" ng-show="registrationSuccess">
						<span class="help-block">Resource saved succesfully.</span>
					</div>
					<div class="form-group has-error" ng-show="registrationError">
						<label class="help-block">There was an error saving the resource.</label>
						<div uib-collapse="error_collapse">
							<label ng-show="registrationErrorMessage"><strong>{{ registrationErrorMessage }}</strong></label><br>
							<span ng-show="registrationErrorMessage && registrationErrorPayload">Data attached to error:</span>
							<pre ng-show="registrationErrorMessage && registrationErrorPayload">{{ registrationErrorPayload | json }}</pre>
						</div>
						<button type="button" ng-show="registrationErrorMessage" class="btn btn-default btn-xs btn-block" ng-click="error_collapse = !error_collapse"><i class="fa" ng-class="{'fa-chevron-up':!error_collapse, 'fa-chevron-down':error_collapse}"></i></button>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12">
					<form class="form-horizontal">
						<uib-tabset style="margin-top:30px;">
							<uib-tab>
								<tab-heading>Summary <span style="color:#ff0000;"><b>*</b></span></tab-heading>
								<br>
								<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 no-side-padding">
									<div class="row">
										<div class="form-group">
											<label class="col-sm-3 control-label" style="position: relative;"><span tooltips tooltip-side="left" tooltip-content="{{resourceModel.name.description}}">Name</span><span style="color:#ff0000;position: absolute; right: 5px;"><b>*</b></span></label>
											<div class="col-sm-9">
												<input ng-model="software.name" type="text" class="form-control" placeholder="Name">
											</div>
										</div>

										<div class="form-group">
											<label class="col-sm-3 control-label"><span tooltips tooltip-side="left" tooltip-content="{{resourceModel.version.description}}">Version</span></label>
											<div class="col-sm-9">
												<input ng-model="software.version" type="text" class="form-control" placeholder="Version, defaults to 1">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label"><span tooltips tooltip-side="left" tooltip-content="{{resourceModel.description.description}}">Description</span><span style="color:#ff0000;position: absolute; right: 5px;"><b>*</b></span></label>
											<div class="col-sm-9">
												<textarea ng-model="software.description" class="form-control" rows="3" placeholder="Description"></textarea>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label" style="position: relative;"><span tooltips tooltip-side="left" tooltip-content="{{resourceModel.homepage.description}}">Homepage URL</span><span style="color:#ff0000;position: absolute; right: 5px;"><b>*</b></span></label>
											<div class="col-sm-9">
												<input ng-model="software.homepage" type="text" class="form-control" placeholder="Homepage URL">
											</div>
										</div>
										<div class="form-group no-margin-bottom">
											<label class="col-sm-3 control-label" style="position: relative;"><span tooltips tooltip-side="left" tooltip-content="{{resourceModel.resourceType.description}}">Resource type<span style="color:#ff0000;position: absolute; right: 5px;"><b>*</b></span></span></label>
											<div class="col-sm-9">
												<div class="form-group" ng-repeat="resourceType in software.resourceType track by $index" ng-class="{'no-margin-bottom': $last};">
													<div class="input-group">
														<select class="form-control select-btn-group" ng-options="item.value as item.text for item in resourceTypeOptions" ng-model="software.resourceType[$index]">
														</select>
														<span class="input-group-btn">
														<button class="btn btn-default highlight-icon" type="button" ng-click="remove('resourceType', software, $index)"><i class="fa fa-times remove-icon-button"></i> </button>
														</span>
													</div>
												</div>
												<div class="form-group" style="padding-top:7px;">
													<a href="" ng-click="add('resourceType', software, true, false);">Add resource type</a>
												</div>
											</div>
										</div>
										<div class="form-group no-margin-bottom">
											<label class="col-sm-3 control-label" style="position: relative;"><span tooltips tooltip-side="left" tooltip-content="{{resourceModel.interface.description}}">Interface<span style="color:#ff0000;position: absolute; right: 5px;"><b>*</b></span></span></label>
											<div class="col-sm-9">
												<div class="form-group" ng-repeat="interface in software.interface track by $index" ng-class="{'no-margin-bottom': $last};">
													<div class="input-group">
														<select class="form-control select-btn-group" ng-options="item.value as item.text for item in interfaceOptions" ng-model="interface.interfaceType">
														</select>
														<span class="input-group-btn">
														<button class="btn btn-default highlight-icon" type="button" ng-click="remove('interface', software, $index)"><i class="fa fa-times remove-icon-button"></i> </button>
														</span>
													</div>
												</div>
												<div class="form-group" style="padding-top:7px;">
													<a href="" ng-click="add('interface', software, true, true);add('interfaceType', software.interface, false, false);">Add interface</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</uib-tab>
							<uib-tab>
								<tab-heading>Function</tab-heading>
								<br>
								<div class="form-group">
									<div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 no-side-padding">
										<!-- FUNCTION -->
										<div uib-collapse="meta.function.visibility">
											<div class="panel panel-default" ng-repeat="function in software.function track by $index" ng-init="functionIndex = $index" style="background-color: #fff;" ng-class="{'no-margin-bottom': $last};">
												<div class="panel-body" style="position: relative;">
													<i class="fa fa-times remove-icon highlight-icon" ng-click="remove('function', software, $index)"></i>
													<div class="form-group" style="margin-bottom:0px;">
														<label class="control-label"><span tooltips tooltip-side="left" tooltip-content="{{resourceModel.functionName.description}}">Function</span> <span style="color:#ff0000;"><b>*</b></span></label>
														<div class="form-group" ng-repeat="functionName in function.functionName track by $index" ng-init="functionNameIndex = $index" ng-class="{'no-margin-bottom': $last};">
															<div class="input-group">
																<input type="text" ng-model="functionName.term" class="form-control input-ontology" placeholder="Function" disabled="disabled"></input>
																<span class="input-group-btn">
																<button class="btn" type="button" ng-click="function.functionName[functionNameIndex].term = 'Operation'; meta.function[functionIndex].functionName[functionNameIndex].selected = undefined; meta.function[functionIndex].functionName[functionNameIndex].visibility = true;" tooltips tooltip-side="left" tooltip-content="If you can't find the terms you are looking for, please specify them in the 'Function description' instead" ng-class="{'btn-primary': function.functionName[functionNameIndex].term == 'Operation', 'btn-default': function.functionName[functionNameIndex].term != 'Operation'}">I don't know</button>
																<button class="btn btn-default highlight-icon input-ontology-btn" type="button" ng-click="remove('functionName', function, $index)"><i class="fa fa-times remove-icon-button"></i> </button>
																</span>
															</div>
															<div class="panel panel-default panel-ontology">
																<div class="panel-body" style="padding:0px;">
																	<div uib-collapse="meta.function[functionIndex].functionName[functionNameIndex].visibility">
																		<div class="form-group" style="margin:5px;">
																			<input type="text" ng-model="meta.function[functionIndex].functionName[functionNameIndex].predicate" class="form-control input-sm"  placeholder="Filter"></input>
																		</div>
																		<div treecontrol class="tree-light"
																			tree-model="EDAM_operation"
																			order-by="text"
																			options="treeOptions"
																			on-selection="ontologyOnSelect(software.function[functionIndex].functionName, functionNameIndex, node)"
																			selected-node="meta.function[functionIndex].functionName[functionNameIndex].selected"
																			filter-expression="meta.function[functionIndex].functionName[functionNameIndex].predicate">{{node.text}}</div>
																	</div>
																	<button type="button" class="btn btn-default btn-xs btn-block btn-ontology" ng-class="{'btn-ontology-closed': meta.function[functionIndex].functionName[functionNameIndex].visibility}" ng-click="meta.function[functionIndex].functionName[functionNameIndex].visibility = !meta.function[functionIndex].functionName[functionNameIndex].visibility"><i class="fa" ng-class="{'fa-chevron-up':!meta.function[functionIndex].functionName[functionNameIndex].visibility, 'fa-chevron-down':meta.function[functionIndex].functionName[functionNameIndex].visibility}"></i></button>
																</div>
															</div>
														</div>
													</div>
													<div class="form-group" style="padding-top:7px;">
														<a href="" ng-click="add('functionName', function, true, true)">Add operation</a>
													</div>
													<div class="form-group">
														<label class="control-label"><span tooltips tooltip-side="left" tooltip-content="{{resourceModel.functionDescription.description}}">Function description</span></label>
														<textarea ng-model="function.functionDescription" class="form-control" rows="2" placeholder="Function description"></textarea>
													</div>
													<!-- INPUT -->
													<div class="form-group" style="margin-bottom:0px;">
														<label class="control-label"><span tooltips tooltip-side="left" tooltip-content="{{resourceModel.input.description}}">Input</span></label>
														<div uib-collapse="meta.function[functionIndex].input[inputIndex].visibility">
															<div class="panel panel-default panel-inner" ng-repeat="input in function.input track by $index" ng-init="inputIndex = $index" ng-class="{'no-margin-bottom': $last};">
																<div class="panel-body" style="position: relative;">
																	<i class="fa fa-times remove-icon highlight-icon" ng-click="remove('input', function, $index)"></i>
																	<div class="form-group" style="margin-bottom:0px;">
																		<label class="control-label"><span tooltips tooltip-side="left" tooltip-content="{{resourceModel.dataType.description}}">Data type</span> <span style="color:#ff0000;"><b>*</b></span></label>
																		<div class="input-group" ng-if="input.dataType != null">
																			<input type="text" ng-model="input.dataType.term" class="form-control input-ontology" placeholder="Data type" disabled="disabled"></input>
																			<span class="input-group-btn">
																				<button class="btn" type="button" ng-click="input.dataType.term = 'Data Type'; meta.function[functionIndex].input[inputIndex].dataType.selected = undefined; meta.function[functionIndex].input[inputIndex].dataType.visibility = true;" tooltips tooltip-side="left" tooltip-content="If you can't find the terms you are looking for, please specify them in the 'Function description' instead" ng-class="{'btn-primary': input.dataType.term == 'Data Type', 'btn-default': input.dataType.term != 'Data Type'}">I don't know</button>
																				<button class="btn btn-default highlight-icon input-ontology-btn" type="button" ng-click="input.dataType = undefined; meta.function[functionIndex].input[inputIndex].dataType.selected = undefined;"><i class="fa fa-times remove-icon-button"></i></button>
																			</span>
																		</div>
																		<div ng-if="input.dataType != null" class="panel panel-default panel-ontology">
																			<div class="panel-body" style="padding:0px;">
																				<div uib-collapse="meta.function[functionIndex].input[inputIndex].dataType.visibility">
																					<div class="form-group" style="margin:5px;">
																						<input type="text" ng-model="meta.function[functionIndex].input[inputIndex].dataType.predicate" class="form-control input-sm"  placeholder="Filter"></input>
																					</div>
																					<div treecontrol class="tree-light"
																						tree-model="EDAM_data"
																						order-by="text"
																						options="treeOptions"
																						on-selection="input.dataType.term = node.text;input.dataType.uri = node.data.uri"
																						selected-node="meta.function[functionIndex].input[inputIndex].dataType.selected"
																						filter-expression="meta.function[functionIndex].input[inputIndex].dataType.predicate">{{node.text}}</div>
																				</div>
																				<button type="button" class="btn btn-default btn-xs btn-block btn-ontology" ng-class="{'btn-ontology-closed': meta.function[functionIndex].input[inputIndex].dataType.visibility}" ng-click="meta.function[functionIndex].input[inputIndex].dataType.visibility = !meta.function[functionIndex].input[inputIndex].dataType.visibility"><i class="fa" ng-class="{'fa-chevron-up':!meta.function[functionIndex].input[inputIndex].dataType.visibility, 'fa-chevron-down':meta.function[functionIndex].input[inputIndex].dataType.visibility}"></i></button>
																			</div>
																		</div>
																	</div>
																	<div class="form-group" style="padding-top:7px;">
																		<a href="" ng-show="input.dataType == null" ng-click="add('dataType', input, false, true)">Add data type</a>
																	</div>
																	<div class="form-group" style="margin-bottom:0px;">
																		<label class="control-label"><span tooltips tooltip-side="left" tooltip-content="{{resourceModel.dataFormat.description}}">Data format</span></label>
																		<div class="form-group" ng-repeat="dataFormat in input.dataFormat track by $index" ng-init="dataFormatIndex = $index" ng-class="{'no-margin-bottom': $last};">
																			<div class="input-group">
																				<input type="text" ng-model="input.dataFormat[dataFormatIndex].term" class="form-control input-ontology" placeholder="Data Format" disabled="disabled"></input>
																				<span class="input-group-btn">
																				<button class="btn" type="button" ng-click="input.dataFormat[dataFormatIndex].term = 'Data Format'; meta.function[functionIndex].input[inputIndex].dataFormat[dataFormatIndex].selected = undefined; meta.function[functionIndex].input[inputIndex].dataFormat[dataFormatIndex].visibility = true;" tooltips tooltip-side="left" tooltip-content="If you can't find the terms you are looking for, please specify them in the 'Function description' instead" ng-class="{'btn-primary': input.dataFormat[dataFormatIndex].term == 'Data Format', 'btn-default': input.dataFormat[dataFormatIndex].term != 'Operation'}">I don't know</button>
																				<button class="btn btn-default highlight-icon input-ontology-btn" type="button" ng-click="remove('dataFormat', input, $index)"><i class="fa fa-times remove-icon-button"></i> </button>
																				</span>
																			</div>
																			<div class="panel panel-default panel-ontology">
																				<div class="panel-body" style="padding:0px;">
																					<div uib-collapse="meta.function[functionIndex].input[inputIndex].dataFormat[dataFormatIndex].visibility">
																						<div class="form-group" style="margin:5px;">
																							<input type="text" ng-model="meta.function[functionIndex].input[inputIndex].dataFormat[dataFormatIndex].predicate" class="form-control input-sm" placeholder="Filter"></input>
																						</div>
																						<div treecontrol class="tree-light"
																							tree-model="EDAM_format"
																							order-by="text"
																							options="treeOptions"
																							on-selection="ontologyOnSelect(input.dataFormat, dataFormatIndex, node)"
																							selected-node="meta.function[functionIndex].input[inputIndex].dataFormat[dataFormatIndex].selected"
																							filter-expression="meta.function[functionIndex].input[inputIndex].dataFormat[dataFormatIndex].predicate">{{node.text}}</div>
																					</div>
																					<button type="button" class="btn btn-default btn-xs btn-block btn-ontology" ng-class="{'btn-ontology-closed': meta.function[functionIndex].input[inputIndex].dataFormat[dataFormatIndex].visibility}" ng-click="meta.function[functionIndex].input[inputIndex].dataFormat[dataFormatIndex].visibility = !meta.function[functionIndex].input[inputIndex].dataFormat[dataFormatIndex].visibility"><i class="fa" ng-class="{'fa-chevron-up':!meta.function[functionIndex].input[inputIndex].dataFormat[dataFormatIndex].visibility, 'fa-chevron-down':meta.function[functionIndex].input[inputIndex].dataFormat[dataFormatIndex].visibility}"></i></button>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="form-group" style="padding-top:7px;">
																		<a href="" ng-click="add('dataFormat', input, true, true)">Add data format</a>
																	</div>
																	<div class="form-group">
																		<label class="control-label"><span tooltips tooltip-side="left" tooltip-content="{{resourceModel.dataDescription.description}}">Data description</span></label>
																		<textarea ng-model="input.dataDescription" class="form-control" rows="2" placeholder="Data description"></textarea>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="form-group" style="padding-top:7px;">
														<a href="" ng-show="!meta.function[functionIndex].input[inputIndex].visibility" ng-click="add('input', function, true, true)">Add input</a>
														<span ng-show="meta.function[functionIndex].input[inputIndex].visibility">{{ function.input.length }} input<span ng-show="function.input.length > 1">s</span></span> <span ng-show="!meta.function[functionIndex].input[inputIndex].visibility && function.input">| </span><a href="" ng-click="meta.function[functionIndex].input[inputIndex].visibility = !meta.function[functionIndex].input[inputIndex].visibility"><span ng-show="meta.function[functionIndex].input[inputIndex].visibility">Show</span><span ng-show="!meta.function[functionIndex].input[inputIndex].visibility && function.input">Hide inputs</span></a>
													</div>
													<!-- OUTPUT -->
													<div class="form-group" style="margin-bottom:0px;">
														<label class="control-label"><span tooltips tooltip-side="left" tooltip-content="{{resourceModel.output.description}}">Output</span></label>
														<div uib-collapse="meta.function[functionIndex].output[outputIndex].visibility">
															<div class="panel panel-default panel-inner" ng-repeat="output in function.output track by $index" ng-init="outputIndex = $index" ng-class="{'no-margin-bottom': $last};">
																<div class="panel-body" style="position: relative;">
																	<i class="fa fa-times remove-icon highlight-icon" ng-click="remove('output', function, $index)"></i>
																	<div class="form-group" style="margin-bottom:0px;">
																		<label class="control-label"><span tooltips tooltip-side="left" tooltip-content="{{resourceModel.dataType.description}}">Data type</span> <span style="color:#ff0000;"><b>*</b></span></label>
																		<div class="input-group" ng-if="output.dataType != null">
																			<input type="text" ng-model="output.dataType.term" class="form-control input-ontology" placeholder="Data type" disabled="disabled"></input>
																			<span class="input-group-btn">
																			<button class="btn" type="button" ng-click="output.dataType.term = 'Data Type'; meta.function[functionIndex].output[outputIndex].dataType.selected = undefined; meta.function[functionIndex].output[outputIndex].dataType.visibility = true;" tooltips tooltip-side="left" tooltip-content="If you can't find the terms you are looking for, please specify them in the 'Function description' instead" ng-class="{'btn-primary': output.dataType.term == 'Data Type', 'btn-default': output.dataType.term != 'Data Type'}">I don't know</button>
																			<button class="btn btn-default highlight-icon input-ontology-btn" type="button" ng-click="output.dataType = undefined; meta.function[functionIndex].output[outputIndex].dataType.selected = undefined;"><i class="fa fa-times remove-icon-button"></i> </button>
																			</span>
																		</div>
																		<div ng-if="output.dataType != null" class="panel panel-default panel-ontology">
																			<div class="panel-body" style="padding:0px;">
																				<div uib-collapse="meta.function[functionIndex].output[outputIndex].dataType.visibility">
																					<div class="form-group" style="margin:5px;">
																						<input type="text" ng-model="meta.function[functionIndex].output[outputIndex].dataType.predicate" class="form-control input-sm"  placeholder="Filter"></input>
																					</div>
																					<div treecontrol class="tree-light"
																						tree-model="EDAM_data"
																						order-by="text"
																						options="treeOptions"
																						on-selection="output.dataType.term = node.text;output.dataType.uri = node.data.uri"
																						selected-node="meta.function[functionIndex].output[outputIndex].dataType.selected"
																						filter-expression="meta.function[functionIndex].output[outputIndex].dataType.predicate">{{node.text}}</div>
																				</div>
																				<button type="button" class="btn btn-default btn-xs btn-block btn-ontology" ng-class="{'btn-ontology-closed': meta.function[functionIndex].output[outputIndex].dataType.visibility}" ng-click="meta.function[functionIndex].output[outputIndex].dataType.visibility = !meta.function[functionIndex].output[outputIndex].dataType.visibility"><i class="fa" ng-class="{'fa-chevron-up':!meta.function[functionIndex].output[outputIndex].dataType.visibility, 'fa-chevron-down':meta.function[functionIndex].output[outputIndex].dataType.visibility}"></i></button>
																			</div>
																		</div>
																	</div>
																	<div class="form-group" style="padding-top:7px;">
																		<a href="" ng-show="output.dataType == null" ng-click="add('dataType', output, false, true)">Add data type</a>
																	</div>
																	<div class="form-group" style="margin-bottom:0px;">
																		<label class="control-label"><span tooltips tooltip-side="left" tooltip-content="{{resourceModel.dataFormat.description}}">Data format</span></label>
																		<div class="form-group" ng-repeat="dataFormat in output.dataFormat track by $index" ng-init="dataFormatIndex = $index" ng-class="{'no-margin-bottom': $last};">
																			<div class="input-group">
																				<input type="text" ng-model="output.dataFormat[dataFormatIndex].term" class="form-control input-ontology" placeholder="Data Format" disabled="disabled"></input>
																				<span class="input-group-btn">
																				<button class="btn" type="button" ng-click="output.dataFormat[dataFormatIndex].term = 'Data Format'; meta.function[functionIndex].output[outputIndex].dataFormat[dataFormatIndex].selected = undefined; meta.function[functionIndex].output[outputIndex].dataFormat[dataFormatIndex].visibility = true;" tooltips tooltip-side="left" tooltip-content="If you can't find the terms you are looking for, please specify them in the 'Function description' instead" ng-class="{'btn-primary': output.dataFormat[dataFormatIndex].term == 'Data Format', 'btn-default': output.dataFormat[dataFormatIndex].term != 'Operation'}">I don't know</button>
																				<button class="btn btn-default highlight-icon input-ontology-btn" type="button" ng-click="remove('dataFormat', output, $index)"><i class="fa fa-times remove-icon-button"></i> </button>
																				</span>
																			</div>
																			<div class="panel panel-default panel-ontology">
																				<div class="panel-body" style="padding:0px;">
																					<div uib-collapse="meta.function[functionIndex].output[outputIndex].dataFormat[dataFormatIndex].visibility">
																						<div class="form-group" style="margin:5px;">
																							<input type="text" ng-model="meta.function[functionIndex].output[outputIndex].dataFormat[dataFormatIndex].predicate" class="form-control input-sm" placeholder="Filter"></input>
																						</div>
																						<div treecontrol class="tree-light"
																							tree-model="EDAM_format"
																							order-by="text"
																							options="treeOptions"
																							on-selection="ontologyOnSelect(output.dataFormat, dataFormatIndex, node)"
																							selected-node="meta.function[functionIndex].output[outputIndex].dataFormat[dataFormatIndex].selected"
																							filter-expression="meta.function[functionIndex].output[outputIndex].dataFormat[dataFormatIndex].predicate">{{node.text}}</div>
																					</div>
																					<button type="button" class="btn btn-default btn-xs btn-block btn-ontology" ng-class="{'btn-ontology-closed': meta.function[functionIndex].output[outputIndex].dataFormat[dataFormatIndex].visibility}" ng-click="meta.function[functionIndex].output[outputIndex].dataFormat[dataFormatIndex].visibility = !meta.function[functionIndex].output[outputIndex].dataFormat[dataFormatIndex].visibility"><i class="fa" ng-class="{'fa-chevron-up':!meta.function[functionIndex].output[outputIndex].dataFormat[dataFormatIndex].visibility, 'fa-chevron-down':meta.function[functionIndex].output[outputIndex].dataFormat[dataFormatIndex].visibility}"></i></button>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="form-group" style="padding-top:7px;">
																		<a href="" ng-click="add('dataFormat', output, true, true)">Add data format</a>
																	</div>
																	<div class="form-group">
																		<label class="control-label"><span tooltips tooltip-side="left" tooltip-content="{{resourceModel.dataDescription.description}}">Data description</span></label>
																		<textarea ng-model="output.dataDescription" class="form-control" rows="2" placeholder="Data description"></textarea>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="form-group" style="padding-top:7px;">
														<a href="" ng-show="!meta.function[functionIndex].output[outputIndex].visibility" ng-click="add('output', function, true, true)">Add output</a>
														<span ng-show="meta.function[functionIndex].output[outputIndex].visibility">{{ function.output.length }} output<span ng-show="function.output.length > 1">s</span></span> <span ng-show="!meta.function[functionIndex].output[outputIndex].visibility && function.output">| </span><a href="" ng-click="meta.function[functionIndex].output[outputIndex].visibility = !meta.function[functionIndex].output[outputIndex].visibility"><span ng-show="meta.function[functionIndex].output[outputIndex].visibility">Show</span><span ng-show="!meta.function[functionIndex].output[outputIndex].visibility && function.output">Hide outputs</span></a>
													</div>
												</div>
											</div>
										</div>
										<div class="form-group" style="padding-top:7px;">
											<a href="" ng-show="!meta.function.visibility" ng-click="add('function', software, true, true)">Add operation</a>
											<span ng-show="meta.function.visibility">{{ software.function.length }} function<span ng-show="software.function.length > 1">s</span></span> <span ng-show="!meta.function.visibility && software.function">| </span><a href="" ng-click="meta.function.visibility = !meta.function.visibility"><span ng-show="meta.function.visibility">Show</span><span ng-show="!meta.function.visibility && software.function">Hide functions</span></a>
										</div>
										<div class="form-group no-margin-bottom">
											<label class="control-label"><span tooltips tooltip-side="left" tooltip-content="{{resourceModel.topic.description}}">Topic <span style="color:#ff0000;"><b>*</b></span></span></label>
											<div class="form-group" ng-repeat="topic in software.topic track by $index" ng-init="topicIndex = $index" ng-class="{'no-margin-bottom': $last};">
												<div class="input-group">
													<input type="text" ng-model="software.topic[$index].term" class="form-control input-ontology" placeholder="Topic" disabled="disabled"></input>
													<span class="input-group-btn">
													<button class="btn" type="button" ng-click="software.topic[$index].term = 'Topic'; meta.topic[topicIndex].selected = undefined; meta.topic[topicIndex].visibility = true;" tooltips tooltip-side="left" tooltip-content="If you can't find the topics you are looking for, please specify them in the 'Description' field in the previous tab ('Summary') instead." ng-class="{'btn-primary': software.topic[$index].term == 'Topic', 'btn-default': software.topic[$index].term != 'Topic'}">I don't know</button>
													<button class="btn btn-default highlight-icon input-ontology-btn" type="button" ng-click="remove('topic', software, $index)"><i class="fa fa-times remove-icon-button"></i> </button>
													</span>
												</div>
												
												<div class="panel panel-default panel-ontology">
													<div class="panel-body" style="padding:0px;">
														<div uib-collapse="meta.topic[topicIndex].visibility">
															<div class="form-group" style="margin:5px;">
																<input type="text" ng-model="meta.topic[topicIndex].predicate" class="form-control input-sm"  placeholder="Filter"></input>
															</div>
															<div treecontrol class="tree-light"
																tree-model="EDAM_topic"
																options="treeOptions"
																order-by="orderby"
																on-selection="ontologyOnSelect(software.topic, topicIndex, node)"
																selected-node="meta.topic[topicIndex].selected"
																filter-expression="meta.topic[topicIndex].predicate">{{node.text}}</div>
														</div>
														<button type="button" class="btn btn-default btn-xs btn-block btn-ontology" ng-class="{'btn-ontology-closed': meta.topic[topicIndex].visibility}" ng-click="meta.topic[topicIndex].visibility = !meta.topic[topicIndex].visibility"><i class="fa" ng-class="{'fa-chevron-up':!meta.topic[topicIndex].visibility, 'fa-chevron-down':meta.topic[topicIndex].visibility}"></i></button>
													</div>
												</div>
											</div>
											<div class="form-group" style="padding-top:7px;">
												<a href="" ng-click="add('topic', software, true, true)">Add topic</a>
											</div>
										</div>
									</div>
								</div>
							</uib-tab>
							<uib-tab>
								<tab-heading>Contact <span style="color:#ff0000;"><b>*</b></span></tab-heading>
								<br>
								<div class="form-group">
									<div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 no-side-padding">
										<!-- CONTACT -->
										<div uib-collapse="meta.function.visibility">
											<div class="panel panel-default" ng-repeat="contact in software.contact track by $index" style="background-color: #fff;" ng-class="{'no-margin-bottom': $last};">
												<div class="panel-body" style="position: relative;">
													<i class="fa fa-times remove-icon highlight-icon" ng-click="remove('contact', software, $index)"></i>
													<div>
													<!-- <div style="margin-top:7px;border-style: solid;border-width:1px;border-color: rgba(255, 125, 125, 0.75);border-radius:3px;box-shadow:inset 2px 2px 2px rgba(255, 200, 200, 0.75), 2px 2px 2px rgba(255, 200, 200, 0.75);"> -->
														<!-- <span style="color:#ff0000;position: absolute; left: 5px;"><b>*</b></span> -->
														<div class="form-group" style="margin-top:7px;margin-bottom:0px;">
															<label class="col-sm-3 control-label" style="position: relative;"><span>Email</span><span style="color:#ff0000;position: absolute; right: 5px;"><b>*</b></span></label>
															<div class="col-sm-9">
																<input ng-model="contact.contactEmail" type="text" class="form-control" placeholder="Email">
															</div>
														</div>
														<div class="form-group or-label or-label-xs">
															<label class="col-sm-3 control-label" style="position: relative;color:#ff0000;"><small><b>OR</b></small></label>
														</div>
														<div class="form-group">
															<label class="col-sm-3 control-label" style="position: relative;"><span>URL</span><span style="color:#ff0000;position: absolute; right: 5px;"><b>*</b></span></label>
															<div class="col-sm-9">
																<input ng-model="contact.contactURL" type="text" class="form-control" placeholder="URL of contact">
															</div>
														</div>
													</div>
													<div class="form-group" style="margin-top:8px;">
														<label class="col-sm-3 control-label" style="position: relative;"><span>Name</span></label>
														<div class="col-sm-9">
															<input ng-model="contact.contactName" type="text" class="form-control" placeholder="Name">
														</div>
													</div>
													<div class="form-group">
														<label class="col-sm-3 control-label" style="position: relative;"><span>Telephone number</span></label>
														<div class="col-sm-9">
															<input ng-model="contact.contactTel" type="text" class="form-control" placeholder="Telephone number">
														</div>
													</div>
													<div class="form-group no-margin-bottom">
														<label class="col-sm-3 control-label" style="position: relative;"><span>Role</span></label>
														<div class="col-sm-9">
															<div class="form-group" ng-repeat="contactRole in contact.contactRole track by $index" ng-class="{'no-margin-bottom': $last};">
																<div class="input-group">
																	<select class="form-control select-btn-group" ng-options="item.value as item.text for item in contactRoleOptions" ng-model="contact.contactRole[$index]">
																	</select>
																	<span class="input-group-btn">
																	<button class="btn btn-default highlight-icon" type="button" ng-click="remove('contactRole', contact, $index)"><i class="fa fa-times remove-icon-button"></i> </button>
																	</span>
																</div>
															</div>
															<div class="form-group" style="padding-top:7px;">
																<a href="" ng-click="add('contactRole', contact, true, false);">Add role</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="form-group" style="padding-top:7px;">
											<a href="" ng-show="!meta.function.visibility" ng-click="add('contact', software, true, true)">Add contact</a>
											<span ng-show="meta.function.visibility">{{ software.contact.length }} contact<span ng-show="software.contact.length > 1">s</span></span> <span ng-show="!meta.function.visibility && software.contact">| </span><a href="" ng-click="meta.function.visibility = !meta.function.visibility"><span ng-show="meta.function.visibility">Show</span><span ng-show="!meta.function.visibility && software.contact">Hide contacts</span></a>
										</div>
									</div>
								</div>
							</uib-tab>
							<uib-tab>
								<tab-heading>Publications <span style="color:#ff0000;"><b>*</b></span></tab-heading>
								<br>
								<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 no-side-padding">
									<div class="form-group">
										<label class="col-sm-3 control-label" style="position: relative;"><span tooltips tooltip-side="left" tooltip-content="{{resourceModel.publicationsPrimaryID.description}}">Primary</span><span style="color:#ff0000;position: absolute; right: 5px;"><b>*</b></span></label>
										<div class="col-sm-9">
											<input ng-model="software.publications.publicationsPrimaryID" type="text" class="form-control" placeholder="ID of the primary publication">
										</div>
									</div>
									<div class="clearfix"></div>
									<div class="form-group no-margin-bottom">
										<label class="col-sm-3 control-label" style="position: relative;"><span tooltips tooltip-side="left" tooltip-content="{{resourceModel.publicationsOtherID.description}}">Other</span></label>
										<div class="col-sm-9">
											<div class="form-group" ng-repeat="publicationsOtherID in software.publications.publicationsOtherID track by $index" ng-class="{'no-margin-bottom': $last};">
												<div class="input-group">
													<input type="text" ng-model="software.publications.publicationsOtherID[$index]" class="form-control" placeholder="ID of other publication"></input>
													<span class="input-group-btn">
													<button class="btn btn-default  highlight-icon" type="button" ng-click="remove('publicationsOtherID', software.publications, $index)"><i class="fa fa-times remove-icon-button"></i> </button>
													</span>
												</div>
											</div>
											<div class="form-group" style="padding-top:7px;">
												<a href="" ng-click="add('publications', software, false, true);add('publicationsOtherID', software.publications, true, false)">Add other publication</a>
											</div>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
							</uib-tab>
							<uib-tab>
								<tab-heading>Documentation</tab-heading>
								<br>
								<div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 no-side-padding">
									<div class="form-group">
										<label class="col-sm-3 control-label"><span tooltips tooltip-side="left" tooltip-content="{{resourceModel.docsHome.description}}">Main page</span></label>
										<div class="col-sm-9">
											<input ng-model="software.docs.docsHome" type="text" class="form-control" placeholder="Main page of documentation">
										</div>
									</div>
									<div class="clearfix"></div>
									<div class="form-group">
										<label class="col-sm-3 control-label"><span tooltips tooltip-side="left" tooltip-content="{{resourceModel.docsTermsOfUse.description}}">Terms of Use</span></label>
										<div class="col-sm-9">
											<input ng-model="software.docs.docsTermsOfUse" type="text" class="form-control" placeholder="Terms of Use">
										</div>
									</div>
									<div class="clearfix"></div>
									<div class="form-group">
										<label class="col-sm-3 control-label"><span tooltips tooltip-side="left" tooltip-content="{{resourceModel.docsDownload.description}}">Download</span></label>
										<div class="col-sm-9">
											<input ng-model="software.docs.docsDownload" type="text" class="form-control" placeholder="Download documentation">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label" style="position: relative;"><span tooltips tooltip-side="left" tooltip-content="{{resourceModel.docsCitationInstructions.description}}">Citation instructions</span></label>
										<div class="col-sm-9">
											<input ng-model="software.docs.docsCitationInstructions" type="text" class="form-control" placeholder="Citation instructions">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label" style="position: relative;"><span tooltips tooltip-side="right" tooltip-content="{{resourceModel.docsDownloadSource.description}}">{{resourceModel.docsDownloadSource.label}}</span></label>
										<div class="col-sm-9">
											<input ng-model="software.docs.docsDownloadSource" type="text" class="form-control" placeholder="{{resourceModel.docsDownloadSource.label}}">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label" style="position: relative;"><span tooltips tooltip-side="right" tooltip-content="{{resourceModel.docsDownloadBinaries.description}}">{{resourceModel.docsDownloadBinaries.label}}</span></label>
										<div class="col-sm-9">
											<input ng-model="software.docs.docsDownloadBinaries" type="text" class="form-control" placeholder="{{resourceModel.docsDownloadBinaries.label}}">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label" style="position: relative;"><span tooltips tooltip-side="right" tooltip-content="{{resourceModel.docsGithub.description}}">{{resourceModel.docsGithub.label}}</span></label>
										<div class="col-sm-9">
											<input ng-model="software.docs.docsGithub" type="text" class="form-control" placeholder="{{resourceModel.docsGithub.label}}">
										</div>
									</div>
								</div>
							</uib-tab>
							<uib-tab>
								<tab-heading>Credits</tab-heading>
								<br>
								<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 no-side-padding">
									<div class="form-group no-margin-bottom">
										<label class="col-sm-3 control-label" style="position: relative;"><span tooltips tooltip-side="left" tooltip-content="{{resourceModel.creditsDeveloper.description}}">Developer</span></label>
										<div class="col-sm-9">
											<div class="form-group" ng-repeat="creditsDeveloper in software.credits.creditsDeveloper track by $index" ng-class="{'no-margin-bottom': $last};">
												<div class="input-group">
													<input type="text" ng-model="software.credits.creditsDeveloper[$index]" class="form-control" placeholder="Developer"></input>
													<span class="input-group-btn">
													<button class="btn btn-default  highlight-icon" type="button" ng-click="remove('creditsDeveloper', software.credits, $index)"><i class="fa fa-times remove-icon-button"></i> </button>
													</span>
												</div>
											</div>
											<div class="form-group" style="padding-top:7px;">
												<a href="" ng-click="add('credits', software, false, true);add('creditsDeveloper', software.credits, true, false)">Add developer</a>
											</div>
										</div>
									</div>
									<div class="form-group no-margin-bottom">
										<label class="col-sm-3 control-label" style="position: relative;"><span tooltips tooltip-side="left" tooltip-content="{{resourceModel.creditsContributor.description}}">Contributor</span></label>
										<div class="col-sm-9">
											<div class="form-group" ng-repeat="creditsContributor in software.credits.creditsContributor track by $index" ng-class="{'no-margin-bottom': $last};">
												<div class="input-group">
													<input type="text" ng-model="software.credits.creditsContributor[$index]" class="form-control" placeholder="Contributor"></input>
													<span class="input-group-btn">
													<button class="btn btn-default  highlight-icon" type="button" ng-click="remove('creditsContributor', software.credits, $index)"><i class="fa fa-times remove-icon-button"></i> </button>
													</span>
												</div>
											</div>
											<div class="form-group" style="padding-top:7px;">
												<a href="" ng-click="add('credits', software, false, true);add('creditsContributor', software.credits, true, false)">Add contributor</a>
											</div>
										</div>
									</div>
									<div class="form-group no-margin-bottom">
										<label class="col-sm-3 control-label" style="position: relative;"><span tooltips tooltip-side="left" tooltip-content="{{resourceModel.creditsInstitution.description}}">Institution</span></label>
										<div class="col-sm-9">
											<div class="form-group" ng-repeat="creditsInstitution in software.credits.creditsInstitution track by $index" ng-class="{'no-margin-bottom': $last};">
												<div class="input-group">
													<input type="text" ng-model="software.credits.creditsInstitution[$index]" class="form-control" placeholder="Institution"></input>
													<span class="input-group-btn">
													<button class="btn btn-default  highlight-icon" type="button" ng-click="remove('creditsInstitution', software.credits, $index)"><i class="fa fa-times remove-icon-button"></i> </button>
													</span>
												</div>
											</div>
											<div class="form-group" style="padding-top:7px;">
												<a href="" ng-click="add('credits', software, false, true);add('creditsInstitution', software.credits, true, false)">Add institution</a>
											</div>
										</div>
									</div>
									<div class="form-group no-margin-bottom">
										<label class="col-sm-3 control-label" style="position: relative;"><span tooltips tooltip-side="left" tooltip-content="{{resourceModel.creditsInfrastructure.description}}">Infrastructure</span></label>
										<div class="col-sm-9">
											<div class="form-group" ng-repeat="creditsInfrastructure in software.credits.creditsInfrastructure track by $index" ng-class="{'no-margin-bottom': $last};">
												<div class="input-group">
													<input type="text" ng-model="software.credits.creditsInfrastructure[$index]" class="form-control" placeholder="Infrastructure"></input>
													<span class="input-group-btn">
													<button class="btn btn-default  highlight-icon" type="button" ng-click="remove('creditsInfrastructure', software.credits, $index)"><i class="fa fa-times remove-icon-button"></i> </button>
													</span>
												</div>
											</div>
											<div class="form-group" style="padding-top:7px;">
												<a href="" ng-click="add('credits', software, false, true);add('creditsInfrastructure', software.credits, true, false)">Add infrastructure</a>
											</div>
										</div>
									</div>
									<div class="form-group no-margin-bottom">
										<label class="col-sm-3 control-label" style="position: relative;"><span tooltips tooltip-side="left" tooltip-content="{{resourceModel.creditsFunding.description}}">Funding</span></label>
										<div class="col-sm-9">
											<div class="form-group" ng-repeat="creditsFunding in software.credits.creditsFunding track by $index" ng-class="{'no-margin-bottom': $last};">
												<div class="input-group">
													<input type="text" ng-model="software.credits.creditsFunding[$index]" class="form-control" placeholder="Funding"></input>
													<span class="input-group-btn">
													<button class="btn btn-default  highlight-icon" type="button" ng-click="remove('creditsFunding', software.credits, $index)"><i class="fa fa-times remove-icon-button"></i> </button>
													</span>
												</div>
											</div>
											<div class="form-group" style="padding-top:7px;">
												<a href="" ng-click="add('credits', software, false, true);add('creditsFunding', software.credits, true, false)">Add funding</a>
											</div>
										</div>
									</div>
								</div>
							</uib-tab>
							<uib-tab>
								<tab-heading>Supplementary</tab-heading>
								<br>
								<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 no-side-padding">
									<div class="form-group">
										<label class="col-sm-3 control-label" style="position: relative;"><span tooltips tooltip-side="left" tooltip-content="{{resourceModel.license.description}}">License</span></label>
										<div class="col-sm-9">
											<select class="form-control select-btn-group" ng-options="item.value as item.text for item in licenseOptions" ng-model="software.license">
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label" style="position: relative;"><span tooltips tooltip-side="left" tooltip-content="{{resourceModel.cost.description}}">Cost</span></label>
										<div class="col-sm-9">
											<select class="form-control select-btn-group" ng-options="item.value as item.text for item in costOptions" ng-model="software.cost">
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label" style="position: relative;"><span tooltips tooltip-side="left" tooltip-content="{{resourceModel.maturity.description}}">Maturity</span></label>
										<div class="col-sm-9">
											<select class="form-control select-btn-group" ng-options="item.value as item.text for item in maturityOptions" ng-model="software.maturity">
											</select>
										</div>
									</div>
<!-- 									<div class="form-group">
										<label class="col-sm-3 control-label"><span tooltips tooltip-side="left" tooltip-content="{{resourceModel.sourceRegistry.description}}">Source Registry</span></label>
										<div class="col-sm-9">
											<input ng-model="software.sourceRegistry" type="text" class="form-control" placeholder="Source Registry">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label"><span tooltips tooltip-side="left" tooltip-content="{{resourceModel.canonicalID.description}}">Canonical ID</span></label>
										<div class="col-sm-9">
											<input ng-model="software.canonicalID" type="text" class="form-control" placeholder="Canonical ID">
										</div>
									</div> -->
									<div class="form-group no-margin-bottom">
										<label class="col-sm-3 control-label" style="position: relative;"><span tooltips tooltip-side="left" tooltip-content="{{resourceModel.language.description}}">Language</span></label>
										<div class="col-sm-9">
											<div class="form-group" ng-repeat="language in software.language track by $index" ng-class="{'no-margin-bottom': $last};">
												<div class="input-group">
													<select class="form-control select-btn-group" ng-options="item.value as item.text for item in languageOptions" ng-model="software.language[$index]">
													</select>
													<span class="input-group-btn">
													<button class="btn btn-default highlight-icon" type="button" ng-click="remove('language', software, $index)"><i class="fa fa-times remove-icon-button"></i> </button>
													</span>
												</div>
											</div>
											<div class="form-group" style="padding-top:7px;">
												<a href="" ng-click="add('language', software, true, false);">Add language</a>
											</div>
										</div>
									</div>
									<div class="form-group no-margin-bottom">
										<label class="col-sm-3 control-label" style="position: relative;"><span tooltips tooltip-side="left" tooltip-content="{{resourceModel.platform.description}}">Platform</span></label>
										<div class="col-sm-9">
											<div class="form-group" ng-repeat="platform in software.platform track by $index" ng-class="{'no-margin-bottom': $last};">
												<div class="input-group">
													<select class="form-control select-btn-group" ng-options="item.value as item.text for item in platformOptions" ng-model="software.platform[$index]">
													</select>
													<span class="input-group-btn">
													<button class="btn btn-default highlight-icon" type="button" ng-click="remove('platform', software, $index)"><i class="fa fa-times remove-icon-button"></i> </button>
													</span>
												</div>
											</div>
											<div class="form-group" style="padding-top:7px;">
												<a href="" ng-click="add('platform', software, true, false);">Add platform</a>
											</div>
										</div>
									</div>
									<div class="form-group no-margin-bottom">
										<label class="col-sm-3 control-label" style="position: relative;"><span tooltips tooltip-side="left" tooltip-content="{{resourceModel.mirror.description}}">Mirror</span></label>
										<div class="col-sm-9">
											<div class="form-group" ng-repeat="mirror in software.mirror track by $index" ng-class="{'no-margin-bottom': $last};">
												<div class="input-group">
													<input type="text" ng-model="software.mirror[$index]" class="form-control" placeholder="Mirror"></input>
													<span class="input-group-btn">
													<button class="btn btn-default highlight-icon" type="button" ng-click="remove('mirror', software, $index)"><i class="fa fa-times remove-icon-button"></i> </button>
													</span>
												</div>
											</div>
											<div class="form-group" style="padding-top:7px;">
												<a href="" ng-click="add('mirror', software, true, false);">Add mirror</a>
											</div>
										</div>
									</div>
									<div class="form-group no-margin-bottom">
										<label class="col-sm-3 control-label" style="position: relative;"><span tooltips tooltip-side="left" tooltip-content="{{resourceModel.collectionID.description}}">Collection</span></label>
										<div class="col-sm-9">
											<div class="form-group" ng-repeat="collectionID in software.collectionID track by $index" ng-class="{'no-margin-bottom': $last};">
												<div class="input-group">
													<input type="text" ng-model="software.collectionID[$index]" class="form-control" placeholder="Collection"></input>
													<span class="input-group-btn">
													<button class="btn btn-default highlight-icon" type="button" ng-click="remove('collectionID', software, $index)"><i class="fa fa-times remove-icon-button"></i> </button>
													</span>
												</div>
											</div>
											<div class="form-group" style="padding-top:7px;">
												<a href="" ng-click="add('collectionID', software, true, false);">Add collection</a>
											</div>
										</div>
									</div>
								</div>
							</uib-tab>
							<uib-tab>
								<tab-heading>JSON</tab-heading>
								<br>
								<p>Here you can edit the JSON interactively:</p>
								<!-- <pre>{{ software | json }}</pre> -->
								<div class="form-group" ng-class="{'has-error': jsonEdit.error}">
									<textarea class="form-control" rows="20" ng-model="jsonEdit.model" ng-model-options="{ updateOn: 'default', debounce: { 'default': 1000 } }"></textarea>
									<label class="control-label">{{ jsonEdit.error }}</label>
								</div>
								<a href="javascript:void(0)" class="btn btn-default btn-xs pull-right" ng-click="downloadTool(true)" style="margin-left:10px;">Download pretty JSON</a>
								<a href="javascript:void(0)" class="btn btn-default btn-xs pull-right" ng-click="downloadTool(false)">Download JSON</a>
							</uib-tab>
						</uib-tabset>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>