<div ui-view>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-11 col-md-offset-0,5">
				<div class="page-header">
					<h3>Requests</h3>
				</div>
				<div class="clearfix"></div>
				<div ng-if="loading" style="text-align:center;">
					<i class="fa fa-spinner fa-5x fa-spin icon-cog" style="margin:40px;display:inline-block;"></i>
				</div>
				<div ng-if="!loading">
					<div ng-if="error.status != 0"><div error-dialog errorCode="error.status" errorMessage="error.message"></div></div>
					<div ng-if="error.status == 0">
						<!-- Received requests -->
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Received requests
									<button type="button" class="btn btn-default btn-xs pull-right" ng-change="filterReceivedRequests()" ng-model="filters.showCompletedReceived" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
										Show completed
									</button>
								</h3>
							</div>
							<div ng-show="received.length == 0" class="panel-body">
								<p>No received requests</p>
							</div>
							<table class="table table-condensed table-hover" ng-show="received.length != 0">
								<thead>
									<tr>
										<th>Resource</th>
										<th>Request type</th>
										<th>Requested by</th>
										<th style="width: 120px;">Action</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="entry in received" ng-class="{'bg-success': entry.completed && entry.accepted, 'bg-danger': entry.completed && !entry.accepted}">
										<td><a ui-sref="tool({id: entry.resourceId})">{{ entry.resourceId }}</a></td>
										<td>{{ typeDescription(entry.type) }}</td>
										<td>{{ entry.username }}</td>
										<td>
											<div ng-if="entry.processing"> 
												<i class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></i> Processing...
											</div>
											<div ng-if="!entry.processing">
												<button ng-show="!entry.completed" type="button" class="btn btn-success btn-xs" ng-click="acceptRequest(entry)">Accept</button>
												<button ng-show="!entry.completed" type="button" class="btn btn-danger btn-xs" ng-click="declineRequest(entry)">Decline</button>
												<span ng-show="entry.completed && entry.accepted"><i class="fa fa-check" aria-hidden="true"></i> Accepted</span>
												<span ng-show="entry.completed && !entry.accepted"><i class="fa fa-times" aria-hidden="true"></i> Declined</span>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- Sent requests -->
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Sent requests
									<button type="button" class="btn btn-default btn-xs pull-right" ng-change="filterSentRequests()" ng-model="filters.showCompletedSent" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
										Show completed
									</button>
								</h3>
							</div>
							<div ng-show="sent.length == 0" class="panel-body">
								<p>No sent requests</p>
							</div>
							<table class="table table-condensed table-hover" ng-show="sent.length != 0">
								<thead>
									<tr>
										<th>Resource</th>
										<th>Version</th>
										<th>Request type</th>
										<th>Requested by</th>
										<th style="width: 120px;">Status</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="entry in sent" ng-class="{'bg-success': entry.completed && entry.accepted, 'bg-danger': entry.completed && !entry.accepted}">
										<td><a ui-sref="tool({id: entry.resourceId})">{{ entry.resourceId }}</a></td>
										<td>{{ entry.resourceVersion }}</td>
										<td>{{ typeDescription(entry.type) }}</td>
										<td>{{ entry.username }}</td>
										<td>
											<span ng-show="!entry.completed"><i class="fa fa-question" aria-hidden="true"></i> Pending</span>
											<span ng-show="entry.completed && entry.accepted"><i class="fa fa-check" aria-hidden="true"></i> Accepted</span>
											<span ng-show="entry.completed && !entry.accepted"><i class="fa fa-times" aria-hidden="true"></i> Declined</span>
										</td>
									</tr>
								</tbody>
							</table>
						</div> 
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
