<div ui-view>
	<link rel="stylesheet" href="/css/login.css">
	<div class="container">
		<div class="col-md-offset-3 col-md-6">
			<div class="page-header" style="text-align:center;">
				<h1>Set a new password</h1>
			</div>
			<form role="form" novalidate name="signup_form">
				<div class="form-group has-feedback" ng-class="{'has-error': signup_form.password.$dirty && signup_form.password.$invalid, 'has-success': signup_form.password.$dirty && signup_form.password.$valid}">
					<label>New password</label>
					<input type="password" name="password" ng-minlength="8" class="form-control" placeholder="Password" ng-model="credentials.password" required>
					<span ng-show="signup_form.password.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
					<span ng-show="signup_form.password.$dirty && (signup_form.password.$invalid)" class="glyphicon glyphicon-remove form-control-feedback"></span>
					<span class="help-block" ng-show="signup_form.password.$error.required && signup_form.password.$dirty">Password is required.</span>
					<span class="help-block" ng-show="signup_form.password.$error.minlength">Password too short - needs to be at least 8 characters.</span>
				</div>
				<button type="submit" class="btn btn-primary btn-lg btn-block" ng-disabled="signup_form.$invalid || loading" ng-click="resetButtonClick()">Reset <span ng-show="loading"><i class="fa fa-spinner fa-spin"></i></span></button>
				<div class="form-group has-feedback has-error" ng-show="error_message">
					<span class="help-block">The reset password link is invalid. Receive a new one <a ui-sref="reset-password">here</a>.</span>
				</div>
			</form>
		</div>
	</div>
</div>