<div ui-view>
	<div class="container-fluid" ng-if="state.current.name == 'tool.affiliation.name'">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<h1>Entries with name: <code>{{ stateParams.name }}</code> <small>Affiliation: <code>{{ stateParams.affiliation }}</code></small></h1>
				<hr>
				<div elx-search-bar-module></div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-6 col-lg-6">
				<div elx-filter-module></div>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-6">
				<div elx-column-module></div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<hr style="margin-top:0px;">
				<div elx-tool-module="tool_service.get_by_name(stateParams.affiliation, stateParams.name)"></div>
			</div>
		</div>
	</div>
</div>