.filters-sidebar {
  .filter-section {
    margin-bottom: 24px;

    h4 {
      font-size: 1rem;
      font-weight: 500;
      //color: #333;
      margin: 0 0 12px 0;
    }

    mat-checkbox {
      display: block;
      margin-bottom: 8px;
    }
  }
}