<aside class="filters-sidebar">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Filters</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="filter-section">
                <h4>Tool Type</h4>
                <mat-checkbox>Command line tool</mat-checkbox>
                <mat-checkbox>Web application</mat-checkbox>
                <mat-checkbox>Desktop application</mat-checkbox>
                <mat-checkbox>Database portal</mat-checkbox>
              </div>
              
              <div class="filter-section">
                <h4>Topic</h4>
                <mat-checkbox>Sequence analysis</mat-checkbox>
                <mat-checkbox>Phylogenetics</mat-checkbox>
                <mat-checkbox>Structural biology</mat-checkbox>
                <mat-checkbox>Genomics</mat-checkbox>
              </div>

              <div class="filter-section">
                <h4>Operating System</h4>
                <mat-checkbox>Linux</mat-checkbox>
                <mat-checkbox>Windows</mat-checkbox>
                <mat-checkbox>Mac</mat-checkbox>
              </div>
            </mat-card-content>
          </mat-card>
        </aside>