.domain-bar-container {
	padding-top: 2em;
	padding-bottom: 2em;
	padding-left: 1em;
	background-color: #FFF;
	margin-bottom: 20px;
	border-radius: 8px;
	border: 1px solid #d3d3d3;
}


@media (min-width: 100px) {
    .domain-bar-container {
        /* width: 96%; */
    }
}

@media (min-width: 1200px) {
    .domain-bar-container {
        /* width: 91%; */
    }
}

.domain-bar-title {
	color: #4A4A4A;
	font-family: 'Roboto' !important;
	font-size: 28px;
	font-weight: 100 !important;
}

.domain-bar-subtitle {
	color: #7f7f7f;
	font-family: 'Roboto' !important;
	font-size: 20px;
	font-weight: 100 !important;
}

.domain-bar-description {
	color: #4A4A4A;
	font-family: 'Roboto' !important;
	font-size: 16px;
	font-weight: 100 !important;
	white-space: pre-wrap;
	text-align: justify;
	padding: 15px;
}