.domain-bar-container {
	padding-bottom: 2em;
	margin: auto;
}


@media (min-width: 100px) {
    .domain-bar-container {
        width: 96%;
    }
}

@media (min-width: 1200px) {
    .domain-bar-container {
        width: 91%;
    }
}

.domain-bar-title {
	color: #4A4A4A;
	font-family: 'Roboto' !important;
	font-size: 28px;
	font-weight: 100 !important;
}

.domain-bar-subtitle {
	color: #7f7f7f;
	font-family: 'Roboto' !important;
	font-size: 20px;
	font-weight: 100 !important;
}

.domain-bar-description {
	color: #4A4A4A;
	font-family: 'Roboto' !important;
	font-size: 14px;
	font-weight: 100 !important;
}