<div class="search-bar-container search-bar" style="display: flex;">	
	<tags-input ng-model="Query.current" style="flex-grow: 1; overflow: visible;" placeholder="Search bio.tools" template="components/searchBar/searchTagTemplate.html" on-tag-added="tagAdded($tag); tagsChanged();" on-tag-removed="tagsChanged()" attribute-list="Attribute.description" replace-spaces-with-dashes="false" min-length="1">
		<auto-complete source="loadSuggestions(filter.selected, $query)" max-results-to-show="9" select-first-match="false" debounce-delay="100" min-length="1" attribute-list="Attribute.description" filter="filter" load-on-empty="false" load-on-focus="true" display-property="text"></auto-complete>
	</tags-input>
		<span ng-show="ToolList.count > 0" class="search-bar-right-info-text">{{ToolList.count}} tools</span>
</div>