<div class="bs-callout-sm bs-callout-primary {{cssclass}}"> 
    <div class="tool-page-callout-header" style="color: black;">
        <a target="_blank" ng-href="{{url}}" class="{{cssclass}}">{{url}}</a>
        <span ng-repeat="link in types track by $index" tooltips tooltip-side="top" tooltip-content="{{hovertext}}" class="pill-tag-{{cssclass}}">{{link}}</span>
        <i ng-show="{{toshow}}" class="fa fa-question-circle" aria-hidden="true" style="font-size: 110%; margin-left: 0.5em;" ng-style="{color:color}" tooltips tooltip-side="top" tooltip-content="{{note}}"></i>
    </div>
</div>
