<div class="about-container">
  <h2>About bio.tools</h2>

  <!-- Info sections -->
  <div class="about-section">
    <div class="info-grid">
      <mat-card class="about-summary-card" *ngFor="let item of aboutItems">
        <mat-card-header>
          <mat-icon>{{item.icon}}</mat-icon>
          <mat-card-title>{{item.title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p [innerHTML]="item.text"></p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <mat-divider></mat-divider>

  <!-- Publications -->
  <div class="about-section">
    <h4>Publications and citing</h4>
    <p class="description-text">
      If you use <em>bio.tools</em>, please cite:
      <br>
      &emsp;Ison, J. et al. (2015). <a href="http://nar.oxfordjournals.org/content/early/2015/11/03/nar.gkv1116.long" target="_blank">Tools and data services 
        registry: a community effort to document bioinformatics resources.</a> <em>Nucleic Acids Research.</em> doi: 
        <a href="https://doi.org/10.1093/nar/gkv1116" target="_blank">10.1093/nar/gkv1116</a> 
        <br>&emsp;&emsp;and/or<br>
      &emsp;Ison, J. et al. (2019). 
        <a href="https://doi.org/10.1186/s13059-019-1772-6" target="_blank"> The bio.tools registry of software tools and data resources for the life sciences</a>
        <em>Genome Biology</em>. doi:
        <a href="https://doi.org/10.1186/s13059-019-1772-6" target="_blank">10.1186/s13059-019-1772-6</a>
    </p>

    <p class="description-text">
      If you use EDAM or its part, please cite:
      <br>
      &emsp;Ison, J., Kalaš, M., Jonassen, I., Bolser, D., Uludag, M., McWilliam, H., Malone, J., Lopez, R., Pettifer, S. and Rice, P. (2013). 
      <a href="http://bioinformatics.oxfordjournals.org/content/29/10/1325.full" target="_blank">EDAM: an ontology of bioinformatics operations, types of data and identifiers, topics and formats</a> <em>Bioinformatics</em>. doi: <a href="https://doi.org/10.1093/bioinformatics/btt113" target="_blank">10.1093/bioinformatics/btt113</a>

      <br>&emsp;&emsp;and/or<br>
      &emsp;Black, M. et al. (2021). <a href="https://f1000research.com/posters/11-1" target="_blank">EDAM: the bioscientific data analysis ontology.</a>
      <em>F1000 Research</em>. doi: <a href="https://doi.org/10.7490/f1000research.1118900.1" target="_blank">10.7490/f1000research.1118900.1</a>
    </p>

    <p class="description-text">
      For more information please visit our <a href="https://biotools.readthedocs.io/en/latest/publications.html" target="_blank">publications page</a>.
    </p>
  </div>

  <mat-divider></mat-divider>

  <!-- Funding -->
  <div class="about-section">
    <h4>Funding</h4>
    <p class="description-text">
      We acknowledge with gratitude the support of our funders:
    </p>
    <ul>
      <li>The Danish Ministry of Higher Education and Science.</li>
      <li>
        ELIXIR-EXCELERATE under the European Union's Horizon 2020 research and innovation programme (grant agreement number
        <a href="https://cordis.europa.eu/project/rcn/198519_en.html" target="_blank">676559</a>).
      </li>
      <li>Continuous support by the <a href="https://elixir-europe.org/platforms/tools">ELIXIR Tools Platform.</a></li>
    </ul>
  </div>

  <mat-divider></mat-divider>

  <!-- Flags grid -->
  <div class="about-section">
    <h4>Supported by ELIXIR Nodes</h4>
    <div class="flags-container">
      <div class="flag-item" *ngFor="let flag of flags">
        <a [href]="flag.link" target="_blank">
          <img [src]="flag.img" [alt]="flag.label" />
        </a>
        <span>{{flag.label}}</span>
      </div>
    </div>
  </div>
</div>