<br>
<div class="panel panel-info">
					<div class="panel-heading" style="position: relative;"><label align="justify">A link to download a resource related to the tool.
					<br>We recommend you specify at least downloads for the software source code or binaries, if available. See the <a target="_blank" ng-href="http://biotools.readthedocs.io/en/latest/curators_guide.html#download-group">Curation Guidelines <i class="fa fa-external-link"></i></a>.</label>
					</div>
				</div>
<form name="form.downloadForm" class="form-horizontal" novalidate>
	<div class="form-group">
		<div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 no-side-padding">
			<!-- Downloads -->
			<div class="panel panel-default" ng-repeat="link in software.download track by $index" ng-class="{'no-margin-bottom': $last};">
				<ng-form name="downloadDetailForm">
					<div class="panel-body" style="position: relative;">
						<i class="fa fa-times remove-icon highlight-icon" ng-click="removeButtonClick('download', software, $index)"></i>
						<div>
							<!-- URL -->
							<div class="form-group" style="margin-top:8px;" ng-class="{'has-error': registrationErrorPayload.download[$index].url}">
								<label class="col-sm-3 control-label" style="position: relative;"><span tooltips tooltip-side="right" tooltip-content="{{Attribute.description.downloadURL.description}}">URL <a target="_blank" href="http://biotools.readthedocs.io/en/latest/curators_guide.html#url-download"><i class="fa fa-question-circle fa" aria-hidden="true"></i></a></span>
								<span style="color:#ff0000;position: absolute; right: 5px;"><b>*</b></span>
								</label>
								<div class="col-sm-9">
									<input ng-model="software.download[$index].url" type="text" class="form-control" placeholder="URL" name="url" validate-edit-resource-field index={{$index}}>
									<label class="help-block" ng-repeat="error in downloadDetailForm.url.errorMessages" bo-text="error"></label>
								</div>
							</div>
							
							<!-- Download type -->
							<div class="form-group" ng-class="{'has-error': registrationErrorPayload.download[$index].type}">
								<label class="col-sm-3 control-label" style="position: relative;"><span tooltips tooltip-side="right" tooltip-content="{{Attribute.description.downloadType.description}}">Download type <a target="_blank" href="http://biotools.readthedocs.io/en/latest/curators_guide.html#download-type"><i class="fa fa-question-circle fa" aria-hidden="true"></i></a></span>
								<span style="color:#ff0000;position: absolute; right: 5px;"><b>*</b></span>
								</label>
								<div class="col-sm-9">
									<select class="form-control select-btn-group" ng-options="item.value as item.text for item in downloadTypeOptions" ng-model="software.download[$index].type" name="type" validate-edit-resource-field index={{$index}}>
									</select>
									<label class="help-block" ng-repeat="error in downloadDetailForm.type.errorMessages" bo-text="error"></label>
								</div>
							</div>

							<!-- 	Download Version , probably still needs work	 -->
							<div class="form-group" ng-class="{'has-error': registrationErrorPayload.download[$index].version}">
								<label class="col-sm-3 control-label" style="position: relative;"><span tooltips tooltip-side="right" tooltip-content="{{Attribute.description.downloadVersion.description}}">Version <a target="_blank" href="http://biotools.readthedocs.io/en/latest/curators_guide.html#version-download"><i class="fa fa-question-circle fa" aria-hidden="true"></i></a></span></label>
								<div class="col-sm-9">
									<input ng-model="software.download[$index].version" type="text" class="form-control" placeholder="e.g. 1.1, beta01, 2.0 - 2.7" name="version" validate-edit-resource-field index={{$index}}>
									<label class="help-block" ng-repeat="error in downloadDetailForm.version.errorMessages" bo-text="error"></label>
								</div>
							</div>

							<!--  Note	 -->
							<div class="form-group" ng-class="{'has-error': registrationErrorPayload.download[$index].note}">
								<label class="col-sm-3 control-label"><span tooltips tooltip-side="right" tooltip-content="{{Attribute.description.downloadNote.description}}">Note <a target="_blank" href="http://biotools.readthedocs.io/en/latest/curators_guide.html#note-download"><i class="fa fa-question-circle fa" aria-hidden="true"></i></a></span></label>
								<div class="col-sm-9">
									<textarea ng-model="software.download[$index].note" name="note" class="form-control" rows="3" placeholder="Comment about the download" validate-edit-resource-field index={{$index}}></textarea>
									<label class="help-block" ng-repeat="error in downloadDetailForm.note.errorMessages" bo-text="error"></label>
								</div>
							</div>
						</div>
					</div>
					<div ng-class="{'has-error': true};">
						<label class="help-block" style="margin-left: 20px;" ng-repeat="error in downloadForm.errorMessages" bo-text="error"></label>
					</div>
				</ng-form>
			</div>
			<!-- Add links -->
			<div class="form-group" style="padding-top:7px;">
				<a href="" ng-show="!meta.function.visibility" ng-click="addButtonClick('download', software, true, true)">Add download info</a>
			</div>
		</div>
	</div>
</form>
