<br>
<div class="panel panel-info">
	<div class="panel-heading" style="position: relative;"><label align="justify">Basic information about the tool.
			<br>You need to specify at least the name, homepage and a short description of the tool. See the <a
				target="_blank"
				ng-href='http://biotools.readthedocs.io/en/latest/curators_guide.html#summary-group'>Curation Guidelines
				<i class="fa fa-external-link"></i></a>.</label>
	</div>
</div>
<form name="form.summaryForm" class="form-horizontal" novalidate>
	<div class="col-xs-12 col-sm-12 col-md-9 col-md-offset-1 no-side-padding">
		<div class="row">
			<!-- 	Name	 -->
			<div class="form-group" ng-class="{'has-error': registrationErrorPayload.name}">
				<label class="col-sm-3 control-label" style="position: relative;">
					<span tooltips tooltip-side="right"
						tooltip-content="{{Attribute.description.name.description}}">Tool name <a target="_blank"
							href="http://biotools.readthedocs.io/en/latest/curators_guide.html#name-tool"><i
								class="fa fa-question-circle fa" aria-hidden="true"></i></a></span>
					<span style="color:#ff0000;position: absolute; right: 5px;"><b> *</b></span>
				</label>
				<div class="col-sm-9">
					<input ng-model="software.name" name="name"
						ng-change="biotoolsIDDisabled ? makeIdURLSafe(software.name) : null;" type="text"
						class="form-control" placeholder="Tool name" validate-edit-resource-field>
					<label class="help-block" ng-repeat="error in form.summaryForm.name.errorMessages"
						bo-text="error"></label>
				</div>
			</div>

			<!-- 	biotoolsID	 -->
			<div class="form-group" ng-class="{'has-error': registrationErrorPayload.biotoolsID}" ng-if="controller == 'create'">
				<label class="col-sm-3 control-label" style="position: relative;">
					<span tooltips tooltip-side="right"
						tooltip-content="{{Attribute.description.biotoolsID.description}}"> Persistent biotoolsID <a
							target="_blank"
							href="https://biotools.readthedocs.io/en/latest/curators_guide.html#summary-biotoolsid"><i
								class="fa fa-question-circle fa" aria-hidden="true"></i></a></span>
					<span style="color:#ff0000;position: absolute; right: 5px;"><b> *</b></span>
				</label>
				<div class="col-sm-9">
					<div class="input-group">
						<input class="form-control" name="biotoolsID" ng-model="software.biotoolsID" placeholder="Unique, persistent bio.tools identifier"
							validate-edit-resource-field ng-disabled="biotoolsIDDisabled">
						</input>
						<span class="input-group-btn">
							<button class="btn btn-default highlight-icon" type="button"
								ng-click="editIdToggleButtonClick()">{{editIdButtonText}}</button>
						</span>
					</div>
					
					<label class="help-block" ng-repeat="error in form.summaryForm.biotoolsID.errorMessages"
						bo-text="error"></label>
					<a class="edit-link" href="">Edit</a>
				</div>
			</div>


			<!--
			<div class="form-group" ng-class="{'has-error': registrationErrorPayload.id}">
				<label class="col-sm-3 control-label" style="position: relative;">
					<span tooltips tooltip-side="right" tooltip-content="{{Attribute.description.id.description}}">ID</span>
					<span style="color:#ff0000;position: absolute; right: 5px;"><b>*</b></span>
				</label>
				<div class="col-sm-9">
					<input ng-model="software.id" ng-if="controller == 'update' || newVersion" type="text" class="form-control" placeholder="ID" ng-disabled="true" validate-edit-resource-field>
					<div class="input-group" ng-if="controller == 'create' && !newVersion">
						<input ng-model="software.id" name="identifier" ng-change="makeIdURLSafe(software.id)" type="text" class="form-control" placeholder="ID" ng-disabled="autoUpdateId" validate-edit-resource-field>
						<span class="input-group-btn">
							<button class="btn btn-default" type="button" ng-click="editIdToggleButtonClick()">
								<span ng-show="autoUpdateId">Edit</span><i ng-show="!autoUpdateId" class="fa fa-times remove-icon-button"></i>
							</button>
						</span>
					</div>
					<label class="help-block" ng-repeat="error in form.summaryForm.identifier.errorMessages" bo-text="error"></label>
					<label ng-show="!registrationErrorPayload.id" class="help-block">Unique identifier of the resource - <a href="" tooltips tooltip-side="bottom" tooltip-content="ID is used in the URL. Once set it can not be changed." tooltip-show-trigger="mousedown" tooltip-hide-trigger="mousedown">more info</a></label>
				</div>
			</div> -->
			<!-- Latest -->
			<!-- 			<div class="form-group">
				<label class="col-sm-3 control-label" style="position: relative;"><span>Latest</span></label>
				<div class="col-sm-9">
					<select class="form-control select-btn-group" ng-options="item.value as item.text for item in latestOptions" ng-model="software.latest" name="latest" validate-edit-resource-field>
					</select>
					<label class="help-block" ng-repeat="error in form.summaryForm.latest.errorMessages" bo-text="error"></label>
					<label class="help-block">Is this the latest version?</label>
				</div>
				<label class="help-block" ng-repeat="error in form.supplementaryForm.latest.errorMessages" bo-text="error"></label>
			</div> -->

			<!-- 	Description	 -->
			<div class="form-group" ng-class="{'has-error': registrationErrorPayload.description}">
				<label class="col-sm-3 control-label"><span tooltips tooltip-side="right"
						tooltip-content="{{Attribute.description.description.description}}">Description <a
							target="_blank"
							href="http://biotools.readthedocs.io/en/latest/curators_guide.html#description"><i
								class="fa fa-question-circle fa" aria-hidden="true"></i></a></span>
					<span style="color:#ff0000;position: absolute; right: 5px;"><b> *</b></span>
				</label>
				<div class="col-sm-9">
					<textarea ng-model="software.description" name="description" class="form-control" rows="3"
						placeholder="Tool description" validate-edit-resource-field></textarea>
					<label class="help-block" ng-repeat="error in form.summaryForm.description.errorMessages"
						bo-text="error"></label>
				</div>
			</div>
			<!-- 	Homepage URL	 -->
			<div class="form-group" ng-class="{'has-error': registrationErrorPayload.homepage}">
				<label class="col-sm-3 control-label" style="position: relative;">
					<span tooltips tooltip-side="right"
						tooltip-content="{{Attribute.description.homepage.description}}">Homepage URL <a target="_blank"
							href="http://biotools.readthedocs.io/en/latest/curators_guide.html#homepage"><i
								class="fa fa-question-circle fa" aria-hidden="true"></i></a></span>
					<span style="color:#ff0000;position: absolute; right: 5px;"><b>*</b></span>
				</label>
				<div class="col-sm-9">
					<input ng-model="software.homepage" name="homepage" type="text" class="form-control"
						placeholder="Homepage URL" validate-edit-resource-field>
					<label class="help-block" ng-repeat="error in form.summaryForm.homepage.errorMessages"
						bo-text="error"></label>
				</div>
			</div>
			<!-- 	Version	 -->
			<div class="form-group no-margin-bottom">
				<label class="control-label col-sm-3" style="position: relative;"><span tooltips tooltip-side="right"
						tooltip-content="{{Attribute.description.version.description}}">Software version(s) <a
							target="_blank"
							href="http://biotools.readthedocs.io/en/latest/curators_guide.html#version-tool"><i
								class="fa fa-question-circle fa" aria-hidden="true"></i></a></span></label>
				<div class="col-sm-9">
					<div class="form-group" ng-repeat="collection in software.version track by $index"
						ng-class="{'no-margin-bottom': $last, 'has-error': registrationErrorPayload.version[$index][0]};">
						<ng-form name="versionForm">
							<div class="input-group">
								<input class="form-control" name="version" ng-model="software.version[$index]"
									validate-edit-resource-field index={{$index}}
									placeholder="e.g. 1.1, beta01, 2.0 - 2.7">
								</input>
								<span class="input-group-btn">
									<button class="btn btn-default highlight-icon" type="button"
										ng-click="removeButtonClick('version', software, $index)"><i
											class="fa fa-times remove-icon-button"></i> </button>
								</span>
							</div>
							<label class="help-block" ng-repeat="error in versionForm.version.errorMessages"
								bo-text="error"></label>
						</ng-form>
					</div>
					<div class="form-group" style="padding-top:7px;">
						<a href="" ng-click="addButtonClick('version', software, true, false);">Add version</a>
					</div>
				</div>

			</div>
		</div>
</form>