<div ng-controller="PermissionsController">
	<ng-form name="permissionsForm">
		<div class="panel-body">
			<!-- Public resource -->
			<div class="radio"">
				<label>
					<input type="radio" name="sharing_radio" ng-model="software.editPermission.type" value="private">Make this resource editable by me only
				</label>
			</div>
			<!-- Private resource -->
			<div class="radio">
				<label>
					<input type="radio" name="sharing_radio" ng-model="software.editPermission.type" value="public">Make this resource editable by anyone
				</label>
			</div>
			<!-- Specify permissions -->
			<div class="radio">
				<label>
					<input type="radio" name="sharing_radio" ng-model="software.editPermission.type" value="group">Make this resource editable for a specifed list of users
				</label>
			</div>
		</div>
		<!-- Manage permissions for users -->
		<div ng-show="software.editPermission.type == 'group'" class="panel panel-default">
			<div class="panel-body">
				<input type="text"
				ng-model="userSuggestion"
				class="form-control"
				placeholder="Search for users"
				typeahead="suggestion for suggestion in userSuggestions($viewValue)"
				typeahead-on-select="userSelected($item, $model, $label)"
				typeahead-no-results="noResults">
				<h6 class="text-danger" ng-if="noResults">No users found. Try searching based on the username.</h6>
				<!-- Create a table to show users with editing rights -->
				<div>
					<h5 class="edit-permission-user-table-vertical-space">Users that can edit the current resource:</h5>
					<span ng-show="!software.editPermission.authors || software.editPermission.authors.length == 0">None</span>
					<ul class="list-group" ng-show="users.length != 0">
						<li class="list-group-item" ng-repeat="user in software.editPermission.authors track by $index">
							<span>{{user}}</span>
							<button class="btn btn-xs btn-danger pull-right" ng-click="deleteUser($index)">Remove</button>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</ng-form>
</div>
