<br>
<div class="panel panel-info">
					<div class="panel-heading" style="position: relative;"><label align="justify">Here you can interactively edit the JSON representation of the tool annotation. Edits you make here will be reflected in the other editing tabs (Summary, Function etc.).
					<br> 
					All validation errors will also appear below in JSON format.
					</label>
					</div>
				</div>
<form name="form.JSONForm" class="form-horizontal" novalidate>
	<div class="form-group has-error" ng-show="registrationErrorPayload">
		<label class="help-block">Following validation errors were detected.</label>
		<div uib-collapse="error_collapse">
			<pre ng-show="registrationErrorPayload">{{ registrationErrorPayload | json }}</pre>
		</div>
		<button type="button" ng-show="registrationErrorPayload" class="btn btn-default btn-xs btn-block" ng-click="error_collapse = !error_collapse"><i class="fa" ng-class="{'fa-chevron-up':!error_collapse, 'fa-chevron-down':error_collapse}"></i></button>
	</div>
	<!-- <pre>{{ software | json }}</pre> -->
	<div class="form-group" ng-class="{'has-error': jsonEdit.error}">
		<textarea class="form-control" rows="20" ng-model="jsonEdit.model" ng-model-options="{ updateOn: 'default', debounce: { 'default': 1000 } }"></textarea>
		<label class="control-label">{{ jsonEdit.error }}</label>
	</div>
	<a href="javascript:void(0)" class="btn btn-default btn-xs pull-right" ng-click="downloadTool(true)" style="margin-left:10px;">Download pretty JSON</a>
	<a href="javascript:void(0)" class="btn btn-default btn-xs pull-right" ng-click="downloadTool(false)">Download JSON</a>
</form>
