<br>
<div class="panel panel-info">
    <div class="panel-heading" style="position: relative;">
        <label align="justify">Community and external partner resources linked from bio.tools.
        See <a target="_blank" href="https://biotools.readthedocs.io/en/latest/curators_guide.html#community-group">Curation Guidelines <i class="fa fa-external-link"></i></a>.</label>
	</div>
</div>
<form name="form.communityForm" class="form-horizontal" novalidate>
    <div class="form-group">
        <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 no-side-padding">
            
            <!--BioLib-->
            <div class="panel panel-default" ng-if="software.community.biolib">
                <ng-form name="communityDetailForm">
                    <div class="panel-body" style="position: relative;">
                        <h4 class="text-center">BioLib annotations</h4>
                        <p class="community-description">
                            BioLib is a platform for biological data science applications. With BioLib apps, you can run software securely in your web browser. See more at <a href="https://biolib.com" target="_blank">BioLib.com</a>.
                            See the bio.tools <a target="_blank" href="https://biotools.readthedocs.io/en/latest/curators_guide.html#biolib-annotations-community">Curation Guidelines</a> for BioLib.
                        </p>
                        <p class="community-description">
                            
                        </p>
                        <hr>
                        <i class="fa fa-times remove-icon highlight-icon"
                            ng-click="removeObjectClick('biolib', software, 'community')">
                        </i>

                        <!-- app_name -->
                        <div>
							<div class="form-group" ng-class="{'has-error': registrationErrorPayload.community.biolib.app_name}">
                                
                                <label class="col-sm-3 control-label" style="position: relative;"><span tooltips tooltip-side="right" tooltip-content="{{Attribute.description.bioLibAppName.description}}">App name <a target="_blank" href="https://biotools.readthedocs.io/en/latest/curators_guide.html#app-name-biolib"><i class="fa fa-question-circle fa" aria-hidden="true"></i></a></span>
                                    <span style="color:#ff0000;position: absolute; right: 5px;"><b>*</b></span>
                                </label>
								<div class="col-sm-9">
									<input ng-model="software.community.biolib.app_name" type="text" class="form-control" placeholder="e.g. samtools-stats" name="biolib_app_name" validate-edit-resource-field>
									<label class="help-block" ng-repeat="error in communityDetailForm.biolib_app_name.errorMessages" bo-text="error"></label>
								</div>
							</div>
                        </div>
                        <!--End app_name-->
                        <!-- author_username -->
                        <div>
                            
							<div class="form-group" ng-class="{'has-error': registrationErrorPayload.community.biolib.author_username}">
                                <label class="col-sm-3 control-label" style="position: relative;"><span tooltips tooltip-side="right" tooltip-content="{{Attribute.description.bioLibAuthorUsername.description}}">Author username <a target="_blank" href="https://biotools.readthedocs.io/en/latest/curators_guide.html#author-username-biolib"><i class="fa fa-question-circle fa" aria-hidden="true"></i></a></span>
                                    <span style="color:#ff0000;position: absolute; right: 5px;"><b>*</b></span>
                                </label>
								<div class="col-sm-9">
									<input ng-model="software.community.biolib.author_username" type="text" class="form-control" placeholder="Valid BioLib username" name="biolib_author_username" validate-edit-resource-field>
									<label class="help-block" ng-repeat="error in communityDetailForm.biolib_author_username.errorMessages" bo-text="error"></label>
								</div>
							</div>
                        </div>
                        <!--End author_username-->
                        <!-- author_name -->
                        <div>
							<div class="form-group" ng-class="{'has-error': registrationErrorPayload.community.biolib.author_name}">
                                <label class="col-sm-3 control-label" style="position: relative;"><span tooltips tooltip-side="right" tooltip-content="{{Attribute.description.bioLibAuthorName.description}}">Author name <a target="_blank" href="https://biotools.readthedocs.io/en/latest/curators_guide.html#author-name-biolib"><i class="fa fa-question-circle fa" aria-hidden="true"></i></a></span>
                                    <span style="color:#ff0000;position: absolute; right: 5px;"><b>*</b></span>
                                </label>
								<div class="col-sm-9">
									<input ng-model="software.community.biolib.author_name" type="text" class="form-control" placeholder="Author display name" name="biolib_author_name" validate-edit-resource-field>
									<label class="help-block" ng-repeat="error in communityDetailForm.biolib_author_name.errorMessages" bo-text="error"></label>
								</div>
							</div>
                        </div>
                        <!--End author_name-->
                    </div>
                    <div ng-class="{'has-error': true};">
                        <label class="help-block" style="margin-left: 20px;"
                            ng-repeat="error in communityDetailForm.errorMessages" bo-text="error"></label>
                    </div>
                </ng-form>
            </div>
            <div class="form-group" style="padding-top:7px;">
				<a href="" ng-show="!software.community.biolib" ng-click="addObjectClick('biolib', software, 'community')">Add BioLib annotations</a>
			</div>
            <!--End BioLib-->
        </div>
    </div>
</form>