<div style="padding: 15px;">
    <div class="modal-header">
        <h5 class="modal-title">Select EDAM term</h5>
      </div>

    <div class="modal-body">
        <div class="panel panel-default panel-modal">
            <div class="panel-body" style="padding:0px;">
                <div uib-collapse="vm.data.data.visibility">

                    <!-- Data picker -->
                    <div ng-if="vm.type == 'data'">
                        <div class="form-group" style="margin:5px;">
                            <input type="text" ng-model="vm.data.data.predicate" class="form-control input-sm"  placeholder="Filter"></input>
                        </div>
                        <div treecontrol class="tree-light"
                        tree-model="vm.onto"
                        order-by="orderby"
                        reverse-order="false"
                        options="treeOptions"
                        on-selection="vm.data.data.term = node.text; vm.data.data.uri=node.data.uri"
                        filter-expression="vm.data.data.predicate"
                        >{{node.text}}</div>
                    </div>

                    <!-- Operation and Format picker -->
                    <div ng-if="vm.type == 'operation' || vm.type == 'format'">
                        <div class="form-group" style="margin:5px;">
                            <input type="text" ng-model="vm.data.predicate" class="form-control input-sm"  placeholder="Filter"></input>
                        </div>
                        <div treecontrol class="tree-light"
                        tree-model="vm.onto"
                        order-by="orderby"
                        reverse-order="false"
                        options="treeOptions"
                        on-selection="vm.data.term = node.text; vm.data.uri=node.data.uri"
                        filter-expression="vm.data.predicate"
                        >{{node.text}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="vm.saveData(); $close()">Save changes</button>
        <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
    </div>
</div>
