<br>
<div class="panel panel-info">
					<div class="panel-heading" style="position: relative;"><label align="justify">A link to documentation about the tool.
					<br>We recommend you specify at least a link to general documentation, a manual, or API documentation. See the <a target="_blank" ng-href="http://biotools.readthedocs.io/en/latest/curators_guide.html#documentation-group">Curation Guidelines <i class="fa fa-external-link"></i></a>.</label>
					</div>
				</div>
<form name="form.documentationForm" class="form-horizontal" novalidate>
	<div class="form-group">
		<div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 no-side-padding">
			<!-- Downloads -->
			<div class="panel panel-default" ng-repeat="documentation in software.documentation track by $index" ng-class="{'no-margin-bottom': $last};">
				<ng-form name="documentationDetailForm">
					<div class="panel-body" style="position: relative;">
						<i class="fa fa-times remove-icon highlight-icon" ng-click="removeButtonClick('documentation', software, $index)"></i>
						<div>
							<!-- URL -->
							<div class="form-group" style="margin-top:8px;" ng-class="{'has-error': registrationErrorPayload.documentation[$index].url}">
								<label class="col-sm-3 control-label" style="position: relative;"><span tooltips tooltip-side="right" tooltip-content="{{Attribute.description.documentationURL.description}}">URL <a target="_blank" href="http://biotools.readthedocs.io/en/latest/curators_guide.html#url-documentation"><i class="fa fa-question-circle fa" aria-hidden="true"></i></a></span>
								<span style="color:#ff0000;position: absolute; right: 5px;"><b>*</b></span></span></label>
								<div class="col-sm-9">
									<input ng-model="software.documentation[$index].url" type="text" class="form-control" placeholder="URL" name="url" validate-edit-resource-field index={{$index}}>
									<label class="help-block" ng-repeat="error in documentationDetailForm.url.errorMessages" bo-text="error"></label>
								</div>
							</div>
							
							<!-- Documentation type
							<div class="form-group" ng-class="{'has-error': registrationErrorPayload.documentation[$index].type}">
								<label class="col-sm-3 control-label" style="position: relative;"><span tooltips tooltip-side="right" tooltip-content="{{Attribute.description.documentationType.description}}">Documentation type <a target="_blank" href="http://biotools.readthedocs.io/en/latest/curators_guide.html#documentationtype"><i class="fa fa-question-circle fa" aria-hidden="true"></i></a></span>
								<span style="color:#ff0000;position: absolute; right: 5px;"><b>*</b></span></span></label>
								<div class="col-sm-9">
									<select class="form-control select-btn-group" ng-options="item.value as item.text for item in documentationTypeOptions" ng-model="software.documentation[$index].type" name="type" validate-edit-resource-field index={{$index}}>
									</select>
									<label class="help-block" ng-repeat="error in documentationDetailForm.type.errorMessages" bo-text="error"></label>
								</div>
							</div> -->

							<!-- New Documentation type -->
							<div class="form-group">
								<label class="col-sm-3 control-label" style="position: relative;"><span tooltips tooltip-side="right" tooltip-content="{{Attribute.description.documentationType.description}}">Documentation type <a target="_blank" href="http://biotools.readthedocs.io/en/latest/curators_guide.html#documentationtype"><i class="fa fa-question-circle fa" aria-hidden="true"></i></a></span>
									<span style="color:#ff0000;position: absolute; right: 5px;"><b>*</b></span>
								</label>
								<div class="col-sm-9" ng-init="entryIndex = $index">
									<div class="form-group" ng-repeat="type in software.documentation[entryIndex].type track by $index" ng-init="typeIndex = $index" ng-class="{'no-margin-bottom': $last, 'has-error': registrationErrorPayload.documentation[entryIndex].type[typeIndex][0]};">
										
											<div class="input-group">
												<select class="form-control select-btn-group" ng-options="item.value as item.text for item in documentationTypeOptions" ng-model="software.documentation[entryIndex].type[typeIndex]">
												</select>
												<span class="input-group-btn">
													<button class="btn btn-default highlight-icon" type="button" ng-click="removeButtonClick('type', software.documentation[entryIndex], typeIndex)"><i class="fa fa-times remove-icon-button"></i> </button>
												</span>
											</div>
											<label class="help-block" ng-repeat="error in registrationErrorPayload.documentation[entryIndex].type[typeIndex]" bo-text="error"></label>
									</div>
									<label class="help-block" ng-repeat="error in documentationDetailForm.documentation[entryIndex]" bo-text="error"></label>
									
									<div class="form-group" style="padding-top:7px;">
										<a href="" ng-click="addButtonClick('type', software.documentation[entryIndex], true, false);">Add documentation type</a>
									</div>
									<div ng-class="{'has-error': true};" ng-show="registrationErrorPayload.documentation[entryIndex].type[0]=='This field is required.'">
										<label class="help-block" ng-repeat="error in registrationErrorPayload.documentation[entryIndex].type" bo-text="error"></label>
									</div>

								</div>
							</div>
							
							
							<!--  Note	 -->
							<div class="form-group" ng-class="{'has-error': registrationErrorPayload.documentation[$index].note}">
								<label class="col-sm-3 control-label"><span tooltips tooltip-side="right" tooltip-content="{{Attribute.description.documentationNote.description}}">Note <a target="_blank" href="http://biotools.readthedocs.io/en/latest/curators_guide.html#note-documentation"><i class="fa fa-question-circle fa" aria-hidden="true"></i></a></span></label>
								<div class="col-sm-9">
									<textarea ng-model="software.documentation[$index].note" name="note" class="form-control" rows="3" placeholder="Note about the documentation" validate-edit-resource-field index={{$index}}></textarea>
									<label class="help-block" ng-repeat="error in documentationDetailForm.note.errorMessages" bo-text="error"></label>
								</div>
							</div>

						</div>
					</div>
					<div ng-class="{'has-error': true};">
						<label class="help-block" style="margin-left: 20px;" ng-repeat="error in documentationForm.errorMessages" bo-text="error"></label>
					</div>
				</ng-form>
			</div>
			<!-- Add documentation -->
			<div class="form-group" style="padding-top:7px;">
				<a href="" ng-show="!meta.function.visibility" ng-click="addButtonClick('documentation', software, true, true)">Add documentation info</a>
			</div>
		</div>
	</div>
</form>
