<br>
<div class="panel panel-info">
					<div class="panel-heading" style="position: relative;"><label align="justify">An individual or organisation that should be credited, or may be contacted about the tool.
					<br>You must specify one or more of name, email and URL of the primary contact person. We recommend you also provide an ORCID iD (if available). See the <a target="_blank" ng-href="">Curation Guidelines <i class="fa fa-external-link"></i></a>.</label>
					</div>
				</div>
<form name="form.creditsForm" class="form-horizontal" novalidate autocomplete="off">
	<div class="form-group">
		<div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 no-side-padding">
			<!-- Credits -->
			<div class="panel panel-default" ng-repeat="link in software.credit track by $index" ng-class="{'no-margin-bottom': $last};">
				<ng-form name="creditDetailForm">
					<div class="panel-body" style="position: relative;">
						<i class="fa fa-times remove-icon highlight-icon" ng-click="removeButtonClick('credit', software, $index)"></i>
						<div>
							<!-- ORCID ID -->
							<div class="form-group" ng-class="{'has-error': registrationErrorPayload.credit[$index].orcidid}">
								<label class="col-sm-3 control-label" style="position: relative;"><span tooltips tooltip-side="right" tooltip-content="{{Attribute.description.creditOrcidID.description}}">ORCID ID <a target="_blank" href="http://biotools.readthedocs.io/en/latest/curators_guide.html#orcid-id"><i class="fa fa-question-circle fa" aria-hidden="true"></i></a></span></label>
								<div class="col-sm-9">
									<input ng-model="software.credit[$index].orcidid" type="text" class="form-control" placeholder="e.g. https://orcid.org/0000-0002-1825-0097" name="orcidid" validate-edit-resource-field index={{$index}}>
									<label class="help-block" ng-repeat="error in creditDetailForm.orcidid.errorMessages" bo-text="error"></label>
								</div>
							</div>
							<!-- Name -->
							<div class="form-group" ng-class="{'has-error': registrationErrorPayload.credit[$index].name}">
								<label class="col-sm-3 control-label" style="position: relative;"><span tooltips tooltip-side="right" tooltip-content="{{Attribute.description.creditName.description}}">Name <a target="_blank" href="http://biotools.readthedocs.io/en/latest/curators_guide.html#name-credit"><i class="fa fa-question-circle fa" aria-hidden="true"></i></a></span></label>
								<div class="col-sm-9">
									<input ng-model="software.credit[$index].name" type="text" class="form-control" placeholder="e.g. Josiah Carberry" name="name" validate-edit-resource-field index={{$index}}
									typeahead="creditName for creditName in loadCreditNames($viewValue)" typeahead-min-length="2">
									<label class="help-block" ng-repeat="error in creditDetailForm.name.errorMessages" bo-text="error"></label>
								</div>
							</div>
							<!-- Email -->
							<div class="form-group" ng-class="{'has-error': registrationErrorPayload.credit[$index].email}">
								<label class="col-sm-3 control-label" style="position: relative;"><span tooltips tooltip-side="right" tooltip-content="{{Attribute.description.creditEmail.description}}">Email <a target="_blank" href="http://biotools.readthedocs.io/en/latest/curators_guide.html#email"><i class="fa fa-question-circle fa" aria-hidden="true"></i></a></span></label>
								<div class="col-sm-9">
									<input ng-model="software.credit[$index].email" type="text" class="form-control" placeholder="e.g. j.carberry@orcid.org" name="email" validate-edit-resource-field index={{$index}}>
									<label class="help-block" ng-repeat="error in creditDetailForm.email.errorMessages" bo-text="error"></label>
								</div>
							</div>
							<!-- URL -->
							<div class="form-group" ng-class="{'has-error': registrationErrorPayload.credit[$index].url}">
								<label class="col-sm-3 control-label" style="position: relative;"><span tooltips tooltip-side="right" tooltip-content="{{Attribute.description.creditURL.description}}">URL <a target="_blank" href="http://biotools.readthedocs.io/en/latest/curators_guide.html#url-credit"><i class="fa fa-question-circle fa" aria-hidden="true"></i></a></span></label>
								<div class="col-sm-9">
									<input ng-model="software.credit[$index].url" type="text" class="form-control" placeholder="e.g. https://library.brown.edu/hay/carberry.php" name="url" validate-edit-resource-field index={{$index}}>
									<label class="help-block" ng-repeat="error in creditDetailForm.url.errorMessages" bo-text="error"></label>
								</div>
							</div>
							<!-- gridid -->
							<div class="form-group" ng-class="{'has-error': registrationErrorPayload.credit[$index].gridid}">
								<label class="col-sm-3 control-label" style="position: relative;"><span tooltips tooltip-side="right" tooltip-content="{{Attribute.description.creditGridID.description}}">gridid <a target="_blank" href="http://biotools.readthedocs.io/en/latest/curators_guide.html#grid-id"><i class="fa fa-question-circle fa" aria-hidden="true"></i></a></span></label>
								<div class="col-sm-9">
									<input ng-model="software.credit[$index].gridid" type="text" class="form-control" placeholder="e.g. grid.5170.3" name="gridid" validate-edit-resource-field index={{$index}}>
									<label class="help-block" ng-repeat="error in creditDetailForm.gridid.errorMessages" bo-text="error"></label>
								</div>
							</div>
							<!-- rorid -->
							<div class="form-group" ng-class="{'has-error': registrationErrorPayload.credit[$index].rorid}">
								<label class="col-sm-3 control-label" style="position: relative;"><span tooltips tooltip-side="right" tooltip-content="{{Attribute.description.creditRORID.description}}">rorid <a target="_blank" href="http://biotools.readthedocs.io/en/latest/curators_guide.html#ror-id"><i class="fa fa-question-circle fa" aria-hidden="true"></i></a></span></label>
								<div class="col-sm-9">
									<input ng-model="software.credit[$index].rorid" type="text" class="form-control" placeholder="e.g. 04qtj9h94" name="rorid" validate-edit-resource-field index={{$index}}>
									<label class="help-block" ng-repeat="error in creditDetailForm.rorid.errorMessages" bo-text="error"></label>
								</div>
							</div>
							<!-- fundrefid -->
							<div class="form-group" ng-class="{'has-error': registrationErrorPayload.credit[$index].fundrefid}">
								<label class="col-sm-3 control-label" style="position: relative;"><span tooltips tooltip-side="right" tooltip-content="{{Attribute.description.creditFundRefID.description}}">fundrefid <a target="_blank" href="http://biotools.readthedocs.io/en/latest/curators_guide.html#fundref-id"><i class="fa fa-question-circle fa" aria-hidden="true"></i></a></span></label>
								<div class="col-sm-9">
									<input ng-model="software.credit[$index].fundrefid" type="text" class="form-control" placeholder="e.g. 10.13039/501100005192" name="fundrefid" validate-edit-resource-field index={{$index}}>
									<label class="help-block" ng-repeat="error in creditDetailForm.fundrefid.errorMessages" bo-text="error"></label>
								</div>
							</div>
							<!-- Entity type -->
							<div class="form-group">
								<label class="col-sm-3 control-label" style="position: relative;"><span tooltips tooltip-side="right" tooltip-content="{{Attribute.description.creditEntityType.description}}">Entity type <a target="_blank" href="http://biotools.readthedocs.io/en/latest/curators_guide.html#entity-type"><i class="fa fa-question-circle fa" aria-hidden="true"></i></a></span></label>
								<div class="col-sm-9">
									<select class="form-control select-btn-group" ng-options="item.value as item.text for item in entityTypeOptions" ng-model="software.credit[$index].typeEntity" name="entityType" validate-edit-resource-field>
									</select>
									<label class="help-block" ng-repeat="error in creditDetailForm.entityType.errorMessages" bo-text="error"></label>
								</div>
							</div>
							<!-- Role type -->
							<div class="form-group">
								<label class="col-sm-3 control-label" style="position: relative;"><span tooltips tooltip-side="right" tooltip-content="{{Attribute.description.creditEntityRole.description}}">Entity role <a target="_blank" href="http://biotools.readthedocs.io/en/latest/curators_guide.html#entity-role"><i class="fa fa-question-circle fa" aria-hidden="true"></i></a></span></label>

<!-- 								<div class="col-sm-9">
									<select class="form-control select-btn-group" ng-options="item.value as item.text for item in roleTypeOptions" ng-model="software.credit[$index].typeRole" name="roleType" validate-edit-resource-field>
									</select>
									<label class="help-block" ng-repeat="error in creditDetailForm.roleType.errorMessages" bo-text="error"></label>
								</div>
 -->
								<div class="col-sm-9" ng-init="creditIndex = $index">
									<div class="form-group" ng-repeat="typeRole in software.credit[creditIndex].typeRole track by $index" ng-init="roleIndex = $index" ng-class="{'no-margin-bottom': $last, 'has-error': registrationErrorPayload.credit[creditIndex].typeRole[roleIndex][0]};">
											<div class="input-group">
												<select class="form-control select-btn-group" ng-options="item.value as item.text for item in roleTypeOptions" ng-model="software.credit[creditIndex].typeRole[roleIndex]">
												</select>
												<span class="input-group-btn">
													<button class="btn btn-default highlight-icon" type="button" ng-click="removeButtonClick('typeRole', software.credit[creditIndex], roleIndex)"><i class="fa fa-times remove-icon-button"></i> </button>
												</span>
											</div>
											<label class="help-block" ng-repeat="error in registrationErrorPayload.credit[creditIndex].typeRole[roleIndex]" bo-text="error"></label>
											<label class="help-block" ng-repeat="error in creditDetailForm.credit[creditIndex]" bo-text="error"></label>
									</div>
									<label class="help-block" ng-if="isString(error)" ng-repeat="error in registrationErrorPayload.typeRole" bo-text="error"></label>
									
									<div class="form-group" style="padding-top:7px;">
										<a href="" ng-click="addButtonClick('typeRole', software.credit[creditIndex], true, false);">Add role</a>
									</div>

									<div ng-class="{'has-error': true};" ng-show="registrationErrorPayload.credit[creditIndex].typeRole[0]=='This field is required.'">
										<label class="help-block" ng-repeat="error in registrationErrorPayload.credit[creditIndex].typeRole" bo-text="error"></label>
									</div>
								</div>

							</div>
							<!--  Comment	 -->
							<div class="form-group" ng-class="{'has-error': registrationErrorPayload.credit[$index].note}">
								<label class="col-sm-3 control-label"><span tooltips tooltip-side="right" tooltip-content="{{Attribute.description.creditNote.description}}">Note <a target="_blank" href="http://biotools.readthedocs.io/en/latest/curators_guide.html#note-credit"><i class="fa fa-question-circle fa" aria-hidden="true"></i></a></span></label>
								<div class="col-sm-9">
									<textarea ng-model="software.credit[$index].note" name="note" class="form-control" rows="3" placeholder="e.g. Professor at Brown University, known for his work in psychoceramics." validate-edit-resource-field index={{$index}}></textarea>
									<label class="help-block" ng-repeat="error in form.credit[$index].note.errorMessages" bo-text="error"></label>
								</div>
							</div>
						</div>
						<!-- {{form.creditsForm.errorMessages}} -->
					</div>
					<div ng-class="{'has-error': true};">
						<label class="help-block" style="margin-left: 20px;" ng-repeat="error in creditDetailForm.errorMessages" bo-text="error"></label>
					</div>
				</ng-form>
			</div>
			<!-- Give credit where it's due -->
			<div class="form-group" style="padding-top:7px;">
				<a href="" ng-show="!meta.function.visibility" ng-click="addButtonClick('credit', software, true, true)">Add a credit</a>
			</div>
		</div>
	</div>
</form>
