<br>
<div class="panel panel-info">
					<div class="panel-heading" style="position: relative;"><label align="justify">A tool can have one or more basic functions (modes of operation) described in terms from the <a target="_blank" ng-href="https://github.com/edamontology/edamontology/">EDAM Ontology <i class="fa fa-external-link"></i></a>.  Each function performs one or more specific operation(s), e.g. "Sequence alignment".  An operation may have one or more primary inputs and outputs, each of a defined type of data, e.g. "Sequence", and listing supported format(s) e.g. "FASTA".
					<br>We recommend you specify at least the operation(s) for the primary function of the tool. See the <a target="_blank" ng-href="http://biotools.readthedocs.io/en/latest/curators_guide.html#function-group">Curation Guidelines <i class="fa fa-external-link"></i></a>.</label>
					</div>
				</div>
<form name="form.functionForm" class="form-horizontal" novalidate>
	<div class="form-group">
		<div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 no-side-padding">
			<!-- FUNCTION -->
			<div uib-collapse="meta.function.visibility">
				
				<div class="panel panel-default" ng-repeat="function in software.function track by $index" ng-init="functionIndex = $index" style="background-color: #fff;" ng-class="{'no-margin-bottom': $last};">
					<div class="panel-heading" style="position: relative;">
						<i class="fa fa-times remove-icon highlight-icon" ng-click="removeButtonClick('function', software, $index)"></i>
						<label class="control-label">Function details
							<a target="_blank" href="http://biotools.readthedocs.io/en/latest/curators_guide.html#toolfunctions"><i class="fa fa-question-circle fa" aria-hidden="true"></i></a>
						</label>
					</div>
					<div class="panel-body" style="position: relative;">
						<div class="form-group" style="margin-bottom:0px;">
							<label class="control-label"><span tooltips tooltip-side="right" tooltip-content="{{Attribute.description.operation.description}}">Operation <a target="_blank" href="http://biotools.readthedocs.io/en/latest/curators_guide.html#operation"><i class="fa fa-question-circle fa" aria-hidden="true"></i></a></span><span style="color:#ff0000;"><b> *</b></span></label>
							<div class="form-group" ng-repeat="operation in function.operation track by $index" ng-init="functionNameIndex = $index" ng-class="{'no-margin-bottom': $last};">
								<div class="input-group">
									<input type="text" ng-model="operation.term" class="form-control input-ontology" placeholder="Operation" disabled="disabled"></input>
									<span class="input-group-btn">
										<button class="btn" type="button" ng-click="function.operation[functionNameIndex].term = 'Operation'; meta.function[functionIndex].operation[functionNameIndex].selected = undefined; meta.function[functionIndex].operation[functionNameIndex].visibility = true;" tooltips tooltip-side="right" tooltip-content="If you can't find the terms you are looking for, please specify them in the 'Note' section below. " ng-class="{'btn-primary': function.operation[functionNameIndex].term == 'Operation', 'btn-default': function.operation[functionNameIndex].term != 'Operation'}">I don't know</button>
										<button class="btn btn-default highlight-icon input-ontology-btn" type="button" ng-click="removeButtonClick('operation', function, $index)"><i class="fa fa-times remove-icon-button"></i> </button>
									</span>
								</div>
								<div class="panel panel-default panel-ontology">
									<div class="panel-body" style="padding:0px;">
										<div uib-collapse="meta.function[functionIndex].operation[functionNameIndex].visibility">
											<div class="form-group" style="margin:5px;">
												<input type="text" ng-model="meta.function[functionIndex].operation[functionNameIndex].predicate" class="form-control input-sm"  placeholder="Filter"></input>
											</div>
											<div treecontrol class="tree-light"
											tree-model="EDAM_operation"
											order-by="orderby"
											reverse-order="false"
											options="treeOptions"
											on-selection="ontologyOnSelect(software.function[functionIndex].operation, functionNameIndex, node); resetError('operation', registrationErrorPayload.function[functionIndex], functionNameIndex)"
											selected-node="meta.function[functionIndex].operation[functionNameIndex].selected"
											filter-expression="meta.function[functionIndex].operation[functionNameIndex].predicate">{{node.text}}</div>
										</div>
										<button type="button" class="btn btn-default btn-xs btn-block btn-ontology" ng-class="{'btn-ontology-closed': meta.function[functionIndex].operation[functionNameIndex].visibility}" ng-click="meta.function[functionIndex].operation[functionNameIndex].visibility = !meta.function[functionIndex].operation[functionNameIndex].visibility"><i class="fa" ng-class="{'fa-chevron-up':!meta.function[functionIndex].operation[functionNameIndex].visibility, 'fa-chevron-down':meta.function[functionIndex].operation[functionNameIndex].visibility}"></i></button>
									</div>
								</div>
								<div ng-class="{'has-error': true};">
									<label class="help-block" ng-repeat="error in registrationErrorPayload.function[functionIndex].operation[functionNameIndex]" bo-text="error"></label>
								</div>
							</div>
							<div ng-class="{'has-error': true};" ng-show="registrationErrorPayload.function[functionIndex].operation[0]=='This field is required.'">
									<label class="help-block" ng-repeat="error in registrationErrorPayload.function[functionIndex].operation" bo-text="error"></label>
								</div>
						</div>
						
						<div class="form-group" style="padding-top:7px;">
							<a href="" ng-click="addButtonClick('operation', function, true, true)">Add operation</a>
						</div>
						<!-- INPUT -->
						<div class="form-group" style="margin-bottom:0px;">
							<label class="control-label"><span tooltips tooltip-side="right" tooltip-content="{{Attribute.description.input.description}}">Input</span></label>
							<div uib-collapse="meta.function[functionIndex].input[inputIndex].visibility">
								<div class="panel panel-default panel-inner" ng-repeat="input in function.input track by $index" ng-init="inputIndex = $index" ng-class="{'no-margin-bottom': $last};">
									<div class="panel-body" style="position: relative;">
										<i class="fa fa-times remove-icon highlight-icon" ng-click="removeButtonClick('input', function, $index)"></i>
										<div class="form-group" style="margin-bottom:0px;">
											<label class="control-label"><span tooltips tooltip-side="right" tooltip-content="{{Attribute.description.inputDataType.description}}">Data type <a target="_blank" href="http://biotools.readthedocs.io/en/latest/curators_guide.html#data-type-input-and-output-data"><i class="fa fa-question-circle fa" aria-hidden="true"></i></a></span> <span style="color:#ff0000;"><b>*</b></span></label>
											<div class="input-group" ng-if="input.data != null">
												<input type="text" ng-model="input.data.term" class="form-control input-ontology" placeholder="Data type" disabled="disabled"></input>
												<span class="input-group-btn">
													<button class="btn" type="button" ng-click="input.data.term = 'Data'; meta.function[functionIndex].input[inputIndex].data.selected = undefined; meta.function[functionIndex].input[inputIndex].data.visibility = true;" tooltips tooltip-side="right" tooltip-content="If you can't find the terms you are looking for, please specify them in the 'Note' section below" ng-class="{'btn-primary': input.data.term == 'Data Type', 'btn-default': input.data.term != 'Data Type'}">I don't know</button>
													<button class="btn btn-default highlight-icon input-ontology-btn" type="button" ng-click="input.data = undefined; meta.function[functionIndex].input[inputIndex].data.selected = undefined;"><i class="fa fa-times remove-icon-button"></i></button>
												</span>
											</div>
											<div ng-if="input.data != null" class="panel panel-default panel-ontology">
												<div class="panel-body" style="padding:0px;">
													<div uib-collapse="meta.function[functionIndex].input[inputIndex].data.visibility">
														<div class="form-group" style="margin:5px;">
															<input type="text" ng-model="meta.function[functionIndex].input[inputIndex].data.predicate" class="form-control input-sm"  placeholder="Filter"></input>
														</div>
														<div treecontrol class="tree-light"
														tree-model="EDAM_data"
														order-by="orderby"
														reverse-order="false"
														options="treeOptions"
														on-selection="input.data.term = node.text;input.data.uri = node.data.uri; resetError('input', registrationErrorPayload.function[functionIndex], inputIndex)"
														selected-node="meta.function[functionIndex].input[inputIndex].data.selected"
														filter-expression="meta.function[functionIndex].input[inputIndex].data.predicate">{{node.text}}</div>
													</div>
													<button type="button" class="btn btn-default btn-xs btn-block btn-ontology" ng-class="{'btn-ontology-closed': meta.function[functionIndex].input[inputIndex].data.visibility}" ng-click="meta.function[functionIndex].input[inputIndex].data.visibility = !meta.function[functionIndex].input[inputIndex].data.visibility"><i class="fa" ng-class="{'fa-chevron-up':!meta.function[functionIndex].input[inputIndex].data.visibility, 'fa-chevron-down':meta.function[functionIndex].input[inputIndex].data.visibility}"></i></button>

												</div>
											</div>
										</div>
										<div ng-class="{'has-error': true};">
											<label class="help-block" ng-repeat="error in registrationErrorPayload.function[functionIndex].input[inputIndex].data" bo-text="error"></label>
										</div>
										<div class="form-group" style="padding-top:7px;">
											<a href="" ng-show="input.data == null" ng-click="addButtonClick('data', input, false, true)">Add data type</a>
										</div>
										<div class="form-group" style="margin-bottom:0px;">
											<label class="control-label"><span tooltips tooltip-side="right" tooltip-content="{{Attribute.description.inputDataFormat.description}}">Data format <a target="_blank" href="http://biotools.readthedocs.io/en/latest/curators_guide.html#data-format-input-and-output-data"><i class="fa fa-question-circle fa" aria-hidden="true"></i></a></span></span></label>
											<div class="form-group" ng-repeat="format in input.format track by $index" ng-init="dataFormatIndex = $index" ng-class="{'no-margin-bottom': $last};">
												<div class="input-group">
													<input type="text" ng-model="input.format[dataFormatIndex].term" class="form-control input-ontology" placeholder="Data Format" disabled="disabled"></input>
													<span class="input-group-btn">
														<button class="btn" type="button" ng-click="input.format[dataFormatIndex].term = 'Format'; meta.function[functionIndex].input[inputIndex].format[dataFormatIndex].selected = undefined; meta.function[functionIndex].input[inputIndex].format[dataFormatIndex].visibility = true;" tooltips tooltip-side="right" tooltip-content="If you can't find the terms you are looking for, please specify them in the 'Note' section below" ng-class="{'btn-primary': input.format[dataFormatIndex].term == 'Data Format', 'btn-default': input.format[dataFormatIndex].term != 'Operation'}">I don't know</button>
														<button class="btn btn-default highlight-icon input-ontology-btn" type="button" ng-click="removeButtonClick('format', input, $index)"><i class="fa fa-times remove-icon-button"></i> </button>
													</span>
												</div>
												<div class="panel panel-default panel-ontology">
													<div class="panel-body" style="padding:0px;">
														<div uib-collapse="meta.function[functionIndex].input[inputIndex].format[dataFormatIndex].visibility">
															<div class="form-group" style="margin:5px;">
																<input type="text" ng-model="meta.function[functionIndex].input[inputIndex].format[dataFormatIndex].predicate" class="form-control input-sm" placeholder="Filter"></input>
															</div>
															<div treecontrol class="tree-light"
															tree-model="EDAM_format"
															order-by="orderby"
															reverse-order="false"
															options="treeOptions"
															on-selection="ontologyOnSelect(input.format, dataFormatIndex, node); resetError('format', registrationErrorPayload.function[functionIndex].input[inputIndex], dataFormatIndex)"
															selected-node="meta.function[functionIndex].input[inputIndex].format[dataFormatIndex].selected"
															filter-expression="meta.function[functionIndex].input[inputIndex].format[dataFormatIndex].predicate">{{node.text}}</div>
														</div>
														<button type="button" class="btn btn-default btn-xs btn-block btn-ontology" ng-class="{'btn-ontology-closed': meta.function[functionIndex].input[inputIndex].format[dataFormatIndex].visibility}" ng-click="meta.function[functionIndex].input[inputIndex].format[dataFormatIndex].visibility = !meta.function[functionIndex].input[inputIndex].format[dataFormatIndex].visibility"><i class="fa" ng-class="{'fa-chevron-up':!meta.function[functionIndex].input[inputIndex].format[dataFormatIndex].visibility, 'fa-chevron-down':meta.function[functionIndex].input[inputIndex].format[dataFormatIndex].visibility}"></i></button>
													</div>
												</div>
												<div ng-class="{'has-error': true};">
													<label class="help-block" ng-repeat="error in registrationErrorPayload.function[functionIndex].input[inputIndex].format[dataFormatIndex]" bo-text="error"></label>
												</div>
											</div>
										</div>
										<div class="form-group" style="padding-top:7px;">
											<a href="" ng-click="addButtonClick('format', input, true, true)">Add data format</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group" style="padding-top:7px;">
							<a href="" ng-show="!meta.function[functionIndex].input[inputIndex].visibility" ng-click="addButtonClick('input', function, true, true)">Add input</a>
							<span ng-show="meta.function[functionIndex].input[inputIndex].visibility">{{ function.input.length }} input<span ng-show="function.input.length > 1">s</span></span> <span ng-show="!meta.function[functionIndex].input[inputIndex].visibility && function.input">| </span><a href="" ng-click="meta.function[functionIndex].input[inputIndex].visibility = !meta.function[functionIndex].input[inputIndex].visibility"><span ng-show="meta.function[functionIndex].input[inputIndex].visibility">Show</span><span ng-show="!meta.function[functionIndex].input[inputIndex].visibility && function.input">Hide inputs</span></a>
						</div>
						<!-- OUTPUT -->
						<div class="form-group" style="margin-bottom:0px;">
							<label class="control-label"><span tooltips tooltip-side="right" tooltip-content="{{Attribute.description.output.description}}">Output</span></label>
							<div uib-collapse="meta.function[functionIndex].output[outputIndex].visibility">
								<div class="panel panel-default panel-inner" ng-repeat="output in function.output track by $index" ng-init="outputIndex = $index" ng-class="{'no-margin-bottom': $last};">
									<div class="panel-body" style="position: relative;">
										<i class="fa fa-times remove-icon highlight-icon" ng-click="removeButtonClick('output', function, $index)"></i>
										<div class="form-group" style="margin-bottom:0px;">
											<label class="control-label"><span tooltips tooltip-side="right" tooltip-content="{{Attribute.description.outputDataType.description}}">Data type <a target="_blank" href="http://biotools.readthedocs.io/en/latest/curators_guide.html#data-type-input-and-output-data"><i class="fa fa-question-circle fa" aria-hidden="true"></i></a></span> <span style="color:#ff0000;"><b>*</b></span></label>
											<div class="input-group" ng-if="output.data != null">
												<input type="text" ng-model="output.data.term" class="form-control input-ontology" placeholder="Data type" disabled="disabled"></input>
												<span class="input-group-btn">
													<button class="btn" type="button" ng-click="output.data.term = 'Data'; meta.function[functionIndex].output[outputIndex].data.selected = undefined; meta.function[functionIndex].output[outputIndex].data.visibility = true;" tooltips tooltip-side="right" tooltip-content="If you can't find the terms you are looking for, please specify them in the 'Note' section below" ng-class="{'btn-primary': output.data.term == 'Data Type', 'btn-default': output.data.term != 'Data Type'}">I don't know</button>
													<button class="btn btn-default highlight-icon input-ontology-btn" type="button" ng-click="output.data = undefined; meta.function[functionIndex].output[outputIndex].data.selected = undefined;"><i class="fa fa-times remove-icon-button"></i> </button>
												</span>
											</div>
											<div ng-if="output.data != null" class="panel panel-default panel-ontology">
												<div class="panel-body" style="padding:0px;">
													<div uib-collapse="meta.function[functionIndex].output[outputIndex].data.visibility">
														<div class="form-group" style="margin:5px;">
															<input type="text" ng-model="meta.function[functionIndex].output[outputIndex].data.predicate" class="form-control input-sm"  placeholder="Filter"></input>
														</div>
														<div treecontrol class="tree-light"
														tree-model="EDAM_data"
														order-by="orderby"
														reverse-order="false"
														options="treeOptions"
														on-selection="output.data.term = node.text; output.data.uri=node.data.uri; resetError('output', registrationErrorPayload.function[functionIndex], outputIndex)"
														selected-node="meta.function[functionIndex].output[outputIndex].data.selected"
														filter-expression="meta.function[functionIndex].output[outputIndex].data.predicate">{{node.text}}</div>
													</div>
													<button type="button" class="btn btn-default btn-xs btn-block btn-ontology" ng-class="{'btn-ontology-closed': meta.function[functionIndex].output[outputIndex].data.visibility}" ng-click="meta.function[functionIndex].output[outputIndex].data.visibility = !meta.function[functionIndex].output[outputIndex].data.visibility"><i class="fa" ng-class="{'fa-chevron-up':!meta.function[functionIndex].output[outputIndex].data.visibility, 'fa-chevron-down':meta.function[functionIndex].output[outputIndex].data.visibility}"></i></button>
												</div>
											</div>
										</div>
										<div ng-class="{'has-error': true};">
											<label class="help-block" ng-repeat="error in registrationErrorPayload.function[functionIndex].output[outputIndex].data" bo-text="error"></label>
										</div>
										<div class="form-group" style="padding-top:7px;">
											<a href="" ng-show="output.data == null" ng-click="addButtonClick('data', output, false, true)">Add data type</a>
										</div>
										<div class="form-group" style="margin-bottom:0px;">
											<label class="control-label"><span tooltips tooltip-side="right" tooltip-content="{{Attribute.description.outputDataFormat.description}}">Data format <a target="_blank" href="http://biotools.readthedocs.io/en/latest/curators_guide.html#data-format-input-and-output-data"><i class="fa fa-question-circle fa" aria-hidden="true"></i></a></span></label>
											<div class="form-group" ng-repeat="format in output.format track by $index" ng-init="dataFormatIndex = $index" ng-class="{'no-margin-bottom': $last};">
												<div class="input-group">
													<input type="text" ng-model="output.format[dataFormatIndex].term" class="form-control input-ontology" placeholder="Data Format" disabled="disabled"></input>
													<span class="input-group-btn">
														<button class="btn" type="button" ng-click="output.format[dataFormatIndex].term = 'Format'; meta.function[functionIndex].output[outputIndex].format[dataFormatIndex].selected = undefined; meta.function[functionIndex].output[outputIndex].format[dataFormatIndex].visibility = true;" tooltips tooltip-side="right" tooltip-content="If you can't find the terms you are looking for, please specify them in the 'Note' section below" ng-class="{'btn-primary': output.format[dataFormatIndex].term == 'Data Format', 'btn-default': output.format[dataFormatIndex].term != 'Operation'}">I don't know</button>
														<button class="btn btn-default highlight-icon input-ontology-btn" type="button" ng-click="removeButtonClick('format', output, $index)"><i class="fa fa-times remove-icon-button"></i> </button>
													</span>
												</div>
												<div class="panel panel-default panel-ontology">
													<div class="panel-body" style="padding:0px;">
														<div uib-collapse="meta.function[functionIndex].output[outputIndex].format[dataFormatIndex].visibility">
															<div class="form-group" style="margin:5px;">
																<input type="text" ng-model="meta.function[functionIndex].output[outputIndex].format[dataFormatIndex].predicate" class="form-control input-sm" placeholder="Filter"></input>
															</div>
															<div treecontrol class="tree-light"
															tree-model="EDAM_format"
															order-by="orderby"
															reverse-order="false"
															options="treeOptions"
															on-selection="ontologyOnSelect(output.format, dataFormatIndex, node); resetError('format', registrationErrorPayload.function[functionIndex].output[outputIndex], dataFormatIndex)"
															selected-node="meta.function[functionIndex].output[outputIndex].format[dataFormatIndex].selected"
															filter-expression="meta.function[functionIndex].output[outputIndex].format[dataFormatIndex].predicate">{{node.text}}</div>
														</div>
														<button type="button" class="btn btn-default btn-xs btn-block btn-ontology" ng-class="{'btn-ontology-closed': meta.function[functionIndex].output[outputIndex].format[dataFormatIndex].visibility}" ng-click="meta.function[functionIndex].output[outputIndex].format[dataFormatIndex].visibility = !meta.function[functionIndex].output[outputIndex].format[dataFormatIndex].visibility"><i class="fa" ng-class="{'fa-chevron-up':!meta.function[functionIndex].output[outputIndex].format[dataFormatIndex].visibility, 'fa-chevron-down':meta.function[functionIndex].output[outputIndex].format[dataFormatIndex].visibility}"></i></button>
													</div>
												</div>
												<div ng-class="{'has-error': true};">
													<label class="help-block" ng-repeat="error in registrationErrorPayload.function[functionIndex].output[outputIndex].format[dataFormatIndex]" bo-text="error"></label>
												</div>
											</div>
										</div>
										<div class="form-group" style="padding-top:7px;">
											<a href="" ng-click="addButtonClick('format', output, true, true)">Add data format</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group" style="padding-top:7px;">
							<a href="" ng-show="!meta.function[functionIndex].output[outputIndex].visibility" ng-click="addButtonClick('output', function, true, true)">Add output</a>
							<span ng-show="meta.function[functionIndex].output[outputIndex].visibility">{{ function.output.length }} output<span ng-show="function.output.length > 1">s</span></span> <span ng-show="!meta.function[functionIndex].output[outputIndex].visibility && function.output">| </span><a href="" ng-click="meta.function[functionIndex].output[outputIndex].visibility = !meta.function[functionIndex].output[outputIndex].visibility"><span ng-show="meta.function[functionIndex].output[outputIndex].visibility">Show</span><span ng-show="!meta.function[functionIndex].output[outputIndex].visibility && function.output">Hide outputs</span></a>
						</div>
						<!-- Function Command -->
						<div class="form-group">
							<label class="control-label"><span tooltips tooltip-side="right" tooltip-content="{{Attribute.description.cmd.description}}">Command <a target="_blank" href="http://biotools.readthedocs.io/en/latest/curators_guide.html#command"><i class="fa fa-question-circle fa" aria-hidden="true"></i></a></span></label>
							<textarea ng-model="software.function[$index].cmd" class="form-control" rows="2" placeholder="e.g. `meme sequence.s -dna`" validate-edit-resource-field index={{$index}}></textarea>
						</div>
						<div ng-class="{'has-error': true};">
							<label class="help-block" ng-repeat="error in registrationErrorPayload.function[functionIndex].cmd" bo-text="error"></label>
						</div>
						<!-- Function Note -->
						<div class="form-group">
							<label class="control-label"><span tooltips tooltip-side="right" tooltip-content="{{Attribute.description.functionNote.description}}">Note <a target="_blank" href="http://biotools.readthedocs.io/en/latest/curators_guide.html#note-function"><i class="fa fa-question-circle fa" aria-hidden="true"></i></a></span></label>
							<textarea ng-model="software.function[$index].note" class="form-control" rows="2" placeholder="e.g. Run MEME on DNA sequences." validate-edit-resource-field index={{$index}}></textarea>
						</div>
						<div ng-class="{'has-error': true};">
							<label class="help-block" ng-repeat="error in registrationErrorPayload.function[functionIndex].note" bo-text="error"></label>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group" style="padding-top:7px;">
				<a href="" ng-show="!meta.function.visibility" ng-click="addButtonClick('function', software, true, true)">Add function</a>
				<span ng-show="meta.function.visibility">{{ software.function.length }} function<span ng-show="software.function.length > 1">s</span></span> <span ng-show="!meta.function.visibility && software.function">| </span><a href="" ng-click="meta.function.visibility = !meta.function.visibility"><span ng-show="meta.function.visibility">Show</span><span ng-show="!meta.function.visibility && software.function">Hide functions</span></a>
			</div>

		</div>
	</div>
</form>
