.navbar {
  display: flex;
  background: linear-gradient(135deg, #005472, #016387);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 64px;

  .content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
  }

  .logo-button { 
    //min-width: auto;

    .biotools-logo {
      height: 36px;
      width: auto;
      margin-top: 9px;
    }
  }
}