<div class="navbar">
  <div class="content">
    <button mat-button class="logo-button" routerLink="/">
      <img src="/img/biotools_white-cropped.svg" alt="bio.tools" class="biotools-logo">
    </button>

    <!-- Search Bar (conditional)
    @if (!isHomePage) {
      <app-search-bar></app-search-bar>
    }
    -->
    
    <a mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <a mat-button routerLink="/domains" routerLinkActive="active">Domains</a>
    <a mat-button routerLink="/communities" routerLinkActive="active">Communities</a>
    <a mat-button routerLink="/about" routerLinkActive="active">About</a>
    <a mat-icon-button routerLink="/t">
        <mat-icon>search</mat-icon>
    </a>
  </div>
</div>