.about-section-container 
{	
	border-left: 5px solid rgb(0, 84, 114);
	padding-left: 15px;
	margin-top: 50px;
	padding-bottom: 5px;
}

.about-section-title 
{	
	color: #4A4A4A;
	font-family: 'Roboto';
	font-size: 24px;
	font-weight: 100;
}

.about-section-text 
{	
	color: #4A4A4A;
	font-family: 'Roboto';
	font-size: 15px;
	font-weight: 100;
	text-align: justify;
}

.about-contact-container 
{	
	display: flex;
	flex-wrap: wrap;
}

.about-contact-container-item
{
	flex-grow: 1;
	min-width: 16%;
}

.about-contact 
{	
	color: #4A4A4A;
	font-family: 'Roboto';
	text-align: center;
	margin-bottom: 15px;
}

.about-contact-initials 
{	
	margin: 0 auto;
	font-size: 36px;
	font-weight: 100;
	height: 86px;
	width:  86px;
	border: 1px solid #4A4A4A;
	border-radius: 43px;
	padding-top: 15px;
	margin-bottom: 10px;
}

.about-contact-image 
{	
	max-height: 56px;
	max-width: 56px;
}

.about-contact-name 
{	
	font-size: 16px;
	font-weight:400;
}

.about-contact-role 
{	
	font-size: 14px;
	font-weight: 100;
}



/* New changes to about page */
div .about-container{
	background-color: #FFF !important;

}
.about-container h2{
	margin-bottom: 60px;
}

.about-section{
	margin-bottom: 45px;
	margin-top: 45px;
}


/* Copy from home */
.flag-item{
	margin-bottom: 25px;
	margin-top: 15px;	
}
.flag-item img{
	border: 1px solid lightgrey;
	max-width: 60px;
    height: auto;
}

.flag-item span{
	font-size: 12px;
	display: block;
 	margin-left: auto;
  	margin-right: auto;
  	margin-top: 5px;
  	text-align: center !important; 
  	font-weight: bolder;
}


.about-summary-cell h4{
	text-align: center;
}

.about-summary-cell p{
	font-size: 14px;
}

.about-summary-cell{
	background-color: #FFF;
	border: 1px solid #5CACEE;
	border-radius: 5px;
	margin: 0 0 10px 0;
}

@media (min-width: 992px) {
    .about-summary-cell{
		min-height: 200px !important;
	}
}

@media (min-width: 1100px) {
    .about-summary-cell{
			min-height: 180px !important;
		}
}

@media (min-width: 1200px) {
    .about-summary-cell{
			min-height: 180px !important;
		}
}

@media (min-width: 1300px) {
    .about-summary-cell{
			min-height: 160px !important;
		}
}

@media (min-width: 1700px) {
    .about-summary-cell{
			min-height: 140px !important;
		}
}

.about-summary-container{
	margin-top: 33px;
	padding: 5px;
	background-color: #D3EEFF;
	border-radius: 5px;
}

.equal-height-row .outer-summary-cell .about-summary-cell{
	flex:1;
	padding:10px;
}