<div ng-controller="AboutController as ctrl">
	
	<div class="jumbotron about-container home-text	">
		<h2>About bio.tools</h2>


		<div class="about-section">
		<h4>Open Data</h4>
		<p class="description-text"><em>bio.tools content</em> is freely available to all under the Attribution 4.0 	International (<a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0</a>) license.  This means you are free to share and adapt the data, so long as you give credit and don’t restrict the freedom of others.</p>
		<p class="description-text">We welcome all types of use of the data, but ask that if you have in mind an application which uses the entire dataset, or a large scale data integration project, then please <a href="mailto:registry-support@elixirmail.cbs.dtu.dk">discuss it with us</a> first.</p>
		</div>

		<hr>

		<div class="about-section">
		<h4>Open Source</h4>
		<p class="description-text"><em>bio.tools</em> source code is freely available to all under the GNU General Public License v3.0 <a href="https://spdx.org/licenses/GPL-3.0.html" target="_blank">(GPL-3.0</a>).  This means you are free to share and adapt our software but must ensure it remains free for all its users.
		</p>

		<p class="description-text">We welcome contributions to the code and are currently developing <a href="https://github.com/bio-tools/biotoolsRegistry/blob/master/contribution.md" target="_blank">technical and social guidelines</a> for the open development of <em>bio.tools</em>. All developments can be tracked on <a href="https://github.com/bio-tools/biotoolsRegistry/issues" target="_blank">GitHub</a>.
		</p>
		</div>

		<hr>

		<div class="about-section">
		<h4>Built by you</h4>
		
		<p class="description-text">
		We depend on the goodwill and enthusiasm of our 1000+ (and growing!) contributors. If you are a software developer or an institutional provideer of online services, we encourage you to <a href="/register" target="_blank">register</a> these in <em>bio.tools</em>; you’ll first need to <a href="/signup" target="_blank">sign-up</a> for a <em>bio.tools</em> account if you don’t already have one.	
		</p>
		<p class="description-text">
			If you’re responsible for one or a few tools and services, the easiest way to register them is to use the <em>bio.tools</em> <a href="/register" target="_blank">registration interface</a> which is available once you’re logged on.  If you’re responsible for very many tools and services, or have specific requirements, it’s best to <a href="mailto:registry-support@elixirmail.cbs.dtu.dk">discuss</a> first with the <em>bio.tools</em> developers.
		</p>
		</div>

		<hr>

		<div class="about-section">
		<h4>Tool IDs</h4>
		
		<p class="description-text">
			All <em>bio.tools</em> entries are assigned a human-friendly, unique identifier based on the resource name, e.g. <a href="/signalp" target="_blank">biotools:signalp</a>. <span class="bolder-text">Once verified</span>, a <em>bio.tools</em> ID provides a stable way to trace software and data resources and integrate <em>bio.tools</em> data with other projects.	
		</p>
		<p class="description-text">	
			<em>bio.tools</em> tool IDs are URL-safe versions of the supplied tool name, which are occasionally shortened or modified as required to produce a practical identifier. They are verified (and adjusted, as necessary) manually, to ensure they are practical, that the tool description is reasonable, and that the entry does not duplicate an already-existing entry.
		</p>
		<p class="description-text">
			Once an ID is created and verified, it will not be deleted and the corresponding Tool Card URL (and Tool Card) will persist in perpetuity, allowing for stable cross-linking and resource tracing.
		</p>
		</div>

		<hr>

		<div class="about-section">
		<h4>Built on standards</h4>
		
		<p class="description-text">
			<em>bio.tools</em> resource descriptions adhere to rigorous information standards including precise semantics and syntax. Scientific  aspects are provided by the <a href="http://github.com/edamontology/edamontology/" target="_blank">EDAM ontology</a>  and technical aspects are covered by <a href="http://github.com/bio-tools/biotoolsschema" target="_blank">biotoolsSchema</a>. Both are open, community-defined standards to which you can contribute.
		</p>
		<p class="description-text">
			The EDAM ontology provides a precise nomenclature (terms within a controlled vocabulary) for scientific characterisation of tools, including topic (a category within the life sciences, <em>e.g.</em> "Proteomics"), operation (a specific scientific thing that a tool does, <em>e.g.</em> "Peptide identification"), data  (a type of biological data, <em>e.g.</em> "Mass spectrometry spectra") and format (a specific data serialisation format <em>e.g.</em> "Thermo RAW").
		</p>
		<p class="description-text">
			biotoolsSchema is a formalised XML schema (XSD) which defines a controlled vocabulary and precise syntax for some 50 general software attributes such as name, description, software license and programming language.  biotoolsSchema makes heavy use of regular expressions, standard identifiers and URLs (to refer to verbose information), enabling concise and consistent descriptions in <em>bio.tools</em>.
		</p>
		<p class="description-text">
			Contributions to EDAM and biotoolsSchema are most welcome.  For EDAM, see the <a href="https://edamontologydocs.readthedocs.io/en/latest/getting_involved.html" target="_blank">documentation</a>. For biotoolsSchema, head to <a href="http://github.com/bio-tools/biotoolsschema" target="_blank">GitHub</a>.
		</p>
		</div>

		<hr>

		<div class="about-section">
		<h4>Community-driven</h4>
		
		<p class="description-text">
			We rely upon scientific communities to improve the terminology and description of resources in different domains of the Life Sciences.  This includes the emerging <a href="https://www.elixir-europe.org/communities" target="_blank">communities</a> being fostered by ELIXIR, and any other group of scientists with an interest to help out.
		</p>
		<p class="description-text">
		As a work in progress, we are trying to establish a network of "thematic editors" to oversee the development of the<a href="http://github.com/edamontology/edamontology/" target="_blank"> EDAM ontology</a> and <em>bio.tools</em> in specific thematic areas. Thematic Editors are experts in their field, well connected within their respective scientific community and with a broad knowledge about the commonly used software and databases. We welcome your help with this - please see the emerging <a href="https://biotools.readthedocs.io/en/latest/editors_guide.html" target="_blank">Editors Guide</a>.	
		</p>
		</div>

		<hr>		

		<div class="about-section">
		<h4>Backed by ELIXIR</h4>
		
		<p class="description-text">
			<em>bio.tools</em> is anchored within <a href="https://www.elixir-europe.org/" target="_blank">ELIXIR</a>, the European Infrastructure for Biological Information. ELIXIR unites Europe’s leading life science organisations in managing and safeguarding the increasing volume of data being generated by publicly funded research. It coordinates, integrates and sustains bioinformatics resources across its member states and enables users in academia and industry to access services that are vital for their research.
		</p>
		<p class="description-text">
			<em>bio.tools</em> development is led by the <a href="http://elixir-node.cbs.dtu.dk/" target="_blank">Danish ELIXIR Node</a>. Long-term support from ELIXIR nodes, and engagement with a coordinated, European-wide community of experts, including national service managers, will ensure that <em>bio.tools</em> remains free, open and maintained in the long term.
		</p>
		</div>

		<hr>

		<div class="about-section">
		<h4>Documentation</h4>
		
		<p class="description-text">
		Project and technical documentations are available for <a href="https://biotools.readthedocs.io/en/latest/" target="_blank">bio.tools</a>, <a href="https://biotoolsschema.readthedocs.io/en/latest/" target="_blank">biotoolsSchema</a> and the <a href="https://edamontologydocs.readthedocs.io/en/latest/" target="_blank">EDAM ontology</a>. Please report any problems or make suggestions via GitHub.	
		</p>
		<p class="description-text">
			Noteworthy docs include:
			<ul>
				<li><a href="https://biotools.readthedocs.io/en/latest/contributors_guide.html" target="_blank">Contributors Guide</a> - how to get involved with <em>bio.tools</em></li>
				<li><a href="https://biotools.readthedocs.io/en/latest/quickstart_guide.html" target="_blank">Quickstart Guide</a> - an emerging guide for end-users of <em>bio.tools</em></li>
				<li><a href="https://biotools.readthedocs.io/en/latest/curators_guide.html" target="_blank">Curators Guide</a> - guidelines for <em>bio.tools</em> curators, including EDAM annotation guidelines</li>
			</ul>
		</p>
		</div>

		<hr>


		<div class="about-section">
		<h4>API</h4>
		
		<p class="description-text">
			Our Web API provides an easy way to access the <em>bio.tools</em> data, allowing precise or alternatively flexible queries over all fields. Please see:
			<ul>
				<li><a href="https://biotools.readthedocs.io/en/latest/api_reference.html" target="_blank">API reference</a></li>
				<li><a href="https://biotools.readthedocs.io/en/latest/api_usage_guide.html" target="_blank">API Usage Guide</a></li>
			</ul>
		</p>
		<p class="description-text">
			We are looking to improve the features and performance of the API and underlying search functionality.  If you have suggestions or would like to get involved please get in touch <a href="mailto:registry-support@elixirmail.cbs.dtu.dk">directly</a> or via <a href="https://github.com/bio-tools/biotoolsregistry/issues" target="_blank">GitHub</a>.
		</p>
		</div>

		<hr>

		
		<div class="about-section">
		<h4>Support</h4>
		
		<p class="description-text">	
			Whether you are a user of <em>bio.tools</em>, a developer who wants to add their tools, or a scientist who wants integrate our data with your own; help is at hand.  Head over to <a href="http://github.com/bio-tools/biotoolsregistry/" target="_blank">GitHub</a> or <a href="mailto:registry-support@elixirmail.cbs.dtu.dk">mail us</a> directly.
		</p>
		<p class="description-text">
			If you want help with EDAM then please use the <a href="https://github.com/edamontology/edamontology/issues" target="_blank">EDAM tracker</a> or <a href="mailto:edam-dev@elixir-dk.org">contact the EDAM developers</a> directly.	
		</p>
		</div>


		<hr>

		<div class="about-section">
		<h4>Publications and citing</h4>
		<p class="description-text">
			If you use <em>bio.tools</em>, please cite:
			<br>
			Ison, J. et al. (2015). <a href="http://nar.oxfordjournals.org/content/early/2015/11/03/nar.gkv1116.long" target="_blank">Tools and data services registry: a community effort to document bioinformatics resources.</a> <em>Nucleic Acids Research.</em> doi: <a href="https://doi.org/10.1093/nar/gkv1116" target="_blank">10.1093/nar/gkv1116</a>
		</p>

		<p class="description-text">
			If you use EDAM or its part, please cite:
			<br>
			Ison, J., Kalaš, M., Jonassen, I., Bolser, D., Uludag, M., McWilliam, H., Malone, J., Lopez, R., Pettifer, S. and Rice, P. (2013). <a href="http://bioinformatics.oxfordjournals.org/content/29/10/1325.full" target="_blank">EDAM: an ontology of bioinformatics operations, types of data and identifiers, topics and formats</a> <em>Bioinformatics</em>, doi: <a href="https://doi.org/10.1093/bioinformatics/btt113" target="_blank">10.1093/bioinformatics/btt113</a>
		</p>

		<p class="description-text">
			For more information please visit our <a href="https://biotools.readthedocs.io/en/latest/publications.html" target="_blank">publications page</a>.
		</p>
		</div>

		

		<hr>

		<div class="about-section">
		<h4>Funding</h4>
		<p class="description-text">
			We acknowledge with gratitude the support of our funders:
			<ul>
				<li>The Danish Ministry of Higher Education and Science.</li>
				<li>ELIXIR-EXCELERATE under the European Union's Horizon 2020 research and innovation programme (grant agreement number <a href="https://cordis.europa.eu/project/rcn/198519_en.html" target="_blank">676559</a>).</li>
			</ul>
		</p>
		</div>


	</div>

</div>