<div class="container-fluid" ng-controller="AboutController as ctrl">
	<div class="row">
		<!-- Community driven Effort -->
		<div class="about-section-container">
			<!-- <div class="about-section-title">Community driven effort</div><br> -->
			<div class="about-section-text">Welcome to bio.tools. We aim to provide a comprehensive and consistent registry of information about world-wide bioinformatics software resources of all flavours, from simple command-line tools through to complex Web applications. bio.tools development is supported by <link>ELIXIR</link> - the European infrastructure for life-science information</div>
		</div>
		<!-- Team -->
		<div class="about-section-container">
			<div class="about-section-title">Our team</div><br>
			<div class="about-contact-container">
				<div class="about-contact-container-item" about-contact name="Jon Ison" initials="JI" role="Technical coordinator"></div>
				<div class="about-contact-container-item" about-contact name="Emil Rydze" initials="ER" role="Lead developer"></div>
				<div class="about-contact-container-item" about-contact name="Lukas Berger" initials="LB" role="Programmer"></div>
				<div class="about-contact-container-item" about-contact name="Piotr Chmura" initials="PC" role="Programmer"></div>
				<div class="about-contact-container-item" about-contact name="Hans Ienasescu" initials="HI" role="Lead curator"></div>
				<div class="about-contact-container-item" about-contact name="Henriette Husum Bak-Jensen" initials="HHJ" role="Project manager"></div>
			</div>
		</div>
		<!-- Open data -->
		<div class="about-section-container">
			<div class="about-section-title">Open data</div><br>
			<div class="about-section-text">The entire bio.tools content is freely available to all under the Creative Commons Attribution licence (CC BY 4.0) and available via our <a href="http://biotools.readthedocs.io/en/latest/api_reference.html">API</a></div>
		</div>
		<!-- Ways to get involved -->
		<div class="about-section-container">
			<div class="about-section-title">Ways to get involved</div><br>
			<div class="about-section-text">There are lots of ways to get involved in the project - please check out our<a href="http://biotools.readthedocs.io/en/latest/contributors_guide.html"> guide</a></div>
		</div>
		<!-- Publications -->
		<div class="about-section-container">
			<div class="about-section-title">Publications</div><br>
			<div class="about-section-text">Use the last four of five (not the first) listed under “Publications” <a href="http://biotools.readthedocs.io/en/latest/publications.html">here</a></div>
		</div>
		<!-- Institutes Involved -->
		<div class="about-section-container">
			<div class="about-section-title">Institutes involved</div><br>
			<div class="about-section-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div><br>
			<div class="about-contact-container">
				<div class="about-contact-container-item" about-contact name="Technical University of Denmark" image="img/logo_dtu.png"></div>
				<div class="about-contact-container-item" about-contact name="University of Copenhagen" image="img/logo_ku.png"></div>
				<div class="about-contact-container-item" about-contact name="European Molecular Biology Laboratory" image="img/logo_embl.png"></div>
				<div class="about-contact-container-item" about-contact name="Aarhus University" image="img/logo_au.png"></div>
				<div class="about-contact-container-item" about-contact name="Aalborg University" image="img/logo_aau.png"></div>
				<div class="about-contact-container-item" about-contact name="University of Southern Denmark" image="img/logo_usd.png"></div>
				<div class="about-contact-container-item" about-contact name="Swiss Institute for Bioinformatics" image="img/logo_sib.png"></div>
				<div class="about-contact-container-item" about-contact name="Pasteur Institute" image="img/logo_pi.png"></div>
			</div>
		</div>
		<br>
	</div>
</div>