<div class="community-container jumbotron home-text" ng-controller="CommunityController">
     
    
    <h1>bio.tools and communities</h1>
    <p class="description-text">
        We rely upon scientific communities to improve the terminology and description of resources in different domains of the Life Sciences. This includes the <a href="https://www.elixir-europe.org/communities" target="_blank">communities</a> being fostered by ELIXIR, and any other group of scientists with an interest to help out.
        With the help of the community we can create and maintain high quality software descriptions. Furthermore we can try to answer important questions such as:
        <ul class="description-text">
            <li>Whare are the "standard", most used tools in a specific area of life science?</li>
            <li>Are these "standard" tools known, visible and accessible in an easy way to the community and other (potentially new) users?</li>
            <li>Are there any new tools published in the literature that can be included in the "standard" tools list?</li>
        </ul>	
    </p>
    <p class="description-text">
        We strongly encourage everyone to take part in the community effort and contribute. <a href="mailto:support-bio-tools@sdu.dk">Email us</a> for more info.
    </p>
    <h4>Communities and domains</h4>
    <p class="description-text">
        In bio.tools we try, with the help of the community, to create content <a ng-href="/domains">domains</a> or "slices" relevant to a specific community, research area or task (e.g. <a ng-href="/t?domain=proteomics">Proteomics</a>, <a ng-href="/t?domain=rare-diseases">Rare diseases</a>).
    </p>

    <!-- <p class="communities-desc">
        <span class="stronger"> We strongly recommend you tag your tools as part of one or more communities.</span> 
        This can easily be done from the <span class="stronger">Community</span> tab when annotating your tools.
    </p>
    <p class="communities-desc">
        <span class="stronger">When you tag your tool as part of a community it will appear in that community's domain</span> (e.g. view the Rare Diseases community tools at <a ng-href="https://rare-diseases.bio.tools">rare-diseases.bio.tools</a>).
    </p> -->
    <p class="communities-desc">
        See the current communities and their corresponding bio.tools domains below.
    </p>
    
    <br>
    <hr> 

    <section class="elixir-community">
           
        <div class="community-content">
            <h4 class="community-name">3D-BioInfo</h4>
            <p class="description-text comm-desc">
                3D-Bioinfo aims to establish formal platforms to integrate tools and resources in the field of structural bioinformatics
            </p>
            
            <div class="comm-subdomain">
                <span class="domain-title">3D-BioInfo</span> (
                <a ng-href="https://bio.tools/t?domain=3d-bioinfo" target="_blank">3d-bioinfo</a> )
                <p>
                    Helps to understand the 3D structure of macromolecules like proteins and DNA.
                </p>

                <span class="domain-title">3D-BioInfo-Structure-Function</span> ( 
                <a ng-href="https://bio.tools/t?domain=3d-bioinfo-structure-function" target="_blank">3d-bioinfo-structure-function</a> )
                <p>
                    FAIR access to experimental and predicted 3D models and associated structural and functional annotations
                </p>

                <span class="domain-title">3D-BioInfo-Protein-Complex</span> ( 
                <a ng-href="https://bio.tools/t?domain=3d-bioinfo-protein-complex" target="_blank">3d-bioinfo-protein-complex</a> )
                <p>
                    Open resources for sharing, integrating and benchmarking software tools for modelling the interactome in 3D
                </p>
                
                <span class="domain-title">3D-BioInfo-Protein-Ligand-Interactions</span> ( 
                <a ng-href="https://bio.tools/t?domain=3d-bioinfo-protein-ligand-interactions" target="_blank">3d-bioinfo-protein-ligand-interactions</a> )
                <p>
                    Modelling protein-Ligand interactions and structure-based computer-aided drug design
                </p>

                <span class="domain-title">3D-BioInfo-Nucleic-Acid</span> ( 
                <a ng-href="https://bio.tools/t?domain=3d-bioinfo-nucleic-acid" target="_blank">3d-bioinfo-nucleic-acid</a> )
                <p>
                    Tools to describe, analyse, annotate, and predict nucleic acid structures
                </p>

                <span class="domain-title">3D-BioInfo-Protein-Engineering</span> ( 
                <a ng-href="https://bio.tools/t?domain=3d-bioinfo-protein-engineering" target="_blank">3d-bioinfo-protein-engineering</a> )
                <p>
                    Brings together researchers who are involved in generating data in protein engineering with researchers interested in interrogating such data
                </p>
                
            </div>
            
        </div>
        
    </section>

    <hr>   

    <section class="elixir-community"> 
        <div class="community-content">
            <h4 class="community-name">Human Copy Number Variation</h4>
            <p class="description-text comm-desc">
                Aims to make it easier to detect, annotate and interpret human Copy Number Variations (hCNVs).
            </p>
            
            <div class="comm-subdomain">
                <span class="domain-title">ELIXIR hCNV</span> (
                <a ng-href="https://bio.tools/t?domain=elixir-hcnv" target="_blank">elixir-hcnv</a> )
                <p>
                    ELIXIR hCNV community - CNV detection tools
                </p>
            </div>
            
        </div>
        
    </section>

    <hr>
    <section class="elixir-community"> 
        <div class="community-content">
            <h4 class="community-name">Intrinsically Disordered Proteins</h4>
            <p class="description-text comm-desc">
                Intrinsically disordered proteins (IDP) are proteins containing regions that lack a stable secondary or tertiary structure. 
                <br>
                These regions are called intrinsically disordered regions (IDRs) and play a central role in cell regulation, they are also thought to be involved many human diseases including cancer and neurodegenerative diseases.
            </p>
            
            <div class="comm-subdomain">
                <span class="domain-title">Intrinsically Disordered Proteins</span> (
                <a ng-href="https://bio.tools/t?domain=disordered-proteins" target="_blank">disordered-proteins</a> )
                <p>
                    Intrinsically Disordered Proteins and Regions
                </p>
                
                <span class="domain-title">Biomolecular condensates</span> (
                <a ng-href="https://bio.tools/t?domain=biomolecular-condensates" target="_blank">biomolecular-condensates</a> )
                <p>
                    Biomolecular condensates and membraneless organelles formed by liquid-liquid phase separation
                </p>
                
            </div>
            
        </div>
        
    </section>

    <hr>

    <section class="elixir-community"> 
        <div class="community-content">
            <h4 class="community-name">Proteomics</h4>
            <p class="description-text comm-desc">
                Bioinformatics resource catalogue for proteomics research
            </p>
            
            <div class="comm-subdomain">
                <span class="domain-title">Proteomics</span> (
                <a ng-href="https://bio.tools/t?domain=proteomics" target="_blank">proteomics</a> )
                <p>
                    Proteomics software tools and databases
                </p>
            </div>
            
        </div>
        
    </section>

    <hr>

    <section id="rare-diseases">
        <div class="community-content">
            <h4 class="community-name">Rare Diseases</h4>
            <p class="description-text comm-desc">
                Tools and services catalogues useful for rare disease research provided by the Rare Disease Community
            </p>

            <div class="comm-subdomain">
                <span class="domain-title">Rare diseases registry</span> (
                <a ng-href="https://bio.tools/t?domain=rare-diseases" target="_blank">rare-diseases</a> )
                <p>
                    Catalogue of resources useful for rare disease research
                </p>

                <span class="domain-title">RD-Connect</span> ( 
                <a ng-href="https://bio.tools/t?domain=rd-connect" target="_blank">rd-connect</a> )
                <p>
                    Resources used in the RD-Connect platform (<a href="https://platform.rd-connect.eu" target="_blank">https://platform.rd-connect.eu</a>) for data analysis and interpretation
                </p>

                <span class="domain-title">Developd RD-Connect</span> ( 
                <a ng-href="https://bio.tools/t?domain=developed-rd-connect" target="_blank">developed-rd-connect</a> )
                <p>
                    Tools developed in the context of the RD-Connect project
                </p>

                <span class="domain-title">EJP-RD resources</span> ( 
                <a ng-href="https://bio.tools/t?domain=EJPRD" target="_blank">EJPRD</a> )
                <p>
                    Resources part of the European Joint Programme on Rare Diseases (EJP-RD)
                </p>

            </div>
            
        </div>
        
    </section>
    

</div>
